/* ********************************************************************* *
**                                                                       *
**                                                                       *
**                    progress_name : mobile_style                       *
**                           author : sid                                *
**                          version : 1.0                                *
**                      create_time : 2017.12.7                          *
**                                                                       *
**                                                                       *
 * ********************************************************************* */






/* ******************************* reset ******************************* *
** 
**
**                            移动端重置默认样式
**
**
 * ******************************* reset ******************************* */

* {
    margin: 0;
    padding: 0;
    font-size: .26rem;
}


h1,.h1 { 
    padding-top: .2rem; 
    font-size: .64rem; 
    font-weight: bold; 
    line-height: .36rem;
}

h2,.h2 { 
    padding-top: .23rem; 
    font-size: .48rem; 
    font-weight: bold; 
    line-height: .36rem;
}

h3,.h3 {
    padding-top: .265rem;
    font-size: .32rem; 
    font-weight: bold;  
    line-height: .36rem;
}

h4,.h4 {
    padding-top: .28rem;
    font-size: .28rem; 
    font-weight: bold;
    line-height: .36rem;
}

h5,.h5 {
    padding-top: .3rem;
    font-size: .24rem; 
    font-weight: bold;
    line-height: .36rem;
}

h6,.h6 {
    padding-top: .3rem;
    font-size: .20rem;
    font-weight: bold;
    line-height: .36rem;
}


a:link {
    text-decoration: none;
}

a {
    color: #000;
}

ul {
    padding: 0;
    list-style: none;
}

input {
    outline: none;
    border:none;
}




/* ******************************* reset ******************************* *
** 
**
**                          移动端设置默认基础样式
**
**
 * ******************************* reset ******************************* */

 ::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-overflow-scrolling: touch;
}




/* ******************************* global ******************************* *
** 
**
**                               全局基础样式
**
**
 * ******************************* global ******************************* */

.flt {
    float: left;
}

.frt {
    float: right;
}

.w-100 {
    width: 100%;
}

.txtr {
    text-align: right;
}

.txtm {
    text-align: center;
}

.bold {
    font-weight: bold;
    letter-spacing: .03rem;
}

.divider {
    width: 100%;
    height: 1px;
}


.col-33 {
    float: left;
    width: 2.5rem;
}



/* ***************************** container ****************************** *
** 
**
**                           页面框架组件基础样式
**
**
 * ***************************** container ****************************** */

.container {
    position: relative;
    margin: 0 auto;
    width: 7.5rem;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;
}


/*  
** ———— 首页搜索 ————
*/

.search {
    position: fixed;
    width: 7.35rem;
    z-index: 100;
    height: .4rem;
    margin: .08rem;
    padding: .25rem;
    color: #666;
    text-align: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 .4rem .02rem rgba(1, 17, 17, .05) inset;
}


/*  
** ———— 顶部导航 ————
*/

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 1rem;
    font-size: .4rem;
    line-height: .8rem;
    text-align: center;
    background-color: #fff;
}

.topbar .title {
    margin-top: .15rem;
    margin-left: -.3rem;
    font-size: .32rem;
    font-weight: 100;
}

.topbar .title .btns{
    display: inline-block;
    margin-left: .1rem;
    font-size: .32rem;
    font-weight: 100;
    color: #ccc;
}

.topbar .title .active {
    color: #333;
    border-bottom: solid .05rem #333;
}



/*  
** ———— 返回按钮 ————
*/

.btn-left {
    height: 1rem;
}

.btn-right {
    height: 1rem;
}

.btn-left img {
    width: .44rem;
    height: .44rem;
    margin-top: .3rem;
    margin-left: .3rem;
}

.btn-right img {
    width: .44rem;
    height: .44rem;
    margin-top: .3rem;
    margin-right: .3rem;
}

.btn-next img {
    width: .44rem;
    height: .44rem;
    margin-top: .24rem;
    margin-right: 0rem;
}


/*  
** ———— 容器内容 ————
*/

.container-content {
    position: relative;
    width: 7.5rem;
    height: 93vh;
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    
}


/*  
** ———— 容器底部留白 ————
*/
.bttmblank {
    height: 1rem;
    background-color: #fff;
}


/*  
** ———— 底部导航 ————
*/
.bttmbar {
    position: relative;
    z-index: 100;
    height: 1rem;
    width: 100%;
    margin-top: -1rem;
    box-shadow: 0 0 .1rem .03rem rgba(1, 17, 17, .1);

}

.bttm-btns {
    width: 100%;
}

.bttm-btns .btn-items {
    width: 20%;
    float: left;
}

.bttm-btns .btn-items .a-wrapper {
    display: block;
    width: 100%;
    height: 1rem;
    text-align: center;
    background-color: #fff;
}

.bttm-btns .btn-items .images{
    display: inline-block;
    width: .44rem;
    height: .44rem;
    margin-top: .15rem;
    margin-left: .04rem;
}

.bttm-btns .btn-tips {
    display: block;
    margin-top: -.08rem;
    color: #777;
}


#touch {
    width: 200px;
    height: 30px;
    background-color: #dd333d;
}

/* ****************************** swiper ******************************** *
** 
**
**                         页面框架切换组件样式
**
**
 * ****************************** swiper ******************************** */

.swiper {
    padding-bottom: 1rem;
}

.swiper-wrapper {
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
}

.swiper-wrapper .swiper-items {
    display: inline-block;
    width: 100vw;
    height: 93vh;
}

.swiper-tips {
    position: fixed;
    top: 1rem;
    left: 0;
    z-index: 10;
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
}

.swiper-tips .tip-items {
    display: inline-block;
    width: 33.3%;
    height: .8rem;
    font-size: .28rem;
    line-height: .8rem;
    color: #777;
    text-align: center;
    border-right: solid .01rem #f6f6f6;
}

.swiper-tips .active {
    color: #dd333d;
    border-bottom: solid .04rem #dd333d;
}




/* ******************************* coupon ******************************** *
** 
**
**                              优惠券组件样式
**
**
 * ******************************* coupon ******************************** */
.coupon {
    white-space: normal;
}

.coupon-wrapper {
    padding-top: 1rem;
}

.coupon .items {
    position: relative;
    width: 6.8rem;
    height: 2.4rem;
    margin: 0 auto;
    margin-top: .3rem;
    overflow: hidden;
    border-radius: .05rem;
}

.coupon .items:hover {
    height: 3.7rem;
}

.coupon .items .coupon-bak {

}

.coupon .items .coupon-bak img {
    display: block;
    width: 100%;
}

.coupon .items .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.2rem;

    padding: .3rem;
}

.coupon .items .content .content-up {
    width: 100%;
}

.coupon .items .content .content-up .price {

    font-size: .56rem;
    font-weight: 700;
    color: #dd333d;
}

.coupon .items .content .content-up .price b{
    font-size: .32rem;
}

.coupon .items .content .content-up .tips {
    position: absolute;
    top: .5rem;
    right: .3rem;
}

.coupon .items .content .content-down {
    margin-top: .55rem;
}

.coupon .items .content .content-down .time {
    color: #b9b9b9;
}

.coupon .items .content .content-down .use-tips {
    position: absolute;
    top: 1.6rem;
    right: .3rem;
    color: #b9b9b9;
}

.coupon .items .content-tips {
    width: 6.2rem;
    padding: .3rem;
    padding-top: .1rem;
    color: #ccc;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.coupon .items .content-tips p {
    width: 100%;
    line-height: .4rem;
}














/* ******************************** form ******************************** *
** 
**
**                           表单提交列表组件样式
**
**
 * ******************************** form ******************************** */

.form {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.form .form-title h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: #444;
}

.form-items {
    width: 6.6rem;
    height: 1rem;
    margin: 0 auto;
    margin-bottom: .1rem;
    line-height: 1rem;
    border-bottom: solid 0.001rem #ddd;
}

.form-items .item-tips {
    display: inline-block;
    width: 1.2rem;
    font-size: .3rem;
    font-weight: normal;
    color: #777;
    text-indent: .08rem;
}

.form-items input {
    width: 4.6rem;
    height: .64rem;
    padding-left: .2rem;
    color:　#777;
}

.form-items .reg {
    width: 3.2rem;
}

.form-items .reg-number {
    display: inline-block;
    width: 1.4rem;
    height: .6rem;
    margin-left: .2rem;
    padding-left: .2rem;
    line-height: .6rem;
    vertical-align: .06rem;
    border: solid .01rem #ccc;
    border-radius: .05rem;
}

.form .btn {
    margin-bottom: 0;
    border: none;
}

.form .login button {
    width: 100%;
    padding: .24rem 0;
    color: #fff;
    background-color: rgb(35, 35, 47);
    border: none;
    border-radius: .05rem;
    outline: none;
}

.form .login button:hover {
    color: #333;
}

.form .wechat button {
    width: 100%;
    padding: .24rem 0;
    color: #fff;
    background-color: rgb(68, 174, 48);
    border: none;
    border-radius: .05rem;
    outline: none;
}

.form .regist a {
    display: inline-block;
    width: 99.5%;
    padding: .24rem 0;
    text-align: center;
    line-height: .26rem;
    color: #333;
    background-color: rgb(255, 255, 255);
    border: solid 1px #b9b9b9;
    border-radius: .05rem;
    outline: none;
}

.form .forget a{
    font-size: .16rem;
    color: #999;
    text-decoration-line: underline;
}

.form .eye {
    display: inline-block;
    width: .44rem; 
    height: .21rem;
    background: url('../image/icon/eye.png');
    background-size: 100%;
}

.form .op-eye {
    display: inline-block;
    width: .44rem; 
    height: .25rem;
    background: url('../image/icon/op_eye.png');
    background-size: 100%;
}




/* **************************** entry-alert ******************************** *
** 
**
**                        弹框修改属性列表组件样式
**
**
 * **************************** entry-alert ******************************** */

.entry-alert {
    padding-bottom: 1rem;
}

.entry-alert .entry-list {
    margin-top: .2rem;
    background-color: #fff;
}

.entry-alert .items {
    width: 100%;
    border-bottom: solid 1px #f6f6f6;
}

.entry-alert .items .a-wrapper {
    display: block;
    height: .9rem;
    padding: 0 .3rem 0 .42rem;
}

.entry-alert .items .avator-wrapper {
    height: 2rem;
    margin-top: .4rem;
    padding-top: .6rem;
}

.entry-alert .items .avator-wrapper .avator {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    overflow: hidden;
}

.entry-alert .items .avator-wrapper .avator img{
    width: 200%;
    height: 200%;
    transform: translate(-25%,-25%);
}

.entry-alert .items .avator-wrapper .btn-right img{
    width: .44rem;
    height: .44rem;
    margin-top: .7rem;
    margin-right: 0;
}

.entry-alert .entry-tips {
    width: 1.2rem;
    padding-top: .24rem;
    font-size: .3rem;
    text-align: center;
    color: #b9b9b9;
}

.entry-alert .attribute {
    padding-top: .28rem;
    padding-left: 1.8rem;
    font-size: .28rem;
    color: #777;
}





/* **************************** entry-page ******************************** *
** 
**
**                       跳转页面修改属性列表组件样式
**
**
 * **************************** entry-page ******************************** */

.entry-page {
    padding-bottom: 1rem;
}

.entry-page .entry-list {
    margin-top: .2rem;
    background-color: #fff;
}

.entry-page .items {
    width: 100%;
    border-bottom: solid 1px #f6f6f6;
}

.entry-page .items .a-wrapper {
    display: block;
    height: .9rem;
    padding: 0 .3rem 0 .42rem;
}

.entry-page .entry-tips {
    width: 1.6rem;
    padding-top: .24rem;
    font-size: .3rem;
    color: #444;
}

.entry-page .attribute {
    padding-top: .28rem;
    padding-left: 1.8rem;
    font-size: .28rem;
    color: #777;
}







/* *************************** user-brief ******************************* *
** 
**
**                               用户简介
**
**
 * *************************** user-brief ******************************* */

 .user-brief {
    height: 2.6rem;
    padding-top: 1rem;
}

.user-brief .a-wrapper {
    display: block;
    height: .9rem;
    padding: 0 .3rem 0 .42rem;
}

.user-brief .avator-wrapper {
    height: 2rem;
    padding-top: .6rem;
}

.user-brief .avator-wrapper .avator {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .1rem;
    border-radius: 50%;
    overflow: hidden;
}

.user-brief .avator-wrapper .avator img{
    width: 200%;
    height: 200%;
    transform: translate(-25%,-25%);
}

.user-brief .tips {
    font-size: .32rem;
}








/* **************************** user-cash ******************************* *
** 
**
**                               用户余额
**
**
 * **************************** user-cash ******************************* */
.user-cash {
    height: 1rem;
    text-align: center;
}



/* **************************** my-order ******************************* *
** 
**
**                               我的订单
**
**
 * **************************** my-order ******************************* */
.my-order {
    background-color: #fff;
}

.my-order .title {
    padding: .2rem .3rem;
}

.my-order .all {
    padding-top: .2rem;
    padding-right: .3rem;
    font-size: .28rem;
}

.my-order .all a {
    color: #999;
}

.my-order .btn-list {
    border-top: solid .01rem #eee;
}









/* ******************************* info ********************************* *
** 
**
**                            消息列表组件样式
**
**
 * ******************************* info ********************************* */

 .info {
    padding-bottom: 1rem;
}

.info .info-list {
    margin-top: .2rem;
    background-color: #fff;
}

.info .items {
    width: 100%;
    height: 1.4rem;
}

.info .items .a-wrapper {
    display: block;
    height: .9rem;
    padding: .3rem;
}

.info .info-title {
    position: relative;
    font-size: .26rem;
}

.info .info-title .new-tips {
    position: absolute;
    top:0;
    right: -.1rem;
    display: block;
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    background-color: #ff2832;
}

.info .info-time {
    font-size: .24rem;
    color: #b9b9b9;
}

.info .info-text {
    clear: both;
    padding-top: .14rem;
    font-size: .24rem;
    font-weight: 100;
    color: #aaa;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}






/* *************************** carousel ********************************* *
**
**
**                            轮播组件样式
**
**
 * *************************** carousel ********************************* */

.carousel {
    position: relative;
    margin-top: .62rem;
    height: 4.2rem;
    background-color: #fff;
}


.slider {
    width: 7.5rem;
    height: 3.8rem;
    overflow-x: scroll;
}

.slider-group {
    width: 30rem;
    white-space: nowrap;
}

.slider-item {
    float: left;
    width: 7.5rem;
    height: 3.8rem;
    font-size: 0;
    overflow: hidden;
}



.slider-btns {
    position: absolute;
    left: 38%;
    bottom: .14rem;
    list-style: none;
}






/* 
**  —————— 圆点轮播按钮 ——————
*/

.slider-btns .sbtn-items {
    float: left;
    width: .5rem;
    height: .05rem;
    margin-left: .2rem;
    font-size: .26rem;
    color: #fff;
    background-color: #ddd;
    cursor: pointer;
}

.slider-btns .active {
    background-color: #999;
}

.slider-btns .sbtn-items:hover {
    list-style: disc;
}





/* 
**  —————— 圆点轮播按钮 ——————
*/

/* .slider-btns .sbtn-items {
    float: left;
    margin-left: .2rem;
    font-size: .26rem;
    color: #fff;
    cursor: pointer;
}

.slider-btns .sbtn-items:hover {
    list-style: disc;
} */

.slider-btns b{
    font-size: 0;
}

.prev {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    width: .45rem;
    height: 1rem;
    font-size: 0;
    background: url(../image/icon/silder_btn.png) no-repeat;
    transition: all .5s;
    opacity: .1;
    overflow: hidden;
    cursor: pointer;
}

.prev:hover {
    opacity: .3;
}

.next{
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    width: .45rem;
    height: 1rem;
    font-size: 0;
    background: url(../image/icon/silder_btn.png) no-repeat;
    transition: all .5s;
    background-position: right 0;
    opacity: .1;
    overflow: hidden;
    cursor: pointer;
}

.next:hover {
    opacity: .3;
}





/* ****************************** fight ******************************** *
** 
**
**                              fight-model
**
**
 * ****************************** fight ******************************** */
 .fight-model {
     padding-top: .2rem;
     background-color: #fff;
 }

 .fight-title {
    margin: 0 auto;
    width: 3.7rem;
}

.fight-title img {
    display: block;
    width: 100%;
}

.fight-body {
    position: relative;
    height: 3rem;
    margin-top: .1rem;
    border-top: solid .01rem #eee;
}

.fight-body .bak {
    position: absolute;
    left: 0;
    bottom: -.1rem;
    z-index: 1;
    width: 100%;
}

.fight-body .bak img {
    display: block;
    width: 100%;
}

.fight-goods {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

.fight-wrapper {
}

.fight-wrapper .items {
    display: inline-block;
}

.fight-wrapper .items .a-wrapper {
    display: block;
    width: 100%;
    height: 2.6rem;
}

.fight-wrapper .items .goods {
    width: 2rem;
    height: 2rem;
    margin-top: .4rem;
    margin-left: .1rem;
}

.fight-wrapper .items .goods .images {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    background-color: rgba(100, 100, 100, .01);
}

.fight-wrapper .items .goods .images img {
    display: block;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
}

.fight-wrapper .items .goods .goods-tips {
    width: 90%;
    height: .36rem;
    margin: 0 auto;
    overflow: hidden;
}





/* ***************************** banner ******************************** *
** 
**
**                               banner
**
**
 * ***************************** banner ******************************** */
.banner {
    width: 7.5rem;
    height: 4.3rem;
    padding-top: .4rem;
    background-color: #fff;
}

.banner-wrapper {
    width: 6.8rem;
    height: 4rem;
    margin: 0 auto;
    border: solid .01rem rgba(193, 224, 227, 1);
}

.banner-wrapper .images {
    width: 100%;
}

.banner-wrapper .images img{
    display: block;
    width: 100%;
}

.banner-wrapper .content {
    padding-left: .26rem;
}

.banner-wrapper .content .main {
    margin-top: .04rem;
    font-size: .2rem;
    font-weight: 100;
    color: #b9b9b9;
}









/* ***************************** themes ******************************** *
** 
**
**                              VI视觉样式
**
**
 * ***************************** themes ******************************** */

 .pig-bak {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pig-bak img {
    display: inline-block;
    width: 100%;
}

.version {
    position: absolute;
    bottom: .3rem;
    left: 50%;
    width: 4rem;
    margin-left: -2rem;
    font-size: .32rem;
    letter-spacing: .04rem;
    text-align: center;
    color: #999;
}

.bak-gray {  
    background-color: #f9f9f9;
}

.font-gray {  
    background-color: #999;
}

.bak-none {  
    background-color: rgba(0, 0, 0, 0);
}


.bdr-btm {
    border-bottom: solid .01rem #e8e8e8;
}

.box-sd01 {
    box-shadow: 0 0 .2rem 0 rgba(1, 17, 17, .1);    
}

.btn-default {
    width: 100%;
    padding: .24rem 0;
    color: #fff;
    background-color: rgb(35, 35, 47);
    border: none;
    border-radius: .05rem;
    outline: none;
}




/* ***************************** animate ******************************** *
** 
**
**                               动画样式
**
**
 * ***************************** animate ******************************** */
