.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.logo {
    float: left;
    display: table;
    width: 40%;
    height: 72px;
}

.title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.title-wrapper .title {
    margin-top: 8px;
    font-size: 40px;
    color: #666;
    font-family: 'LedFont', cursive, 'Microsoft YaHei', sans-serif;
}

.title-wrapper .author {
    margin-top: 8px;
    font-size: 12px;
}

.topbar {
    float: right;
    display: table;
    width: 60%;
    min-width: 500px;
    height: 72px;
}

.topbar-wrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.topbar-wrapper li{
    display: inline-block;
    text-align: center;
    width: 48px;
    margin-right: 10px;
    margin-left: 10px;
}

.topbar-wrapper li a {
    font-size: 16px;
    color: #666;
    font-family: 'Optima', 'PingFang SC', 'Roboto', 'Noto SansCJK', 'Helvetica Neue', 'Helvetica', "微软雅黑", "YaHei-Consolas-Hybrid", sans-serif;
}

.topbar-wrapper li i {
    font-size: 12px;
    color: #666;
}

.topbar-wrapper .cur a {
    color: #000;
}

.topbar-wrapper .cur i {
    font-size: 13px;
    font-weight: bold;
    color: rgb(126, 121, 121);
}

@media screen and (max-width:900px) {
    .header {
        height: 144px;
    }
    .logo {
        float: none;
        margin: 0 auto;
    }
    .topbar {
        float: none;
        min-width: 320px;
        margin: 0 auto;
    }

    .topbar-wrapper li{
        width: 38px;
        margin-right: 0px;
        margin-left: 0px;
    }
}