/****** CSSRESET ******/
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #000;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

button {
    outline: none;
}

button {
    border: none;
}

html {
    min-width: 374px;
}

body { 
    line-height: 1;
    font-family: Microsoft Yahei,SimSun,Helvetica;
    background-color: #fff;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* ************************* global_define *********************** */

* {
  transition: all .35s;
}

h1 { font-size: 24px; font-weight: bold;}

h2 { font-size: 20px; font-weight: bold;}

h3 { font-size: 16px; font-weight: bold;}

h4 { font-size: 14px; font-weight: bold;}

h5 { font-size: 13px; font-weight: bold;}

h6 { font-size: 12px; font-weight: bold;}

p { font-size: 10px; }

.clearfix {
    clear:both;
}

.frt {
    float: right;
}

.flt {
    float: left;
}


.context {
    width: 600px;
    height: 100px;
}

.w-1200 {
    width: 1200px;
    margin: 0 auto;
}



hr {
  margin: 10px 0;
  border: solid .5px #eee;
}





/* *************************** font-define **************************** */

@font-face{
    font-family: 'LedFont';
    src : url('../font/lcd.ttf');
}

@font-face {
    font-family: "iconfont";
    src: url("../font/iconfont/iconfont.eot");
    src: url("../font/iconfont/iconfont.eot") format('embedded-opentype'), url("../font/iconfont/iconfont.woff") format('woff'), url("../font/iconfont/iconfont.ttf") format('truetype'), url("../font/iconfont/iconfont.svg") format('svg');
  }
  .iconfont {
    font-family: 'iconfont';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-mail:before {
    content: "\e694";
  }
  .icon-alipay:before {
    content: "\e695";
  }
  .icon-facebook:before {
    content: "\e696";
  }
  .icon-linkedin:before {
    content: "\e697";
  }
  .icon-ins:before {
    content: "\e698";
  }
  .icon-zhihu:before {
    content: "\e69a";
  }
  .icon-twitter:before {
    content: "\e69b";
  }
  .icon-weibo:before {
    content: "\e69e";
  }
  .icon-moments:before {
    content: "\e6a0";
  }
  .icon-right:after {
    content: "\e78b";
  }
  .icon-up:before {
    content: "\e7a8";
  }
  .icon-left:before {
    content: "\e833";
  }
  .icon-github:before {
    content: "\e6ed";
  }
  .icon-more:before {
    content: "\e652";
  }
  .icon-visit:before {
    content: "\e637";
  }
  .icon-people:before {
    content: "\e651";
  }


/* *************************** global_page **************************** */
