h3,h4,h5 {
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    line-height: 26px;
}

h5 {
    color: #000;
}

h4 {
    color: #333;
}

h3 {
    color: #555;
}

/* 
*   提示
*/
b {
    color: #ccc;
}


.wrapper {
    box-sizing: border-box;
    padding: 0 30px;
}
  
.container {
    box-sizing: border-box;
    float: right;
    width: 61.80%;
    padding: 30px;
}
  
  
  
  
  
  
  
@media (max-width: 900px) {
    .container {
         width: 100%;
    }
}
  
footer {
    box-sizing: border-box;
    padding-top: 30px;
}

.copyright {
    margin: 0 auto;
    width: 320px;
    color: #666;
}