<div class="page">
   <div class="page-header">
      <h4>管理中心</h4>
      <div class="frt">
         <button id="addUser">添加用户</button>
      </div>
   </div>
   <div class="control">
      <div class="control-header">
         <ul class="control-menu">
            <li class="items cur">账户管理</li>
            <!-- <li class="items">权限管理</li> -->
            <!-- <li class="items">流程管理</li>
            <li class="items">菜单管理</li>
            <li class="items">表单管理</li> -->
         </ul>
      </div>
      <div class="control-body">
         <div class="table">
            <div class="table-header">
               <span class="col-1">用户ID</span>
               <span class="col-1">用户组</span>
               <span class="col-2">用户名</span>
               <span class="col-2">分管中心</span>
               <span class="col-1">权限</span>
               <span class="col-2">添加日期</span>
               <span class="col-3">操作</span>
            </div>
            <ul class="table-body" id="controllerList">
               <li class="items">
                  <span class="col-1">用户ID</span>
                  <span class="col-1">用户组</span>
                  <span class="col-2">用户名</span>
                  <span class="col-2">分管中心</span>
                  <span class="col-1">权限</span>
                  <span class="col-2">添加日期</span>
                  <span class="col-3">
                     <button class="btn-small">查看</button>
                     <button class="btn-small">编辑</button>
                     <button class="btn-small">删除</button>
                  </span>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="form-container">
      <form class="form" id="control">
         <div class="form-header">
            <h3>添加用户</h3>
         </div>
         <div class="form-body">
            <ul class="form-list">
               <li class="form-items" style="display:none">
                  <label><i>*&nbsp;</i>用户组:</label><input class="section" name="userGroupId" value="1001" placeholder="">
               </li>
               <li class="form-items" style="display:none">
                  <label><i>*&nbsp;</i>权限:</label>
                  <select name="userPowerId" class="section">
                     <option value="1000">管理员</option>
                     <option value="1001">普通员工</option>
                  </select>
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>用户名:</label><input class="section" name="userName" id="userName" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>用户密码:</label><input class="section" name="userPwd" type="password" id="userPwd" placeholder="">
               </li> 
               <li class="form-items" style="display:none">
                  <label><i>*&nbsp;</i>用户标识:</label><input class="section" name="userMark" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>分管中心:</label>
                  <select name="departmentType" class="section">
                     <option value="0">后台管理</option>
                     <option value="1030000">运营中心</option>
                     <option value="1040000">研发中心</option>
                     <option value="1020000">制造中心</option>
                     <option value="1010000">营销中心</option>
                  </select>
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>权限:</label>
                  <select name="userPermit" class="section">
                     <option value="0">管理员</option>
                     <option value="1">普通员工</option>
                  </select>
               </li>
               <li class="form-items" style="display:none">
                  <label><i>*&nbsp;</i>登录状态:</label><input class="section" name="loginStatus" value="0" placeholder="">
               </li>
            </ul>
         </div>
         <div class="form-footer">
            <button id="putAdd" type="button">添加</button>
            <button id="cancelAdd" type="button">取消</button>
         </div>
      </form>
   </div>
</div>
 