<div class="login">
   <form class="login-form" id="form">
      <div class="login-form-wrapper">
         <div class="login-form-header">
            <h2>费用申报流程管理系统</h2>
         </div>
         <div class="login-form-body">
            <div class="login-form-items">
               <label class="label" for="">用户名：</label><input class="input-default" type="text" placeholder="用户名"><i></i><br>
               <span class="tips"></span>
            </div>
            <div class="login-form-items">
               <label class="label" for="">密  码：</label><input class="input-default" type="password" placeholder="密码"><i></i><br>
               <span class="tips" id="message"></span>
            </div>
         </div>
         <div class="login-form-footer">
            <button id="submit" type="button">登录</button>
            <button class="btn-default" type="reset">重置</button>
         </div>
      </div>
   </form>
   <div class="copyright">
      Copyright © 2019-2029 南京睿盛智能科技有限公司 版权所有 保留一切权利
   </div>

   <div class="alert">
      <div class="alert-header">
         <h3>使用说明</h3>
      </div>
      <div class="alert-body">
         <h4>
            报表用途：<br>用于公司的费用支出上报 登记 统计
         </h4>
         <h4>
            适应业务范围：<br>适用于运营中心、营销中心、制造中心、研发中心
         </h4>
         <h4>
            适应公司人员：<br> 各中心费用报销人员、财务部费用审核、各中心负责人
         </h4>
         <h4>
            注意事项: <br>未经协商一致，不得更改表格格式（行 列 单元格）
         </h4>
      </div>
      <div class="alert-footer">
         <button id="closeAlert" type="submit">关闭</button>
      </div>
   </div>
</div>