

.clearfix { clear: both; zoom: 1;}

.clrhvr { width: 100%; height: 300px; position: absolute; }

.flt { float: left; }

.frt { float: right; }

.dplyes { display: block; }

.dplyno { display: none; }

.ps-rlt { position: relative; }

.ps-abt { position: absolute; }

.navbar-active {
   color: #0068b7;
   border-bottom:solid 3px #0068b7;
}

.red-active {
   background-color: #ff0006;
   color: #fff;
}

/***** TOP_NAVBAR ******/
.top-navbar {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
}

.top-navbar-wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 1px;
}

.top-navbar-wrapper li,
.top-navbar-wrapper li a
 {
  position: relative;
  z-index: 1;
  float: right;
  width: 80px;
  text-align: center;
  font-size: 13px;
  color: #777;

  line-height: 30px;
}

.top-navbar-wrapper .active a,
.top-navbar-wrapper .active {
  color: #ff0006;
}

.top-navbar-wrapper li:hover a {
  color: #ff0006;
}

.top-navbar-wrapper .drop:hover
{
  height: 28px;
  border: solid 1px #ccc;
  border-bottom: none;
  background-color: #fff;
  color: #777;
}

.top-navbar-wrapper .drop .drop-list {
  display: none;
  position: absolute;
  top: 27px;
  right: -1px;
  width: 380px;
  border: solid 1px #ccc;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.top-navbar-wrapper .drop:hover .drop-list {
  display: block;
}

.drop-list {
  padding: 14px 0 14px 14px;
}

.drop-list .left {
  padding-right: 20px;
  border-right: solid 1px #ddd;
}

.drop-list dl dt {
  font-weight: bold;
  color: #666;
}

.drop-list dl dd {
  color: #999;
}

.top-navbar-wrapper .drop:hover a
{
  height: 30px;
  border: none;
  background-color: #fff;
  color: #777;
}

.top-navbar-wrapper .drop .drop-list dl dd a:hover{
  border:none;
  color: #ff0006;
}

.drop-list .right {
  padding-left: 10px;
  width: 250px;
}

.drop-list .right dt {
  text-indent: 14px;
  text-align: left;
}

.drop-list .right dd {
  float: left;
}


.scroll-navbar {
  position: fixed;
  top: -70px;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 20px 3px #999;
  transition: top .3s ease-out;
  -webkit-transition: top .3s ease-out;
  -moz-transition: top .3s ease-out;
  -o-transition: top .3s ease-out;
  -ms-tansition: top .3s ease-out;
}

.show{
  top:0;
}


.scroll-navbar .main {
  width: 1200px;
  margin: 0 auto;
}

.scroll-navbar .type-top {
  margin-top: 10px;
  float: left;
}

.scroll-navbar .type-top>a {
  display: block;
  height: 40px;
  font-size: 16px;
  line-height: 40px;

}

.scroll-navbar .type-top:hover .categorys-items {
  height: 504px;
}


.scroll-navbar .categorys-items {
  height: 0;
  text-align: left;
  background-color: #555;
  box-shadow: 0 0 6px 0 rgba(17,17,37, .1);
  overflow: hidden;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.top-search {
  float: left;
  margin-top: 7px;
  margin-left: 80px;
}

.top-login {
  float: left;
  line-height: 60px;
  margin-left: 30px;
}

.top-login a {
  color: #666;
  font-size: 12px;
}

.top-login a:hover {
  color: #ff0006;
}

.top-right {
  float: right;
  margin-top: -30px;
  margin-right: 6px;
}

.top-right .shopcart {
  box-shadow: 0 0 2px 0 #e8e8e8 inset;
}







.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.wrapper-header {
  width: 100%;
}

.wrapper-header .left {
  float: left;
  margin-top: -30px;
  margin-left: -18px;
  width: 260px;
}

.wrapper-header .tips {
  float: right;
  display: block;
  /* height: 60px;
  margin-top: -30px; */
  margin-left: 20px;
  color: #999;
  line-height: 60px;
  font-size: 26px;
}

.wrapper-header .right {
  float: right;
  width: 200px;
  height: 130px;
}


.wrapper-header .tick {
  float: right;
  font-size: 16px;
  color: rgba(249, 91, 20, 1);
}

.wrapper-header .tick + span {
  float: right;
  font-size: 16px;
}

.shopcart {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 178px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 #e8e8e8;
  cursor: pointer;
}

.shopcart span {
  font-size: 13px;
  color: #ff0006;
}

.shopcart i {
  font-size: 18px;
  color: #ff0006;
}


.count {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 13px;
  padding: 2px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  font-size: 12px;
}


.wrapper-header .main {
  float: left;
  margin-left: 40px;
  padding-top: 34px;
  padding-left: 60px;
}

.search {
  width: 580px;
  height: 44px;
  background-color: #ff0006;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 #ddd;
}

.search-input {
  margin-left: 1px;
  line-height: 1;
  vertical-align: -3px;
  width: 420px;
  height: 42px;
  padding-left: 12px;
  border: solid 2px #ff0006;
  font-size: 14.7px;
  border-radius: 4px;
}

.btn {
  margin-top: 1px;
  padding:0;
  width: 152px;
  height: 42px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: #ff0006;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  transition:  .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.btn:hover {
  font-size: 25px;
  color: #fff;
}

.keyword-tips {
  margin-top: 16px;
  padding-left: 2px;
  width: 590px;
  height: 46px;
}

.keyword-tips li {
  float: left;
  width: 60px;
}

.keyword-tips li a {
  font-size: 13px;
  color: #777;
}

.keyword-tips li a:hover {
  color: #ff0006;
}

.categorys-left {
  float: left;
  width: 234px;
  height: 544px;
  background-color: #555;
  box-shadow: 0 0 6px 0 rgba(17,17,37, .1);
}

.categorys-right {
  float: right;
  width: 966px;
  height: 531px;
}

.nav-main {
  padding-left: 40px;
  height: 40px;

}

.nav-main li {
  float: left;
  margin-right: 40px;
  text-align: center;
}

.nav-main li a{
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #444;
}

.nav-main li a:hover {
  color: #ff0006;
}

.nav-main .active a {
  color: #ff0006;
}

.my-car {
  width: 966px;
  height: 504px;
}

.categorys-items li {
  padding: 5px 14px;
  padding-top: 10px;
}

.categorys-items li b a {
  margin-left: 6px;
  color: #fff;
  font-size: 14.7px;
  line-height: 16px;
}

.categorys-items li i{
  color: #ccc;
  line-height: 24px;
  font-size: 16px;
}
.categorys-items li span a {
  color: #ccc;
  line-height: 24px;
  font-size: 13px;
}

.categorys-items li span {
  margin-left: 24px;
  margin-right: -14px;
}


.categorys-items li:hover {
  background-color: rgba(17,17,37, .6);
}

.type-top {
  width: 234px;
  height: 40px;
  background-color: #ff0006;
}

.type-top {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.type-top a{
  color: #fff;
}

.categorys-items .type-top:hover {
  background-color: #ff0006;
}


.hotpush {
  position: relative;
  margin-top: 20px;
  margin-left: -6px;
  width: 1206px;
  height: 400px;
  background-image: url(../img/bak.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hot-list-items {
  position: absolute;
  top: 70px;
  left: 13px;
  width: 1185px;
  height: 313px;
  overflow: hidden;
}

.hot-list-items li {
  position: relative;
  float: left;
  margin-top: 1px;
  padding: 30px;
  width: 237px;
  height: 311px;
  overflow: hidden;
  border-right: solid 1px #ddd;
  box-shadow: 0 0 50px 2px rgba(155,115,115, .05) inset;
}

.hot-list-items li .image {
  margin: 0 auto;
  width: 100%;
  height: 180px;
}

.hot-list-items li .image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}


.hot-list-items li:hover .image>img {
  display: block;
  margin-top: -15%;
  margin-bottom: 15%;
  margin-left: -5%;
  width: 110%;
  height: 115%;
}

.hot-list-items li h3 {
  position: absolute;
  left: 16px;
  bottom: 60px;
  display: -webkit-box;
  width: 82%;
  height: 40px;
  font-weight: normal;
  font-size: 14.7px;
  color: #333;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hot-list-items li span {
  position: absolute;
  left: 100px;
  bottom: 14px;
  font-size: 14px;
  color: #999;
  line-height: 22px;
  text-decoration-line: line-through;
}

.hot-list-items .price {
  position: absolute;
  left: 14px;
  bottom: 16px;
  padding-left: 2px;
  color: red;
  font-size: 22px;
}

.hot-list-items li:hover{
  box-shadow: 0 0 50px 2px rgba(185,155,155, .02) inset;
}


.divider-itl {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-image: url(../img/divider.gif);
  background-repeat: no-repeat;
}

.divider-case {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-image: url(../img/case.png);
  background-repeat: no-repeat;
}

.brand-wrap {
  width: 100%;
  height: 180px;
}

.brand-items {
  margin: 10px 0;
}


.brand-items td {
  position: relative;
  margin: 0 -1px -1px 0;
  border: solid 1px #ddd;

}

.brand-items td a {
  display: block;
  width: 169px;
  height: 77px;
  border: 1px solid transparent;
}

.brand-items td a:hover {
  border: solid 1px #ff0006;
}

.brand-items img {
  vertical-align: middle;
}

.cart {
  position: absolute;
  right: 30px;
  bottom: 12px;
  width: 40px;
  height: 40px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.cart a {
  display: block;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  background-color: #ff0006;
  border: solid 1px #ccc;
  box-shadow: 0 0 3px 0 #c4c4c4;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.cart a:link {
  text-decoration: none;
}

.cart .icon-carts {
  padding-left: 9px;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}


.cart:hover a{
  background-color: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 6px 0 #ddd inset;
  transform: rotate(360deg); 
}


.cart:hover .icon-carts {
  color: #ff0006;

}


.floor {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 500px;
}

.more {
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 16px;
}


.floor-content {
  position: absolute;
  top: 30px;
  box-sizing: border-box;
  width: 1194px;
  height: 440px;
  border-radius: 2px;
}


.tag-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 434px;
  z-index: 101;
}

.tag {
  position: absolute;
  top: -30px;
  left: -3px;
  width: 179px;
  height: 467px;
}



.tag-content {
  position: absolute;
  bottom:3px;
  left: 3px;
  width: 173px;
  height: 145px;
  padding: 18px;
  background-color: #fff;
  border-radius: 2px;
}

.tag-content h4 {
  padding-left: 2px;
  padding-bottom: 12px;
  border-bottom: solid 1px #ddd;
}


.tag-items li a {
  float: left;
  margin-left: 4%;
  width: 46%;
  line-height: 30px;
  color: #444;
}


.floor-car {
  position: absolute;
  top: 0;
  left: 176px;
  width: 277px;
  height: 434px;
}

.floor-items {
  position: absolute;
  right: 168px;
  width: 567px;
  height: 434px;
  overflow-y: hidden; 
}

.floor-items li {
  position: relative;
  float: left;
  width: 188px;
  height: 217px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-radius: 1px;
  overflow: hidden;
}


.floor-items .image {
  width: 187px;
  height: 162px;
  text-align: center;
}

.floor-items .tips {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(17,17,37, 0);
}

.floor-items h3 {
  display: -webkit-box;
  height: 26px;
  padding: 7px 16px;
  line-height: 22px;
  font-size: 12px;
  font-weight: normal;
  color: #444;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ctt .cost {
  position: absolute;
  bottom: 0;
  left: 110px;
  width: 80%;
  font-size: 16px;
  line-height: 24px;
  color: #999;
  text-decoration: line-through;
}

.ctt .now-price2 {
  position: absolute;
  bottom: 2px;
  left: 14px;
  width: 80%;
  font-size: 24px;
  line-height: 24px;
  color: #ff0006;
}

.carto2 {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  height: 28px;
}

.carto2 a {
  display: block;
  color: #fff;
  font-size: 14.7px;
  line-height: 28px;
  text-align: center;
}

.floor-items .ctt:hover .carto2 {
  display: block;
}

.floor-items .ctt:hover .now-price2 {
  position: absolute;
  bottom: 32px;
  left: 30%;
  width: 80%;
  font-size: 20px;
  line-height: 20px;
  color: #ff0006;
  animation: fade-op 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.floor-items .ctt:hover h3 {
  display: none;
}

.floor-items li:hover {
  border-bottom: none;
}

.floor-items li:hover .tips {
  display: block;
  animation: fade .5s;
  animation-fill-mode: forwards;
}

.floor-items li:hover .cost {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 10px;
  width: 80%;
  text-align: center;
  font-size: 40px;
  color: #ccc;
  animation: fade2 .5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.floor-items li:hover .through-line {
  position: absolute;
  top: 50%;
  left: 20%;
  display: block;
  width: 0;
  height: 1px;
  border-top: double 6px #000;
  animation: line1 .5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
.floor-items li:hover .now-price {
  position: absolute;
  left: 10%;
  top: -40px;
  width: 70%;
  text-align: center;
  font-size: 40px;
  animation: drop .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.carto {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

}

.carto a {
  display: block;
  color: #fff;
  font-size: 14.7px;
  line-height: 50px;
  text-align: center;
}

@keyframes fade {
  to { background-color: rgba(17,17,37, .7)}
}

@keyframes fade2 {
  to { color: rgba(17,17,37, .3) }
}

@keyframes fade-op {
  to { opacity: 1; }
}

@keyframes line1 {
  to { width: 64%; }
}

@keyframes drop {
  to { top: 74px; }
}

.floor-tag {
  position: absolute;
  top: 0px;
  right: 0;
  width: 171px;
}

.floor-tag li {
  width: 100%;
  height: 108.5px;
  border-bottom: solid 1px #ddd;
}

.floor-tag li a {
  display: block;
  width: 100%;
  height: 108px;
}

.floor-tag li a img {
 width: 100%;
 height: 107px;
 vertical-align: middle;
}

.floor-content .shadow {
  position: absolute;
  top: 16px;
  right: 172px;
  z-index: 1000;
  height: 434px;
  width: 13px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}




/* ******************************************************** */
.pink {
  border: solid 3px rgba(245, 96, 92, 1);
}

.pink-shadow {
  box-shadow: 0 0 4px 2px rgba(245, 96, 92, .5);
  z-index: 100;
}

.pink-back {
  background-color: rgba(245, 96, 92, 1);
}

.pink-font {
  color: rgba(245, 146, 142, 1);
}

.pink-link a {
  color: rgba(245, 146, 142, 1);
}

.pink-tag {
  background-color: rgba(255,250,247, 1);
}

.pink-inset {
  box-shadow: 0 0 25px 0 rgba(245, 96, 92, .05) inset;
}

.tag-one {
  background-image: url(../img/floor_one.gif);
}

.pink .active a {
  color: rgba(245, 96, 92, 1);
}

.floor-items li:hover .pink-dline {
  border-top: double 6px rgba(245, 146, 142, .6);
}

/* ************************************************************ */
.blue {
  border: solid 3px rgba(122, 155, 248, 1);
}

.blue-shadow {
  box-shadow: 0 0 4px 2px rgba(122, 155, 248, .5);
  z-index: 100;
}

.blue-back {
  background-color: rgba(122, 155, 248, 1);
}

.blue-font {
  color: rgba(122, 155, 248, 1);
}

.blue-link a{
  color: rgba(122, 155, 248, 1);
}

.blue-tag {
  background-color: rgba(249, 248, 254, 1);
}

.blue-inset {
  box-shadow: 0 0 25px 0 rgba(122, 155, 248, .05) inset;
}

.tag-two {
  background-image: url(../img/floor_two.gif);
}

.blue .active a {
  color: rgba(122, 155, 248, 1);
}

.floor-items li:hover .blue-dline {
  border-top: double 6px rgba(122, 155, 248, .6);
}

/* ************************************************************* */
.green {
  border: solid 3px rgba(76, 218, 180, 1);
}

.green-shadow {
  box-shadow: 0 0 4px 2px rgba(76, 218, 180, .5);
  z-index: 100;
}

.green-back {
  background-color: rgba(76, 218, 180, 1);
}

.green-font {
  color: rgba(76, 218, 180, 1);
}

.green-link a{
  color: rgba(76, 218, 180, 1);
}

.green-tag {
  background-color: rgba(244, 254, 253, 1);
}

.green-inset {
  box-shadow: 0 0 25px 0 rgba(76, 218, 180, .05) inset;
}

.tag-three {
  background-image: url(../img/floor_three.gif);
}

.green .active a {
  color: rgba(76, 218, 180, 1);
}

.floor-items li:hover .green-dline {
  border-top: double 6px rgba(76, 218, 180, .6);
}

/* ************************************************************* */
.orange {
  border: solid 3px rgba(249, 156, 87, 1);
}

.orange-shadow {
  box-shadow: 0 0 4px 2px rgba(249, 156, 87, .5);
  z-index: 100;
}

.orange-back {
  background-color: rgba(249, 156, 87, 1);
}

.orange-font {
  color: rgba(249, 156, 87, 1);
}

.orange-link a{
  color: rgba(249, 156, 87, 1);
}

.orange-tag {
  background-color: rgba(254, 249, 245, 1);
}

.orange-inset {
  box-shadow: 0 0 25px 0 rgba(249, 156, 87, .05) inset;
}

.tag-four {
  background-image: url(../img/floor_four.gif);
}

.orange .active a {
  color: rgba(249, 156, 87, 1);
}

.floor-items li:hover .orange-dline {
  border-top: double 6px rgba(249, 156, 87, .6);
}

/* ************************************************************* */
.violet {
  border: solid 3px rgba(255, 131, 207, 1);
}

.violet-shadow {
  box-shadow: 0 0 4px 2px rgba(255, 131, 207, .5);
  z-index: 100;
}

.violet-back {
  background-color: rgba(255, 131, 207, 1);
}

.violet-font {
  color: rgba(255, 131, 207, 1);
}

.violet-link a {
  color: rgba(255, 131, 207, 1);
}

.violet-tag {
  background-color: rgba(255, 244, 252, 1);
}

.violet-inset {
  box-shadow: 0 0 25px 0 rgba(255, 131, 207, .05) inset;
}

.tag-five {
  background-image: url(../img/floor_five.gif);
}

.violet .active a {
  color: rgba(255, 131, 207, 1);
}

.floor-items li:hover .violet-dline {
  border-top: double 6px rgba(255, 131, 207, .6);
}



.case {
  margin-top: 20px;
}

.case-floor {
  margin-bottom: 20px;
  width: 100%;
  height: 320px;
}

.case-floor li {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-right: 22.5px;
  width: 222px;
  height: 300px;
  border: solid 1px #e2e1e1;
  border-radius: 2px;
  border-top: solid 4px #f93c16;
  box-shadow: 0 0 10px 0 #eee;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.case-floor .end {
  margin-right: 0;
}

.case-floor li .image {
  width: 220px;
  height: 204px;

}

.case-floor li .image img {
  display: block;
  width: 100%;
  height: 100%;
}

.case-floor li p {
  width:220px;
  padding: 10px 4px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #666;
  background-color: #f6f6f6;
}


.case-floor li:hover {
  margin-top: 10px;
}




.carto3 {
  position: absolute;
  left: -1px;
  bottom: -1px;
  display: block;
  width: 222px;
  height: 30px;
  background-color: #f93c16;
  border-radius: 2px;
}

.carto3 a {
  display: block;
  color: #f9f9f9;
  font-size: 14.7px;
  line-height: 30px;
  text-align: center;
}

.case-floor li:hover {
  border: solid 1px #f93c16;
  border-top: solid 4px #f93c16;
  box-shadow: 0 0 10px 0 #b9b9b9;
}

.case-floor li:hover p {
  color: #000;
}

.case-floor li:hover .carto3 {
  background-color: #f93c16;
}

.case-floor li:hover .carto3>a {
  color: #fff;
}


/* sidebar */
.sidebar {
  display: none;
  opacity: 0;
}



.sider-top {
  width: 85px;
  height: 20px;
  background-image: url(../img/sider_top.gif);
}

.sider-items {
  width: 85px;
  height: 158px;
  border-top: double 2px #f9f9f9;
  background-color: #e8e8e8;
  box-shadow: 0 0 6px #e8e8e8;
  overflow: hidden;
}

.sider-items li {
  width: 85px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  border-radius: 2px;
  border-bottom: solid 1px #f9f9f9;
  background-color: rgba(238, 235, 235, .4);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
  cursor: pointer;
}

.sider-items li:hover{
  color: #fff;
  background-color: rgb(236, 41, 37);
}

.sider-items .active {
  color: #fff;
  background-color: rgb(236, 41, 37);
}

.sider-items .bdr-btm {
  border-bottom: none;
}

.sider-bottom {
  margin-top: -16px;
  width: 85px;
  height: 36px;
  box-shadow: 0 0 6px #e8e8e8;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-image: url(../img/rtop.gif);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
  cursor: pointer;
}

.sider-bottom:hover {
  border: solid 1px rgba(95, 75, 75, .15);
  box-shadow: 0 0 20px #e8e8e8 inset;
  background-image: url(../img/rtop2.png);
}


/* ****************************************************************** login_page *****************************************************************/
.login-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 672px;
  margin-top: 40px;
  background-image: url(../img/login/bak.png);
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-position-x: center;
}

.login-main {
  position: relative;
  float: right;
  margin-top: -52px;
  margin-right: -4px;
  width: 420px;
  height: 546px;
  background-image: url(../img/login/login_bak.png);
}


.login-main .title {
  width: 270px;
  margin: 0 auto;
  margin-top: 170px;
  font-size: 26px;
  text-align: center;
  color: rgba(249, 91, 20, 1);
}

.login-main .title h1 {
  margin: 0 auto;
  width: 100px;
}

.login-main .title .dotted {
  width: 58px;
  height: 1px;
  margin: 0 10px;
  margin-top: 13px;
  background-image: url(../img/login/dotted.png);
}


.form-wrapper {
  margin-top: 50px;
  text-align: center;
}


.form-list li {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 50px;
  line-height: 40px;
  width: 80%;
}

.form-list .user {
  width: 68%;

}

.form-list .user label {
  position: relative;
  z-index: 100;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  width: 21px;
  height: 22px;
  background-image: url(../img/login/user.png);
  font-size: 0;
}

.form-list .user input {
  width: 100%;
  height: 38px;
  margin-left: -39px;
  padding: 3px 30px;
  text-align: center;
  font-size: 16px;
  color: #666;
  border-radius: 3px;
  border: solid 1px #fff;
  border-bottom: solid 1px #b2b1b1;
}

.form-list .user input:focus {
  border-bottom : solid 1px rgba(249, 91, 20, .5);
}


.form-list .pwd {
  width: 72%;

}

.form-list .pwd label {
  position: relative;
  z-index: 100;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  width: 21px;
  height: 22px;
  background-image: url(../img/login/pwd.png);
  background-repeat: no-repeat;
  font-size: 0;
}

.form-list .pwd input {
  width: 100%;
  height: 38px;
  margin-left: -36px;
  padding: 5px 30px;
  text-align: center;
  font-size: 16px;
  color: #666;
  border-radius: 3px;
  border: solid 1px #fff;
  border-bottom: solid 1px #b2b1b1;
}

.form-list .pwd input:focus {
  border-bottom : solid 1px rgba(249, 91, 20, .5);
}

.form-list .tips {
  height: 20px;
  font-size: 18px;
}

.form-list .tips span {
  display: block;
  margin-top: -22px;
  font-size: 14.7px;
  font-weight: 700;
  letter-spacing: 3px;
  color: rgba(249, 91, 20, 1);
}

.form-list .remember {
  float: left;
  margin-top: 8px;
  width: 50%;
  height: 30px;
}

.form-list .remember input[type=checkbox]{
  float: left;
  margin-left: 70px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: solid 1px #999;
  box-shadow: 0 0 2px 1px #f0f0f0;
}

.form-list .remember label {
  float: left;
  margin-left: 6px;
  line-height: 20px;
  font-size: 16px;
  color: #777;
}

.form-list .forget {
  float: right;
  margin-top: -1px;
  padding-right: 50px;
  width: 50%;
  height: 30px;

}

.form-list .forget a label{
  line-height: 20px;
  font-size: 16px;
  color: #777;
  cursor: pointer;
}

.login-btn {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 16px;
  border: solid 2px #fff;
  box-shadow: none;
  color: #fff;
  font-size: 22px;
  background-image:-webkit-linear-gradient(90deg, rgba(244, 115, 64, 1), rgba(251, 192, 126, 1)); 
  background-image:linear-gradient(90deg,rgba(244, 115, 64, 1), rgba(251, 192, 126, 1)); 
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.login-btn:hover {
  background-image: none;
  color: rgba(244, 115, 64, 1);
  background-color: #fff;
  border: solid 2px rgba(244, 115, 64, .8);
  cursor: pointer;
}

.form-list .login-regist {
  position: relative;
  margin-top: -4px;
}

.login-regist .icon {
  position: absolute;
  top: 14px;
  left: 126px;
  width: 17px;
  height: 17px;
  background-image: url(../img/login/arrow.png);
}

.login-regist span {
  position: absolute;
  top: 0px;
  left: 86px;
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 44px;
  border-radius: 16px;
  box-shadow: none;
  font-size: 0;
  background-image: url(../img/login/regist.png);
  background-position: center center;
  background-repeat: no-repeat;
}


/* ****************************************************************** regist_page *****************************************************************/
.regist-header {
  padding-top: 10px;
  height: 80px;
  width: 100%;
  min-width: 1200px;
  box-shadow: 0 0 26px 1px #ccc;
}

.regist-header .wrapper-header {
  width: 1200px;
  margin: 0 auto;
}

.regist-header .wrapper-header .left {
  margin: 0;
}

.regist-header .wrapper-header .right {
  line-height: 80px;
}

.regist-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 622px;
  
}

.regist-wrapper .wrapper {
  width: 1200px;
  height: 622px;
  background-image: url(../img/regist/bak.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
}

.regist-main {
  position: relative;
  float: right;
  margin-top: -72px;
  margin-right: -4px;
  width: 420px;
  height: 546px;
}

.form-default {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 50px;
  line-height: 40px;
  width: 80%;
}

.form-default li {
  margin-bottom: 26px;
  width: 352px;
  height: 48px;
}

.form-default li label {
  position: relative;
  z-index: 1000;
  width: 80px;
  margin-right: 10px;
  font-size: 16px;
  text-align:right;
  color: #666;
}

.form-default li input {
  margin-left: -100px;
  width: 352px;
  height: 48px;
  padding-left: 120px;
  border: solid 1px #ccc;
  border-radius: 4px;
}




/*æ•°é‡åŠ å‡*/
.amount-warp{ float:left;}
.amount-warp .buy-num{ border:1px solid #d2d2d2; width:28px; height:28px; float:left; outline:0; text-align:center;}
.amount-warp .a-btn{ float:left; width:22px; height:28px; border:1px solid #d2d2d2; border-left:0;}
.amount-warp .a-btn a{ float:left; width:22px; height:14px; line-height:14px; text-align:center;}
.amount-warp .a-btn .btn-reduce{ height:13px; border-top:1px solid #d2d2d2;}
.amount-warp a .iconfont{ font-size:12px;}
.amount-warp .a-btn .btn-disabled{ color:#e0e0e0;}
/*æ•°é‡åŠ å‡ end*/


/*æ²¡æœ‰è®°å½•ä¿¡æ¯ start*/
.no_notic{ color:#8c8c8c; height:100px; line-height:100px; text-align:center;}
.no_records{ height:104px; padding:70px 0 70px 165px; width:auto; position:relative; overflow:hidden;}
.no_records .no_icon{ width:159px; height:104px; display:block; float:left; background:url(../images/prompt/not-common-icon.png) no-repeat;}
.no_records .no_info{ float:left; margin-left:25px; line-height:104px; max-width:500px;}
.no_records .no_info_line{ line-height:normal;}
.no_records h3{ color:#8c8c8c; font-size:16px; font-weight:bold; display:block; line-height:25px;}

.no_records .no_info_line h3{ margin-top:8px;}
.no_records .no_info_line .no_btn{ display:block; margin-top:15px;}

.no_records .no_icon_two{ width:188px; height:104px; display:block; float:left; background:url(../images/prompt/not-wait-icon.png) no-repeat;}
.no_records .no_icon_three{ width:186px; height:129px; display:block; float:left; background:url(../images/prompt/not-comment.png) no-repeat;}

.no_records_tc{ padding-left:400px;}

.no_records_1200{ padding-left:330px;}
.no_comments_qt{ width:200px; height:auto; padding-left:0; margin:0 auto;}
.no_comments_qt .block{ display:block; font-size:14px; color:#8c8c8c; float:left; margin:20px 0 0 45px;}

.message_records{ padding:150px 0 100px 300px;}
.no_records_min{ padding-left:100px;}
/*æ²¡æœ‰è®°å½•ä¿¡æ¯ end*/

/*å®¢æœ*/
.p-kefu{ color: #fcc217; margin-left: 5px;}

/*å€’è®¡æ—¶*/
.lefttime em{ display:inline-block; vertical-align:middle; margin-top:-5px;}

.ps-container.ps-active-y>.ps-scrollbar-y-rail{ right:0 !important;}

::-webkit-input-placeholder{ color: #999;} 
:-moz-placeholder{ color: #999;} 
::-moz-placeholder{ color: #999;} 
:-ms-input-placeholder{ color: #999;}
/*arrow*/
.arrowWarp{ position:absolute;border:1px solid #d2d2d2; border-radius:3px;box-shadow: 0px 0px 6px 0 #d3d2d2; display:none;}
.arrowWarp .arrowTop{ width: 10px;height: 10px;background-color: #fff;display: block; border:1px solid #d2d2d2; box-shadow: 0px 0px 6px 0 #d3d2d2;top: -6px;right: 35px;position: absolute;transform: rotate(45deg);}
.arrowWarp .arrowContent{ position:relative; background-color:#fff; padding:10px; border-radius:3px;}
.arrowItems{ overflow:hidden;}
.arrowItem{ width:100%; overflow:hidden; line-height:25px;}
.arrowItem .label{ float:left; width:60px; text-align:right; color:#8c8c8c;}
.arrowItem .value{ float:left; min-width:200px; text-align:left; color:#555;}
/*å›¾ç‰‡ç‚¹å‡»æŸ¥çœ‹å¤§å›¾nyroModal*/
.nyroModal{ color:#aaa; font-size:16px;}
.nyroModalBg { position: fixed; overflow: hidden; z-index: 100009; top: 0; left: 0; height: 100%; width: 100%; background: #fff; opacity: 0.7; }
.nmReposition { position: absolute; z-index: 100011; }
.nyroModalCloseButton { top: -9px; right: -9px; width: 18px; height: 18px; text-indent: -9999em; background: url(../images/close.png); }
.nyroModalTitle { top: -26px; left: 0; margin: 0; font-size: 1.1em; line-height: 24px; color: #EEE; text-shadow: 1px 1px 1px #ccc; }
.nyroModalCont { background-color: #FFF; padding: 4px; position: absolute; z-index: 100010; border: 1px solid #eee; margin: 25px; box-shadow: 0 0 5px rgba(0,0,0,0.9); }
.nyroModalCont iframe { width: 600px; height: 400px; }
.nyroModalError { border: 4px solid red; color: red; width: 250px; height: 250px; }
.nyroModalError div { min-width: 0; min-height: 0; padding: 10px; }
.nyroModalLink,
.nyroModalDom,
.nyroModalForm,
.nyroModalFormFile { position: relative; padding: 10px; min-height: 250px; min-width: 250px; max-width: 1000px; }
.nyroModalImage,
.nyroModalSwf,
.nyroModalIframe,
.nyroModalIframeForm { position: relative; overflow: hidden; }
.nyroModalImage img { vertical-align: top; }
.nyroModalHidden { left: -9999em; top: -9999em; }
.nyroModalLoad { position: absolute; width: 100px; height: 100px; background: #fff url(../images/ajaxLoader.gif) no-repeat center; padding: 0; }
.nyroModalPrev,
.nyroModalNext { outline: none; position: absolute; top: 0; height: 60%; width: 150px; min-height: 50px; max-height: 300px; cursor: pointer; text-indent: -9999em; background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat; }
.nyroModalImage .nyroModalPrev,
.nyroModalImage .nyroModalNext { height: 100%; width: 40%; max-height: none; }
.nyroModalPrev { left: 0; }
.nyroModalPrev:hover { background-image: url(../images/prev.gif); }
.nyroModalNext { right: 0; background-position: right 20%; }
.nyroModalNext:hover { background-position: right 20%; background-image: url(../images/next.gif); }