<div class="page">
   <div class="page-header">
      <h4>申报流程</h4>
      <div class="frt">
         <button id="apply-btn">发起申报</button>
      </div>
   </div>
   <div class="list">
      <div class="expenses">
         <div class="expenses-header">
            <ul class="status-list flt">
               <li class="items cur" onclick="getApply()">费用</li>
               <!-- <li class="items">未申请<i>1</i></li> -->
               <!-- <li class="items" onclick="getVerify()">审核</li> -->
               <li class="items" onclick="getPayment()">支付</li>
            </ul>
            <select class="select">
               <option value="0">全部</option>
               <option>待支付</option>
               <option>未通过</option>
               <option>已完成</option>
            </select>
            <div class="frt"><button id="nextPage">下一页</button></div>
            <div class="frt"><button id="prePage">上一页</button></div>
         </div>
         <ul class="expenses-body">
            <div class="loading">
               <img src="../../../../assets/static/img/action/loading.gif">
            </div>
         </ul>
      </div>
   </div>
   <div class="form-container">
      <form class="form" id="apply">
         <div class="form-header">
            <h3>申报流程</h3>
         </div>
         <div class="form-body">
            <ul class="form-list">
               <li class="form-items">
                  <label><i>*&nbsp;</i>申请编号:</label><input class="section" name="identifier" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>申请日期:</label><input class="section" name="expensesGmt" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>报支事项:</label><input class="section" name="matter" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>金额:</label><input class="section" name="amount" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属人:</label><input class="section" name="handler" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属部门:</label><input class="section" name="ascriptor" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>收款单位:</label><input class="section" name="expensesType" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属类别:</label><input class="section" name="departmentType" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>费用项目:</label><input class="section" name="receiveCompany" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>项目代号:</label><input class="section" name="ascription" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>项目名称:</label><input class="section" name="projectNum" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>分类标识:</label>
                  <select name="classType" class="section">
                     <option value="参加考核">参加考核</option>
                     <option value="记入 2019 但不参加考核">记入 2019 但不参加考核</option>
                     <option value="内部转换">内部转换</option>
                     <option value="分类标识">分类标识</option>
                  </select>
               </li>
            </ul>
         </div>
         <div class="form-footer">
            <button id="put" type="button">申请</button>
            <button id="cancel" type="button">取消</button>
         </div>
      </form>
   </div>
</div>