<div class="page">
   <div class="page-header">
      <h4>欢迎登录</h4>
      <div class="frt">
         <!-- <button class="apply">重新登录</button> -->
      </div>
   </div>
   <div class="portal">
      <ul class="core">
         <li class="core-list" style="background-color: #00c4de">
            <a href="/list">
               营销中心
            </a>
         </li>
         <li class="core-list" style="background-color: #f81828">
            <a href="/list">
               制造中心
            </a>
         </li>
         <li class="core-list" style="background-color: #f866cc">
            <a href="/list">
               研发中心
            </a>
         </li>
         <li class="core-list" style="background-color: #66ff99">
            <a href="/list">
               运营中心
            </a>
         </li>
      </ul>
   </div>
</div>
