<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../base/css/global.css">
    <link rel="stylesheet" href="../base/css/static.css">
    <link rel="stylesheet" href="../base/css/reset.css">
    <link rel="stylesheet" href="../base/css/icon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="siderbar">
        <ul class="user-items">
            <li><a href="##"><h4>订单中心</h4></a></li>
            <li><a href="##">我的订单</a></li>
            <li><a href="##">收货地址</a></li>
            <li><a href="##">退换货订单</a></li><br>
            <li><a href="##"><h4>会员中心</h4></a></li>
            <li><a href="##">用户信息</a></li>
            <li><a href="##">账户安全</a></li>
            <li><a href="##">收藏/关注</a></li>
            <li><a href="##">我的留言</a></li>
            <li><a href="##">我的推荐</a></li>
            <li><a href="##">评论/晒单</a></li><br>
            <li><a href="##"><h4>账户中心</h4></a></li>
            <li><a href="##">我的爱珠</a></li>
            <li><a href="##">我的收益</a></li>
            <li><a href="##">资金管理</a></li>
        </ul>
    </div>




</body>


</html>