.page-header {
    height: 80px;
}

.page-title {
    float: left;
    display: table;
    width: 40%;
    height: 72px;
}

.page-title .title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.page-title .title-wrapper .title {
    margin-top: 8px;
    font-size: 40px;
    color: #666;
    font-family: 'LedFont', cursive, 'Microsoft YaHei', sans-serif;
}

.page-title .title-wrapper .author {
    margin-top: 8px;
    font-size: 12px;
}

.top-bar {
    float: right;
    display: table;
    width: 60%;
    min-width: 500px;
    height: 72px;
}

.top-bar .nav-wrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.top-bar .nav-wrapper li{
    display: inline-block;
    text-align: center;
    width: 48px;
    margin-right: 10px;
    margin-left: 10px;
}

.top-bar .nav-wrapper li a {
    font-size: 16px;
    color: #666;
    font-family: 'Optima', 'PingFang SC', 'Roboto', 'Noto SansCJK', 'Helvetica Neue', 'Helvetica', "微软雅黑", "YaHei-Consolas-Hybrid", sans-serif;
}

.top-bar .nav-wrapper li i {
    font-size: 12px;
    color: #666;
}

.top-bar .nav-wrapper .cur a {
    color: #000;
}

.top-bar .nav-wrapper .cur i {
    font-size: 13px;
    font-weight: bold;
    color: rgb(126, 121, 121);
}

@media screen and (max-width:900px) {
    .page-title {
        float: none;
        margin: 0 auto;
    }
    .top-bar {
        float: none;
        min-width: 320px;
        margin: 0 auto;
    }

    .top-bar .nav-wrapper li{
        width: 38px;
        margin-right: 0px;
        margin-left: 0px;
    }
}