<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../base/css/global.css">
    <link rel="stylesheet" href="../base/css/static.css">
    <link rel="stylesheet" href="../base/css/reset.css">
    <link rel="stylesheet" href="../base/css/icon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="top">
        <div class="top-wrapper w-1200">
            <a href="index.html"><span>商城首页</span></a>
            <span>Hi~欢迎来到爱悦购商城，请</span>
            <a href="##" class="themes_active">登录</a><a href="##" class="themes_active"> 免费注册</a>
            <ul class="top_nav frt">
                <li><a href="##" class="wechat ps-rlt"><i ></i>关注我们
                    <div class="erma">
                        二维码

                    </div></a>
                </li><span>|</span>
                <li class="tels"><i></i>手机爱悦购
                    <div class="erma">
                        <div class="clearfix">
                            <div class="imgs flt">
                                <img src="img/erma.jpg">
                            </div>
                            <div class="content frt">

                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="imgs flt">
                            </div>
                            <div class="content frt">

                            </div>
                        </div>
                    </div></li><span>|</span>
                <li>我的订单</li><span>|</span>
                <li>我的收藏</li><span>|</span>
                <li>客户服务</li>
            </ul>
        </div>
        <div class="top-wrapper-bak"></div>
    </div>

    <div class="header themes_bak">
        <div class="header-wrapper w-1200 clearfix">

            <div class="logo flt"><img src="img/logo.png" alt="爱悦购LOGO"></div>
            <ul class="navbar flt">
                <li class="flt">首页</li>
                <li class="flt">会员中心</li>
                <li class="flt">我的爱珠</li>
            </ul>

            <div class="shopcart frt">
                <i class="iconfont icon-carts themes_active"></i>
                <span>购物车<em class="themes_active">0</em>件</span>
                
            </div>
        </div>
    </div>




</body>


</html>