* {
  font-family: arial,verdana,helvetica,'PingFang SC','HanHei SC',STHeitiSC-Light,Microsoft Yahei,sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f3f3f5;
}

h2{
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
}

h3,h4,h5 {
  font-weight: normal;
  line-height: 26px;
}

h5 {
  color: #000;
}

h4 {
  color: #333;
}

h3 {
  color: #666;
}

i {
  color: #c4c4c4;
}

b {
  font-weight: bold;
}

.resume {
  /* 页边距 */
  padding: 30px;        

  box-sizing: border-box;
  width: 840px;
  height: 1224px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 24px 1px rgba(1, 37, 137, .15);
}

.brief {
  width: 540px;
  height: 400px;
  border: dashed 1.5px #c4c4c4;
}

.brief-content {
  padding: 10px 20px;
}

.brief-content .purpose {
  box-sizing: border-box;
  float: left;
  max-width: 168px;
  padding: 4px 18px 8px 8px;
  line-height: 28px;
  word-wrap:break-word;
}

.brief-content .purpose b {
  font-size: 14.7px;
  font-weight: bold;
}
.brief-content .purpose span {
  display: inline-block;
  width: 90px;
  font-size: 14px
}

.brief-content .exper {
  font-size: 14.7px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 1px;
}







.copyright {
  margin: 0 auto;
  width: 320px;
  color: #666;
}


.side-bar {
  box-sizing: border-box;
  width: 220px;
}

.own {
  border: solid 2px #ccc;
}

.own .avatar {
  width: 120px;
  height: 150px;
  margin: 30px auto 50px;
  border: solid 1px #ccc;
}

.own-list {
  width: 160px;
  padding-left: 40px;

}

.own-list .items {
  position: relative;
  width: 120px;
  height: 32px;
  margin-bottom: 40px;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
  border: solid 2px rgb(126, 121, 121);
}

.own-list .items a {
  display: block;
  width: 120px;
  height: 40px;
  color:rgb(126, 121, 121);
}

.own-list .items a::before {
  position: absolute;
  top: -2px;
  left: -16px;
  z-index: -1;
  display: block;
  content: "";
  width: 36px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px rgb(126, 121, 121);
  background-color: rgb(126, 121, 121);
}

.own-list .items:hover a {
  color: rgb(126, 121, 121);
  color: #fff;
}

.own-list .items:hover a::before {
  background-color: #fff;
}

.own-list .items:hover {
  background-color: rgb(126, 121, 121);
}

.own-list .active a {
  color: rgb(126, 121, 121);
  color: #fff;
}

.own-list .active a::before {
  background-color: #fff;
}

.own-list .active {
  background-color: rgb(126, 121, 121);
}

footer {
  box-sizing: border-box;
  margin-top: -30px;
  height: 30px;
}
