input[type="file"] {
   color: #666;
   background-color: #fff;
   border: solid 1px #ccc;
}

.database {
   padding-top: 50px;
}

.date {
   width: 76px;
   height: 28px;
}

.database select {
   width: 220px;
   height: 28px;
   color: #666;
   border: solid 1px #ccc;
}

.database option {
   color: #666;
}

.database-items {
   width: 1000px;
   height: 60px;
   text-align: center;
}