

/* ***************** global ******************* */
body {
   background-color: #f3f3f5;
   overflow: auto;
}

.container {
	height: 100vh;
   background-color: #fff;
}

.btn-default {
	padding: 4px 10px;
	font-size: 13px;
	color: #666;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.btn-default:hover {
	color: #fff;
	background-color: #f81828;
	border: solid 1px #f81828;
}

.label {
	display: inline-block;
	width: 60px;	
}

.input-default {
	padding: 8px 20px;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
}

.input-default:focus {
	border: solid 1px #f81828;
}

.alert {
   position: fixed;
   left: 10vw;
   z-index: 20000;
   width: 80vw;
   height: 40vh;
   margin-top: 20vh;
   padding-top: 100px;
   background-color: #fff;
   vertical-align: middle;
}

.alert h3 {
   text-align: center;
}

.alert h4{
   font-size: 16px;
   line-height: 30px;
   font-weight: normal;
   text-align: center;
}

.alert-footer {
   text-align: center;
}


/* h4 {
	display: inline;
	padding-left: 4px;
	font-size: 16px;
	font-weight: normal;
	color: #666;
} */

h3 {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	color: #666;
}

button {
	cursor: pointer;
}