.list {
   
}


.expenses {
   
   font-size: 12px;
   
}

.expenses-header {
   height: 54px;
   padding: 0 20px;
   line-height: 54px;
   border: solid 1px #e8e8e8;
}

.expenses-header .status-list {
   height: 54px;
}

.expenses-header .status-list li {
   float: left;
   box-sizing: border-box;
   width: 100px;
   height: 54px;
   padding: 0 10px;
   font-size: 14px;
   color: #666;
   text-align: center;
}

.expenses-header .status-list li i {
   display: inline-block;
   width: 18px;
   height: 18px;
   margin-left: 4px;
   font-size: 12px;
   font-weight: bold;
   color: #fff;
   text-align: center;
   vertical-align: 0px;
   line-height: 18px;
   background-color: #f81828;
   border-radius: 50%;
}

.expenses-header .status-list .cur {
   color: #00c4de;
   border-bottom: solid 2px #00c4de;
}

.expenses-body {
   height: 460px;
   padding-bottom: 10px;
   padding-left: 40px;
   background-color: #fff;

   overflow: auto;
}


.expenses-body .items {
   float: left;
   width: 308px;
   height: 180px;
   margin-top: 40px;
   margin-right: 30px;
   border: solid 1px #ccc;
   background-color: #FFF;
   box-shadow: 0 0 13px 1px rgba(1, 13, 37, .15);
}

.expenses-body .items .items-header {
   box-sizing: border-box;
   height: 40px;
   padding: 0 20px;
   color: #666;
   line-height: 40px;
}

.expenses-body .items .items-body {
   box-sizing: border-box;
   width: 308px;
   height: 100px;
   padding: 10px 20px;
   line-height: 14px;
   color: #666;
   border-top: solid 1px #e8e8e8;
}

.expenses-body .items .items-footer {
   box-sizing: border-box;
   height: 40px;
   padding: 0 20px;
   color: #666;
   line-height: 40px;
   border-top: solid 1px #e8e8e8;
}

.expenses-body .items .status-3 {
   margin-top: 7px;
   width: 56px;
   height: 24px;
   font-size: 12px;
   color: #fff;
   background-color: #00c4de;
}




.status-list .items{
   cursor: pointer;
}




.loading {
   background-color: #fff;
}