.container {
   position: relative;
   background-image: url("../../static/img/bg/login.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.login-form {
   position: absolute;
   top: 50%;
   left: 50%;
}

.login-form-wrapper {
   position: relative;
   margin-top: -40%;
   margin-left: -50%;
   width: 420px;
   height: 330px;
   background-color: #fff;
   border: solid 1px #e8e8e8;
   border-radius: 15px;
   box-shadow: 0 0 25px #cac6c6;
}

.login-form-header {
   padding: 50px 0 30px;
}

.login-form-header h2 {
   font-size: 24px;
   color: #2426a0;
   letter-spacing: 2px;
   font-weight: bold;
   text-align: center;
}

.login-form-body {
   text-align: center;
}

.login-form-items {
   box-sizing: border-box;
   height: 68px;
   padding-top: 10px;
}

.login-form-items .tips {
   display: inline-block;
   margin-top: 8px;
   font-size: 12px;
   color: #f81828;
}

.login-form-footer {
   position: absolute;
   bottom: 40px;
   width: 100%;
   text-align: center;
}

.copyright {
   position: absolute;
   z-index: 2;
   bottom: 30px;
   width: 100%;
   font-size: 12px;
   text-align: center;
}