/* *************************** caselike *********************************** */

.case-like {
   display: block;
   box-sizing: border-box;
   padding-top: 50px;
   
}

.buy-divider {
   height: 38px;
   padding-bottom: 14px;
   text-align: center;
}

.case-wrapper {
   margin-top: 20px;
   margin-bottom: 20px;
   height: 779px;
   border-radius: 3px;
   overflow: hidden;
   box-shadow: 0 0 12px 1px rgba(1, 17, 37, .15);
}


.case-wrapper li {
   position: relative;
   float: left;
   width: 16.666666%;
   box-sizing: border-box;
   height: 260px;
   background-color: #fff;
   border-right: dashed 1px #d9d9d9;
   border-bottom: dashed 1px #d9d9d9;
   overflow: hidden;
}
 
 .case-wrapper li .image {
   margin: 0 auto;
   margin-top: 20px;
   width: 80%;
   overflow: hidden;
 }
 
 .case-wrapper li .image img {
   display: block;
   width: 100%;
   transition: all .3s;
 }
 
 
 .case-wrapper li:hover .image>img {
   display: block;
   margin-top: -2%;
   margin-left: -2%;
   width: 104%;
 }
 
 .case-wrapper li h3 {
   position: absolute;
   left: 8%;
   bottom: 20%;
   display: -webkit-box;
   width: 82%;
   height: 16%;
   font-weight: normal;
   font-size: 13px;
   color: #333;
   line-height: 20px;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   text-overflow: ellipsis;
   overflow-y: hidden;
 }
 
 .case-wrapper li span {
   position: absolute;
   left: 100px;
   bottom: 14px;
   font-size: 13%;
   color: #999;
   line-height: 22px;
   text-decoration-line: line-through;
 }
 
 .case-wrapper .price {
   position: absolute;
   left: 10px;
   bottom: 21px;
   padding-left: 2px;
   color: #f81828;
   font-size: 16px;
 }

 
 .case-wrapper .cart {
   position: absolute;
   right: 1%;
   bottom: 7.8%;
   width: 48%;
   height: 6.8%;
   transition: all .3s;
 }

.case-wrapper .cart a {
   display: block;
   width: 80%;
   height: 100%;
   text-align: center;
   line-height: 160%;
   color: #fff;
   font-size: 12px;
   border-radius: 50px;
   background-color: #f81828;
   box-shadow: 0 0 3px 0 #f81828;
   transition: all .3s;
}

.case-wrapper .cart a:link {
   text-decoration: none;
}

.case-wrapper .cart:hover a{
   color: #f81828;
   background-color: #fff;
}

.case-wrapper .cart:hover .icon-carts {
   color: #f81828;
}
