a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

img{border:none}

button {
    outline: 0;
    border: none
}

body {
	line-height: 1;
    font-family: Microsoft Yahei,SimSun,Helvetica;
    overflow-x: hidden;
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: '';
	content: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a:link {
	text-decoration: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

* {
    font-family: Microsoft Yahei,SimSun,Helvetica;
	font-size: 14.7px;
    color: #000;
    user-select: none; 
}

h1 {
	font-size: 24px;
	font-weight: 700
}

h2 {
	font-size: 20px;
	font-weight: 700
}

h3 {
	font-size: 16px;
	font-weight: 700
}

h4 {
	font-size: 14px;
	font-weight: 700
}

h5 {
	font-size: 13px;
	font-weight: 700
}

h6 {
	font-size: 12px;
	font-weight: 700
}

p {
	font-size: 10px
}

input {
	outline: 0
}

.clearfix {
	clear: both;
	zoom: 1
}

.clrhvr {
	width: 100%;
	height: 300px;
	position: absolute
}

.flt {
	float: left
}

.frt {
	float: right
}

.dplyes {
	display: block
}

.dplyno {
	display: none
}

.ps-rlt {
	position: relative
}

.ps-abt {
	position: absolute
}

.w-20 {
	width: 20%;
	overflow: hidden
}

.W-40 {
	width: 40%;
	overflow: hidden
}

.w-50 {
	width: 50%;
	overflow: hidden
}

.W-60 {
	width: 60%;
	overflow: hidden
}

.W-100 {
	width: 100%;
	overflow: hidden
}

.w-80 {
	width: 80%;
	overflow: hidden
}

.w-38 {
	width: 38%;
	overflow: hidden
}

.w-62 {
	width: 62%;
	overflow: hidden
}

.col-1 {
	float: left;
	display: block;
	width: 8.33333333%
}

.col-2 {
	float: left;
	display: block;
	width: 16.66666667%
}

.col-3 {
	float: left;
	display: block;
	width: 25%
}

.col-4 {
	float: left;
	display: block;
	width: 33.33333333%
}

.col-5 {
	float: left;
	display: block;
	width: 41.66666667%
}

.col-6 {
	float: left;
	display: block;
	width: 50%
}

.col-7 {
	float: left;
	display: block;
	width: 58.33333333%
}

.col-8 {
	float: left;
	display: block;
	width: 66.66666667%
}

.col-9 {
	float: left;
	display: block;
	width: 75%
}

.col-10 {
	float: left;
	display: block;
	width: 83.33333333%
}

.col-11 {
	float: left;
	display: block;
	width: 91.66666667%
}

.col-12 {
	float: left;
	display: block;
	width: 100%
}

.w-1200 {
	margin: 0 auto;
	width: 1200px
}

a {
	color: #000
}


.txtl {
   text-align: left;
}

.gray {
   color: #777;
}


/* ***************** global ******************* */
html {
   min-width: 1260px;
}
body {
   background-color: #f3f3f5;
   overflow-x: scroll;
}

.container {
   background-color: #fff;
}



/* ************************************************ value ************************************************ */


.num {
   width: 84px;
   height: 24px;
   margin: 0 auto;
   margin-top: 28px;
}


.num input[name='jian'] {
   float: left;
   display: inline-block;
   margin: 0;
   width: 24px;
   height: 24px;
   padding: 0;
   font-size: 20px;
   background-image: url(../img/jian.png);
   background-repeat: no-repeat;
   background-position: center;
   color: #bbb;
   background-color: #fff;
   border: 1px solid #ccc;
   cursor: pointer;
}

.num input[type='text'] {
   float: left;
   display: inline-block;
   margin: 0;
   width: 36px;
   height: 24px;
   padding: 0;
   font-size: 16px;
   text-align: center;
   
   line-height: 20px;
   color: #666;
   background: none;
   border: none;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

.num input[name='jia'] {
   float: left;
   display: inline-block;
   margin: 0;
   width: 24px;
   height: 24px;
   padding: 0;
   font-size: 20px;
   background-image: url(../img/jia.png);
   background-size: 60%;
   background-repeat: no-repeat;
   background-position: center;
   color: #999;
   background-color: #fff;
   border: 1px solid #ccc;
   cursor: pointer;
}


.num-tips {
   margin-left: 20px;
   font-size: 14px;
   color: #999;
}



/* ***************** topbar ******************* */
.topbar {
   width: 100%;
   height: 30px;
   background-color: #f3f3f5;
}

.topbar-wrapper {
   font-size: 12px;
   line-height: 30px;
   color: #666;
}

.topbar-wrapper a {
   margin-left: 4px;
}

.top-nav {
   height: 30px;
   list-style: none;
}

.top-nav li {
   float: left;
   height: 30px;
   margin: 0 10px;
}

.top-nav li + i {
   float: left;
   font-size: 12px;
   color: #ddd;
}

.top-nav .wechat {
   position: relative;
}

.top-nav .wechat i{
   display: inline-block;
   width: 24px;
   height: 30px;
   text-indent: 4px;
   vertical-align: -10px;
   background-image: url(../img/wechat.gif);
   background-position-x: 0px;
   background-position-y: 5px;
   background-repeat: no-repeat;
}

.top-nav .wechat .erma {
   display: none;
   position: absolute;
   top: 27px;
   right: -12px;
   z-index: 100;
   width: 140px;
   height: 140px;
   border: solid 1px #ccc;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}


.top-nav .wechat:hover .erma {
   display: block;
}

.top-nav .tels {
   position: relative;
}

.top-nav .tels i{
   display: inline-block;
   width: 24px;
   height: 30px;
   text-indent: 4px;
   vertical-align: -10px;
   background-image: url(../img/tel.gif);
   background-position-x: 0px;
   background-position-y: 5px;
   background-repeat: no-repeat;
}


.top-nav .tels .erma {
   display: none;
   position: absolute;
   top: 27px;
   right: -12px;
   z-index: 100;
   width: 140px;
   height: 140px;
   border: solid 1px #ccc;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}

.top-nav .tels .erma img {
   display: block;
   width: 100%;
}

.top-nav .tels:hover .erma {
   display: block;
}
 
.shopcart {
   position: relative;
   margin: 0 auto;
   width: 128px;
   height: 38px;
   line-height: 38px;
   text-align: center;
   background-color: #fff;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   box-shadow: 0 0 5px 0 rgba(17,17,37, .15);
   cursor: pointer;
   transition: all .15s;
}

.shopcart span {
   margin-left: 5px;
   font-size: 13px;
   color: rgba(248, 24, 40, 1);
}

.shopcart i {
   font-size: 18px;
   color: rgba(248, 24, 40, 1);
   vertical-align: -1px;
}

.count {
   box-sizing: border-box;
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-left: 4px;
   padding: 2px;
   font-size: 13px;
   font-weight: bold;
   line-height: 12px;
   vertical-align: 0px;
   color: #fff;
   border-radius: 50%;
   background-color: rgba(248, 24, 40, 1);
}

.shopcart:hover {
   background-color: rgba(248, 24, 40, 1);
}

.shopcart:hover span {
   color: #fff;
}

.shopcart:hover i {
   color: #fff;
}

.shopcart:hover .count {
   color: rgba(248, 24, 40, 1);
   background-color: #fff;
}

.page-title h3{
   font-size: 22px;
   color: rgb(255, 102, 36);
   line-height: 50px; 
   letter-spacing: 3px;
}