/*************************************************** top_navbar **********************************************************/
.container {
    width: 100%;
    height: 100px;
    padding: 0;
}

.top-wrapper {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
}

.top-navbar {
    width: 100%;
    height: 30px;
}
  
.top-navbar-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 1px;
}
  
.top-navbar-wrapper li,
.top-navbar-wrapper li a {
    position: relative;
    z-index: 1;
    float: right;
    width: 80px;
    text-align: center;
    font-size: 13px;
    color: #777;
  
    line-height: 30px;
}
  
.top-navbar-wrapper .active a,
.top-navbar-wrapper .active {
    color: #ff0006;
}
  
.top-navbar-wrapper li:hover a {
    color: #ff0006;
}
  
.top-navbar-wrapper .drop:hover {
    height: 28px;
    border: solid 1px #ccc;
    border-bottom: none;
    background-color: #fff;
    color: #777;
}

.top-navbar-wrapper .drop .drop-list {
    display: none;
    position: absolute;
    top: 27px;
    right: -1px;
    width: 380px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
}
  
.top-navbar-wrapper .drop:hover .drop-list {
    display: block;
}
  
.drop-list {
    padding: 14px 0 14px 14px;
}
  
.drop-list .left {
    padding-right: 20px;
    border-right: solid 1px #ddd;
}
  
.drop-list dl dt {
    font-weight: bold;
    color: #666;
}
  
.drop-list dl dd {
    color: #999;
}
  
.top-navbar-wrapper .drop:hover a
{
    height: 30px;
    border: none;
    background-color: #fff;
    color: #777;
}
  
.top-navbar-wrapper .drop .drop-list dl dd a:hover{
    border:none;
    color: #ff0006;;
}
  
.drop-list .right {
    padding-left: 10px;
    width: 250px;
}
  
.drop-list .right dt {
    text-indent: 14px;
    text-align: left;
}
  
.drop-list .right dd {
    float: left;
}
  
  


/*仿京东商品筛选功能*/
.clear_both{
    clear: both;
}
  
.right-extra{
    width: 1200px;
    position:relative;
    float:left;
}
  
.nch-container .shop_con_list{
    width:978px;
    margin-top:35px;
    display:inline-block;
    float:left;
}

.nav_title{
    height: 33px;
    line-height: 33px;
    padding: 0 10px;
}
  
.nav_title .U_choose,.total_goods{
    float: left;
}

.nav_title .U_choose{
    font-size: 14px;
    font-weight: none;
    color: #f0f0f0;
    font-family:microsoft yahei;
}
  
.goods_list{
    overflow:hidden;
    position:relative;
    z-index:10;
}

.total_goods{
    font-size: 12px;
    color:#333;
    font-family: microsoft yahei;
}
  
.attr_father li dl dt{
    float: left;
    margin-right:8px;
    font-family: microsoft yahei;
    width: 60px;
    font-weight: bold;
}
  
.attr_father li dl dd{
    float: left;
    margin-right: 40px;
    width: auto;
    height: 40px;
    white-space:nowrap;
}
  
.attr_father li dl dd a{
    color: #005aa0;
    text-decoration: none;
    font-family: verdana,SimSun;
    font-weight: normal;
    display:block;
    cursor:pointer;
}
  
.attr_father li dl dd strong{
    font-weight: normal;
}
  
.attr_son{
    margin-left: 106px;
    padding: 0 95px 0 38px;
    overflow: hidden;
    background: #fff;
    width:959px;
}
  
.more_item{
    width: 59px;
    float:left;
    text-align: center;
    color: #666;
}
   
.attr_father a:hover{
    color:#ff0006;
}
  
.more_item{
    cursor: pointer;
}
  
.price_auto{
    float: left;
}
  
.price_width{
    width: auto;
}
  
.price_auto input{
    width: 36px;
    padding:0 2px;
    border: 1px solid #ccc;
    height: 19px;
    line-height: 19px;
    font-family: verdana,SimSun;
    color: #333;
}
  
.price_auto .span_price_class{
    color: #ccc;
    line-height:20px;
}
  
.price_ok{
    display: inline-block;
    *display:inline;
    *zoom:1;
    line-height: 14px;
    height: 21px;
    width:50px;
    *width:50px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #DDD;
    padding:0 8px;
    color: #666;
    margin-left: 8px;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}

.price_class{
    float: left;
}
  
.span_price_class{
    margin: 0 5px;
}
  
.u_cloose{
    overflow:hidden;
    line-height:40px;
    background-color:#f8dde4;
    position:relative;
}

.u_cloose li{
    overflow:hidden;
}

.u_cloose dt{
    width: 100px;
    float: left;
    text-align: right;
    line-height:40px;
    padding:5px 6px 5px 0;
}

.u_cloose dd{
    padding:13px 126px 13px 38px;
    float:left;
    min-height:24px;
    width:930px;
    background-color:#f7f7f7;
}
  
.u_cloose dd .get_item{
    position: relative;
    float: left;
    height: 22px;
    line-height: 22px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    margin: 0 5px 5px 0;
    padding: 0 26px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
    max-width: 230px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
  
.u_cloose dd .get_item:hover{
    cursor: pointer;
    border: 1px solid #ff0006;
}

.u_cloose dd .get_item b{ font-weight: 400;color: #333;}
.u_cloose dd .get_item em{ color: #e4393c;}
.u_cloose dd .get_item a{ display: block;position: absolute;width: 25px;height: 22px;right: 0;top: 0; background:url(../img/search.png) no-repeat 7px -140px;}
.u_cloose dd .get_item:hover a{  background-position: 7px -158px;  background-color: #e4393c;}
  
.u_cloose dd.give_up_all{
    position:absolute;
    width:48px;
    height: auto;
    right: 10px;
    line-height: normal;
    top: 15px;
    padding:0;
}
  
.u_cloose dd.give_up_all a{
    text-decoration: none;
    color: #999;
    float: right;
    font-family: SimSun;
}
  
.u_cloose dd.give_up_all a:hover{
    color: #E7393C;
}
  
.brand_name_l,.attr_father li .filter_attr_name{
    width: 100px;
    float: left;
    text-align: right;
    padding-right:6px;
 }
  
.brand_div{
    float: left;
    padding-top:18px;
    padding-bottom:18px;
}
  
.brand_div .brand_img_word{
    float: left;
    width: 98px;
    height: 44px;
    padding: 0;
    border: 1px solid #ddd;
    margin-right: 0;
    margin: -1px -1px 0 0;
    background: #fff;
    text-align: center;
}

.brand_div .brand_img_word:hover{
    border-color: #ff0006;
    position: relative;
    z-index: 5;
}

.brand_div .brand_img_word img{
    width: 98px;
    height: 44px;
    overflow: hidden;
}

.brand_img .sl-ext{
    top:16px;
}

.brand_img_word a{
    display: block;
    border: 1px solid #fff;
    width: 96px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3a78bf;
    line-height: 42px;
}
  
.brand_img_word strong{
    display: none;
    font-weight:normal;
}

.brand_select_more{
    margin-left: 106px;
    padding: 0 95px 0 38px;
    overflow: hidden;
    background: #fff;
}
  
.brand_select_more .all_a_z ul li{
    width:auto;
    padding:0 6px;
    height:20px;
    line-height: 20px;	
    float:left;
    background:#fff;
    border: 1px solid #FFF;
    cursor: default;
    text-align: center;
    color: #005aa0;
    cursor:pointer;
}

.brand_select_more .all_a_z ul li.curr{
    color:#ff0006;;
    border-color:#ff0006;;
}
  
.all_a_z{
    padding-bottom: 10px;
    display: none;
    overflow:hidden;
}

  
.a_z{
    float: left;
}
  
.a_z li{
    float: left;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 15px;
    text-align: center;
    cursor: pointer;
    padding: 0 2px;
    font-family: verdana,SimSun;
}
  
  
.input_search{
    float:right;
    padding-right:17px;
    position:relative;
}

.input_search input{
    padding: 2px 5px 2px 30px;
    border:1px solid #ccc;
    color: #999;
    height:18px\9;
    width:160px\9;
}

.input_search i{ display:block; height:17px; width:17px; background:url(../img/ecsc_icon.png) -580px -239px no-repeat; position:absolute; top:2px; left:8px;}
  
.wrap_brand{
     overflow-x:hidden;
     overflow-y:auto;
}

.extend .wrap_brand{
    width:960px;
    height:181px; 
    margin-bottom:10px;
}

.zimu_list{
    background: #ffffff;
    height: 100px; 
    overflow-x:hidden;
    overflow-y:auto;
    display: none;
    margin-top:10px;
}
  
.get_more{
    float:left;
    width: 915px;
    margin-left:8px;
}
  
.brand_select_more .zimu_list ul.get_more li{
    padding: 0px;
    border: 0 none;
    margin: 0px;
    float: left;
     color: #005aa0;
    height: 20px;
    cursor: pointer;
    line-height: 20px;
    width: 130px;
    margin-bottom: 5px;
    display:block;
    background:#fff;
}
  
.get_more span{
    float: left;
    margin-right:5px; 
}

.choose_ico{
    width: 12px;
    height: 12px;
    margin-top: 4px;
    display: block;
    background:url(../img/checkbox-icon_g.png) no-repeat;
}
  
  
.goods_brand_name{
    float: left;
}
  
.get_more .is_yes{
    color: #f0f0f0;
}
  
.is_yes .choose_ico{
    width: 12px;
    height: 12px;
    margin-top: 4px;
    display: block;
    background:url(../img/checked-icon-r.png) no-repeat;
}
  
.ds_none{
    display: none;
}
  
  
.enter_yes_no{
    text-align: center;
    display: none;
}
  
.ct_auto{
    padding:10px 0;
}
  
.ct_auto .botton{
    display: inline-block;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #DDD;
    padding: 3px 13px 3px;
    color: #666;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}
  
.ct_auto .botton.yes_bt{
    margin-right: 8px;
    display: inline-block;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ff0006;;
    padding: 3px 13px 3px;
    color: #FFF;
    background-color: #E74649;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#E74649,#DF3033);
    background-image: -webkit-linear-gradient(top,#E74649,#DF3033);
    background-image: -o-linear-gradient(top,#E74649,#DF3033);
    background-image: linear-gradient(top,#E74649,#DF3033);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E74649', endColorstr='#DF3033', GradientType=0);
}

.ct_auto .botton.disabled{
    padding: 4px 13px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    cursor: default;
    color: #fff;
    opacity: 0;
    filter: alpha(Opacity=0);
    filter: alpha(Opacity=0);
}
  
.price_width dd a{
    font-family: verdana,SimSun;
}
  
.sl-ext{
    position: absolute;
    top: 16px;
    right: 0px;
    width: 95px;
    height: auto;
    line-height: 22px;
    overflow: hidden;
    zoom: 1;
}

.choose_more2,.Color_CS,.choose_more{
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    position: relative;
    float: right;
    line-height: 20px;
    padding-left: 18px;
    margin-right:10px;
    color: #727171;
    cursor:pointer;
}

.choose_more2 .icon,.Color_CS .icon,.choose_more .icon{
    background: url(../img/ecsc_icon.png) no-repeat;
    position: absolute;
    display: inline-block;
    background-position: -235px -246px;
    width: 9px;
    height: 9px;
    top: 5px;
    left: 5px;
}

.choose_more2:hover,.Color_CS:hover,.choose_more:hover{
    color: #ff0006;
    border: 1px solid #ff0006;
}

.choose_more2:hover .icon,.Color_CS:hover .icon,.choose_more:hover .icon{
    background-position: -222px -246px;
}

.attr_color dd{
    float: left;
    text-align: center;
    position: relative;
    line-height: 20px;
  /*  border: #f0f0f0 1px solid;*/
    height: 20px !important;
    width: 20px !important;
}
  
.attr_color dd:hover{
    cursor: pointer;
  /*  border:1px solid #f0f0f0;*/
}
  
.attr_color dd span{
    width: 20px;
    height: 20px;
  /*  margin: 2px;*/
    display: block;
}
  
.tw_buttom{
    display: none;
    margin-bottom: 10px;
    padding-top: 5px;
    width:100%;
    overflow:hidden;
    text-align:center;
}
  
.tw_buttom span{
    display: inline-block;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
    background: #F7F7F7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #DDD;
    padding: 3px 13px 3px;
    color: #666;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);	
}

.tw_buttom span.sure{
    border-color:#E74649;
    color:#fff;
    margin-right:8px;
    background-color:#E74649;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#E74649,#DF3033);
    background-image: -webkit-linear-gradient(top,#E74649,#DF3033);
    background-image: -o-linear-gradient(top,#E74649,#DF3033);
    background-image: linear-gradient(top,#E74649,#DF3033);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E74649', endColorstr='#DF3033', GradientType=0);
}
.tw_buttom span.disabled{
    opacity:0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor: default;
}
  
.color_list_color{
    padding: 10px 0;
    float:left;
    width:100%;
}
  
  /*ecmoban模板堂 -zhuo start*/
  .attr_father li{
      width:1198px; 
      display:block;
      float:left;
      position:relative;
      line-height:40px;
  }
  .attr_father li{background-color: #fff;}
  
  .attr_father li .filter_attr_name span,.attr_father li .brand_name_l span{
      padding-right: 22px;
  }
  .color_list_color .color_divdd{
      width:auto; 
      height:auto;
      margin-right:20px;
      display:inline-block;
      float:left;
  }
  .color_list_color .color_divdd dd{
      margin-right:0;
  }
  .color_list_color .color_divdd span{
      width:20px;
      height:20px;
      float:left;
      display:inline-block;
  }
  
  .attr_father li .price_auto div.price_range{ margin-right:20px;float:left;}
  .attr_father li .price_bottom{ position:relative; margin:10px 0 0;}
  /*ecmoban模板堂 -zhuo end*/
  
  .multiple .selected b{
      background: url(../img/20121207A.gif) right bottom no-repeat;
      border: 1px solid #ff0006;;
      height: 18px;
      width: 18px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index:100;
  }
  
  .item_list .get_me span{
      background: url(../img/checkbox-icon_g.png) no-repeat;
      display: block;
      float: left;
      height: 12px;
      margin-right: 5px;
      margin-top: 14px;
      width: 12px;
  }
  
  .item_list .selected span{
      background: url(../img/checked-icon-r.png) no-repeat;
  }
  
  .u_get{
      float: left;
      margin-right: 40px;
      width: auto;
      font-family: verdana,SimSun;
  }
  
  .zimu_list a{
    text-decoration: none;
    color: #005aa0;
  }
  .click_more {
      text-align: center;
      position: relative;
      border-top: 1px solid #ddd;
      -webkit-transition: border-color .15s ease-in-out;
      -moz-transition: border-color .15s ease-in-out;
      transition: border-color .15s ease-in-out;
      z-index:9;
  }
  .click_more span{
      position: relative;
      display: inline-block;
      margin-top: -2px;
      height: 28px;
      line-height: 28px;
      padding: 0 40px 0 20px;
      border-width: 1px;
      border-style: solid;
      border-color: #FFF #DDD #DDD;
      background: #fff;
      cursor: pointer;
      color: #333;
      -webkit-transition: border-color .15s ease-in-out;
      -moz-transition: border-color .15s ease-in-out;
      transition: border-color .15s ease-in-out;
  }
  .click_more i{
      position: absolute;
      right: 16px;
      top: 2px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../img/search.png) no-repeat 4px 7px;
  }
  .click_more i.up{
      background-position: 4px -27px;
  }
  .click_more:hover{
      border-color:#ff0006;;
  }
  .click_more:hover span{
      border-color: #FFF #e4393c #e4393c;
  }
  .click_more:hover strong{
      color:#ff0006;;
  }
  .click_more:hover i{
      background-position: 4px -10px;
  }
  .click_more:hover i.up{
      background-position: 4px -44px;
  }
  
  .click_more strong{
    font-weight: normal;
    float: left;
    max-width: 250px;
    height: 25px;
    line-height: 25px;
    display:block;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
  }
  
  .more_3,.choose_open{
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #c9c9c9;
      border-radius: 5px;
      position: relative;
      float: left;
      margin-right: 5px;
      cursor:pointer;
  }
  .icon_all{
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 8px;
      background: url(../img/ecsc_icon.png) -263px -291px no-repeat;
      top: 7px;
      right: 4px;
      font-size: 19px;
  }
  .choose_open:hover{
      border-color:#ff0006;;
  }
  .choose_open:hover .icon_all{
      background-position: -542px -201px;
  }
  .choose_open .icon_down{
      background-position:-278px -292px;
  }
  .choose_open:hover .icon_down{
      background-position:-561px -202px;
  }
  .item_list{ float:left;}
  .ohide{ height:40px;}
  .extend .ohide,.multiple .ohide{ height:auto;}
  
  .extend .all_a_z{ display:block;}
  .extend .brand_div{ padding-top:0; margin-top:1px; margin-bottom:0;}
  .extend .brand_select_more,.multiple .brand_select_more{ border-bottom:1px solid #f1edee; padding-top:15px;}
  .extend .attr_son{ padding-top:0;}
  .multiple .attr_son{ border-bottom:1px solid #f1edee; padding-top:10px;}
  .same_li .multiple .attr_son{ border-bottom:1px solid #f1edee; padding-top:0px;}
  .multiple .all_a_z,.multiple .zimu_list,.multiple .enter_yes_no{ display:block;}
  .multiple .wrap_brand{ display:none;}
  .multiple .tw_buttom{ display:block; line-height:normal;}
  .multiple .color_list_color{ padding:0;}
  
  .same_li .choose_open{ display:none;}
  
  .filter-section-wrapper .down .icon{ background-position:-266px -268px;}
  .filter-section-wrapper .down .choose_more:hover .icon{ background-position:-274px -268px;}
  
  


  .filter-section-wrapper{margin: 10px auto; position:relative;}
  .filter-section-wrapper .component-filter-top{ overflow:hidden;}
  .mb-component{ border-bottom:2px solid #dcdcdc;}
  .mt-component{ border-top:2px solid #dcdcdc;}
  .mt-component-2{ border-top:1px solid #dcdcdc;}
  .component-filter{ float:left;}
  .component-filter .filter-label-list{ padding:28px 0px 0 35px; float:left;font-family:"microsoft yahei"; width:1165px;}
  .component-filter .filter-label-list .label{ float:left; color:#333; font-size:14px;}
  .component-filter .filter-label-list .filter-quanbu{ float:left;padding:0 24px 0 55px;}
  .component-filter .filter-label-list .filter-quanbu a{ font-size:12px; color:#3a78bf; font-weight:bold;}
  .component-filter .filter-label-list .filter-quanbu.current{ padding:0 15px 0 52px;}
  .component-filter .filter-label-list .filter-quanbu.current a{ border:1px solid #ff0006;; padding:2px 5px; line-height:22px; border-radius:5px; color:#ff0006;;}
  .component-filter .filter-label-list .inline-block-list{ overflow:hidden; float:left; width:auto;}
  .component-filter .filter-label-list .inline-block-list li{ float:left; width:82px; padding-left:30px;}
  .component-filter .filter-label-list .inline-block-list li a{ color:#3a78bf; line-height:20px;}
  .component-filter .filter-label-list .inline-block-list li a:hover,.component-filter .filter-label-list .inline-block-list li a.current{ color:#ff0006;;}
  .component-filter .filter-label-list .inline-block-list li a .number{ color:#666;}
  .component-filter .filter-label-list .filter-tab{ float:left;padding-left:32px;}
  .component-filter .filter-label-list .filter-tab li{ float:left; color:#3a78bf; margin-right:52px; line-height:22px; cursor:pointer;}
  .component-filter .filter-label-list .filter-tab li.on{ border:1px solid #3a78bf; padding:0 5px; border-radius:5px;}
  .component-filter .filter-label-list .fliter-list{ float:left; padding-left:147px;}
  .component-filter .filter-label-list .fliter-list .inline-block-list{ padding-top:10px;}
  .component-filter-top .filter-label-list{ background:#efefef; padding:20px 0 20px 35px; float:left; width:1165px;}
  .component-filter-top .filter-label-list li{ float:left; padding-right:58px; width:auto; padding-left:0;}
  .component-filter-top .filter-label-list li a{ color:#333; font-size:14px;font-family:"microsoft yahei";}
  .component-filter-top .filter-label-list li a:hover,.component-filter-top .filter-label-list li a.current{ color:#ff0006;;}
  .component-filter-category .filter-label-list .inline-block-list{ float:none;}



  #filter .component-filter-sort{ margin-top:18px;}
  .component-filter-sort .filter-sortbar { width: 980px; height:42px; line-height:40px; border:1px solid #dcdcdc; }
  .component-filter-sort .button-strip{ float:left; font-size:12px; line-height:40px; text-align:center;}
  .component-filter-sort .button-strip-item{ float:left; padding:0 20px 0 15px; position:relative; border-right:1px solid #dcdcdc;color:#666;}
  .component-filter-sort .button-strip .current{ background:#ff0006;; color:#fff; border-color:#ff0006;; height:40px; line-height:40px;}
  .component-filter-sort .button-strip-item .icon{ width:10px; height:10px; display:inline-block; position:absolute; top:15px; right:8px;}
  .component-filter-sort .button-strip-item .icon-down{ background-position:-17px -37px;}
  .component-filter-sort .button-strip-item.current .icon-down{ background-position:-7px -37px;}
  .component-filter-sort .button-strip-item .icon-up{ background-position:-17px -54px;}
  .component-filter-sort .button-strip-item.current .icon-up{ background-position:-7px -54px;}
  .component-filter-sort .button-strip-item .icon-sx{ background-position:-30px -37px;}
  .component-filter-sort .price-button-strip{ float:left; padding:0 20px;border-right:1px solid #dcdcdc; position:relative}
  .component-filter-sort .price-button-strip input { width:50px; height:20px; line-height:20px; outline:0; padding-left:5px; color:#666; border:1px solid #ccc;}
  .price-button-strip .fP-box{}
  .price-button-strip .fP-expand,.price-button-strip .fP-expand-kword{ display:none; position:absolute;z-index:99; border:1px solid #dcdcdc; background:#EFECEB; width:167px; left:-1px; text-align:center;}
  .price-button-strip .fP-expand .ui-btn-s, .price-button-strip .fP-expand-kword .ui-btn-s{ border:1px solid #ccc;height:18px;line-height:18px;*line-height:20px;color:#333; padding:0 10px;display:inline-block;outline:0;cursor:pointer;
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
  background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
  background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
  background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);}
  .price-button-strip .fP-expand .ui-btn-s-primary, .price-button-strip .fP-expand-kword .ui-btn-s-primary{
  color:#fff;
  border-color:#ff0006;; 
  background-color: #ff0006;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top,#ff0006,#f55658);
  background-image: -webkit-linear-gradient(top,#ff0006,#f55658);
  background-image: -o-linear-gradient(top,#ff0006,#f55658);
  background-image: linear-gradient(top,#ff0006,#f55658);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0006;', endColorstr='#f55658', GradientType=0);margin-left:8px;
  }
  .price-button-strip .fP-expand .ui-btn-s:hover,.price-button-strip .fP-expand-kword .ui-btn-s:hover{ background-position: 0 -321px;}
  .price-button-strip .fP-expand .ui-btn-s-primary:hover,.price-button-strip .fP-expand-kword .ui-btn-s-primary:hover{background-position: 0 -21px;}
  .component-filter-sort .xz-button-strip{ float:left;}
  .store-checkbox{ float:left;}
  .store-checkbox .checkbox{ display:none;}
  .store-checkbox label{ padding-left:20px; margin-left:20px; color:#666; background:url(../img/ecsc_icon.png) -5px -72px no-repeat; cursor:pointer; background-position: -5px -71px\0; +background-position: -5px -73px;}
  .checkbox-checked label{ background:url(../img/checked-icon-r.png) 1px 1px no-repeat;background-position: 1px 2px\0;+background-position: 1px 0;}
  
  .component-filter-sort .button-page{ float:right; position:relative; margin-right:20px; padding-left:50px;}
  .component-filter-sort .button-page .pageState{ top:0px; right:60px; font-size:12px;font-family:"microsoft yahei"; line-height:40px; color:#999;}
  .component-filter-sort .button-page .pageState span{ color:#999;}
  .component-filter-sort .button-page a{ float:right;width: 22px;height: 22px;line-height: 22px;display: inline-block;background: #dcdcdc;color: #fff;text-align: center;font-size: 14px;margin-top: 10px; font-family: simsun; margin-right:2px;}
  
  .component-poi-list{ position:relative;}
  .component-poi-list .poi-list{ float:left;width:1200px;}
  .component-poi-list li{ float:left; position:relative; height:358px;border: 1px solid #dcdcdc; margin: -1px -1px 0 0;}
  .component-poi-list li .produc-content{ width:201px; padding:18px; border:1px solid transparent; background:#fff;}
  .component-poi-list li:hover{ overflow:visible; z-index:2;}
  .component-poi-list li:hover .produc-content{ border-color:#ff0006;;padding-bottom:0;/*margin-top:-1px;*/}
  .component-poi-list li .produc-content .p-img{ width:201px; height:201px; position:relative;}
  .component-poi-list li .produc-content .p-name{ line-height:20px; float: left; padding-top:15px; height:40px; overflow:hidden;}
  .component-poi-list li .produc-content .brand{ width:237px;}
  .component-poi-list li .produc-content .hang {padding-top: 8px;}
  .component-poi-list li .produc-content .p-comment { float: left;color: #999;}
  .component-poi-list li .produc-content .p-score { float: right;line-height: 20px;color: #666;}
  .component-poi-list li .produc-content .p-comment em { color: #666;font-weight: bold;}
  .component-poi-list li .produc-content .p-price { float: right;}
  .component-poi-list li .produc-content .original-price{ float:right; margin-right:10px; color:#999;}
  .component-poi-list li .produc-content .rebate{ background-position:-455px -166px;}
  .component-poi-list li .brand{ width:238px; height:402px; border:1px solid #ff0006;; position:absolute; top:0; left:0; display:none;z-index:99;}
  .component-poi-list li .time{ font-family:"microsoft yahei"; text-align:center; height:30px; line-height:30px; background:#fff;display:none; float:left; width:100%; padding-top:10px;}
  .component-poi-list li .group-btn{ width:237px; position:static; float:left; margin-left:-18px;}
  .component-poi-list li:hover .brand{ display:block;}
  .component-poi-list li:hover .group-btn { display:inline-block; color:#fff;}
  .component-poi-list li:hover .produc-content .rebate,.component-poi-list li .produc-content .selected{ background-position:-455px -142px;}
  .component-poi-list li:hover .time{ display:block;}
  
  .filter-mode{ height:40px; border-bottom:2px solid #e9781c; font-family:"microsoft yahei"; margin-left:1px;}
  .filter-mode .filter-jf{ float:left; margin-top:1px;}
  .filter-mode .filter-jf li{ float:left; height:38px; line-height:38px; text-align:center;}
  .filter-mode .filter-jf li a{ width:84px; display:inline-block; border:1px solid #dcdcdc; border-bottom:0; border-left:0;}
  .filter-mode .filter-jf li.first a{ border-left:1px solid #dcdcdc;}
  .filter-mode .filter-jf li a.current{ background:#e9781c; color:#fff; border-color:#e9781c;}
  .filter-mode .filter-jf .button-strip-item{ padding:0;}
  
  /* 面包屑所在位置 */
  .nch-breadcrumb-layout { text-align: center;}
  .nch-breadcrumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: left; height: 20px; padding: 15px 0; margin: 0 auto;}
  .nch-breadcrumb span { font-size: 12px; line-height: 20px; color: #999; letter-spacing: normal; word-spacing: normal; display: inline-block;*display: inline/* IE6,7*/; height: 20px; zoom: 1;}
  .nch-breadcrumb i { font-size: 14px; color: #AAA; margin-right: 4px;}
  .nch-breadcrumb span.arrow { font-family: "宋体"; line-height: 20px; color: #AAA; margin: 0 6px;}
  .nch-breadcrumb a { color: #777; display: block; }
  .nch-breadcrumb a:hover { color: #ff0006;}
  






  .page{width:98%;  position:relative; margin:20px auto; }
  .pagination1{width: 600px; border-left:1px solid #DEDEDE;height:31px;}
  .pagination1 li{float:left;width:50px;height:30px;font:14px/30px "微软雅黑";border:1px solid #DEDEDE;border-left:0px solid #DEDEDE; text-align:center;}
  .pagination1 li:hover{ background-color:#ff0006;; color:#fff;} 
  .pager_num{ border:1px solid #DEDEDE; width:40px; height:30px; text-indent:0px; text-align:center; font:14px/30px "微软雅黑"; }
  .at_pagediv{   float:left;margin-left:50px;}
  .pager_num[type='submit']{ background-color:#ff0006;height:32px; cursor:pointer; padding:0px 10px; width:50px; color:#FFFFFF;}



  .ecsc-breadcrumb{ padding:20px 0; line-height:24px;}
  .ecsc-breadcrumb .crumbs-nav-item{ float:left;}
  .ecsc-breadcrumb h1{ font-size:18px; font-weight:700; color:#666; float:left; font-family: "microsoft yahei";}
  .ecsc-breadcrumb span{ float:left; font-size:12px;color:#666; display:inline-block; width:auto; max-width:300px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .ecsc-breadcrumb .arrow{ font-family: "宋体";line-height: 24px;color: #AAA;margin: 0 6px;}
  .ecsc-breadcrumb .breadcrumb-item{ position:relative; display:inline-block; cursor:pointer; z-index:100;overflow:visible;}
  .ecsc-breadcrumb .breadcrumb-item .filter-tag{ border:1px solid #dcdcdc; height:24px; line-height:24px; padding:0 25px 0 10px; overflow:visible;}
  .ecsc-breadcrumb .breadcrumb-item .filter-tag .sc-icon-right{ top:10px;right:8px;}
  .ecsc-breadcrumb .hover .filter-tag .sc-icon-right{ background-position:-278px -291px;}
  .ecsc-breadcrumb-close{ position:absolute; display:inline-block; width:15px; height:15px; background-position:-204px -13px; top:6px; right:5px;}
  .ecsc-breadcrumb .select-item .filter-tag{ color:#ff0006;;}
  .ecsc-breadcrumb .dorpdown-layer{ position:absolute; top:26px; left:0; width:410px; border:1px solid #ff0006;; display:none; background:#fff;}
  .ecsc-breadcrumb .dorpdown-layer .dd-spacer{ position:absolute; width:59px; height:10px; background:#fff; top:-4px; left:0; overflow:hidden;}
  .ecsc-breadcrumb .dorpdown-layer .dorpdown-content-wrap{ overflow:hidden; padding:10px 5px;}
  .ecsc-breadcrumb .dorpdown-layer li{ width:85px; height:26px; float:left; padding-left:15px; overflow:hidden; /*padding:0 30px 0 15px;*/}
  .ecsc-breadcrumb .dorpdown-layer li.current a{ color:#ff0006;;}
  .ecsc-breadcrumb .hover .filter-tag{ border-color:#ff0006;;}
  .ecsc-breadcrumb .hover .dorpdown-layer{ display:block;}
  .ecsc-breadcrumb .empty{ color:#999; float:right; font-family:"microsoft yahei";}
  

















.shopcart {
    position: relative;
    margin: 0 auto;
    width: 128px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    background-color: rgb(255, 39, 49);
    border-radius: 1px;
    box-shadow: 0 0 5px 0 #e8e8e8;
    cursor: pointer;
}
  
.shopcart span {
    font-size: 13px;
    color: #fff
}
  
.shopcart i {
    font-size: 18px;
    color: #fff;
}
  
.count {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 13px;
    padding: 2px;
    border-radius: 50%;
    background: #ff0006;
    color: #fff;
    font-size: 12px;
}


.top-wrapper-bak {
    width: 100%;
    height: 193px;
    background-color: #fff;
    border-bottom: solid 2px #ff0006;
}


.window-main {
    padding-top: 16px;
}

.main-left {
    margin-top: -50px;
    width: 230px;
    /* border: solid 1px red; */
}

.logo {
    text-align: center;
}



.categorys-items {
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    width: 230px;
    height: 48px;
    background-color: #303030;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-tansition: all .3s ease-out;
    overflow: hidden;
}

.categorys-items:hover {
    height: 565px;
}


.categorys-items li {
    padding: 5px 12px;
    padding-top: 10px;
}
  
.categorys-items li b a {
    margin-left: 6px;
    color: #fff;
    font-size: 14.7px;
    line-height: 16px;
}
  
.categorys-items li i{
    color: #ccc;
    line-height: 24px;
    font-size: 16px;
}

.categorys-items li span a {
    color: #ccc;
    line-height: 24px;
    font-size: 13px;
}
  
.categorys-items li span {
    margin-left: 24px;
    margin-right: -14px;
}
  
  
.categorys-items li:hover {
    background-color: rgba(17,17,37, .6);
}
  
.type-top {
    width: 230px;
    height: 49px;
    background-color: #ff0006;
}
  
.type-top {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
  
.type-top a{
    color: #fff;
}
  
.categorys-items .type-top:hover {
    background-color: #ff0006;
}


.my-car {
    margin-top: 4px;
    width: 730px;
    height: 380px;
}

.img-items {
    width: 730px;
    height: 128px;
}

.img-items a {
    width: 365px;
    height: 128px;
}




.main {
    float: left;
    margin-left: 40px;
    padding-top: 34px;
    padding-left: 40px;
}
  
.search {
    width: 580px;
    height: 44px;
    background-color: #ff0006;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #ddd;
}
  
.search-input {
    margin-left: 1px;
    line-height: 1;
    vertical-align: -3px;
    width: 420px;
    height: 42px;
    padding-left: 12px;
    border: solid 2px #ff0006;
    font-size: 14.7px;
    border-radius: 4px;
}
  
.btn {
    margin-top: 1px;
    padding:0;
    width: 152px;
    height: 42px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    background-color: #ff0006;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    transition:  .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
}
  
.btn:hover {
    font-size: 25px;
    color: #fff;
}
  
.keyword-tips {
    margin-top: 16px;
    padding-left: 2px;
    width: 590px;
    height: 46px;
}
  
.keyword-tips li {
    float: left;
    width: 60px;
}
  
.keyword-tips li a {
    font-size: 13px;
    color: #777;
}
  
.keyword-tips li a:hover {
    color: #ff0006;
}

.shopcart {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 178px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e8e8e8;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 #e8e8e8;
    cursor: pointer;
}
  
.shopcart span {
    font-size: 13px;
    color: #ff0006;
}
  
.shopcart i {
    font-size: 18px;
    color: #ff0006;
}

.nav-main {
    margin-top: 136px;
    padding-left: 260px;
    height: 40px;
}
  
.nav-main li {
    float: left;
    margin-right: 40px;
    text-align: center;
}
  
.nav-main li a{
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color: #444;
}
  
.nav-main li a:hover {
    color: #ff0006;
}
  
.nav-main .active a {
    color: #ff0006;
}

.main-right {
    width: 240px;
    background-color: #fff;
}



/* *********************************************************** list_items ******************************************************* */
.floor-items {
    width: 965px;
    margin-top: 10px;
    padding-left: 10px;
}

.floor-items  li{
    float: left;
    position: relative;
    margin-left: -1px;
    margin-bottom: -1px;
    width: 241.5px;
    height: 166.5px;
    border: solid 1px #ddd;
}

.floor-items .ctt {
    position: relative;
    float: left;
    width: 24.5%;
    height: 320px;
    margin-bottom: 20px;
    margin-left: 4px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-radius: 1px;
    overflow: hidden;
}
  
.floor-items .ctt .image {
    width: 187px;
    height: 162px;
    text-align: center;
}
  
.floor-items .ctt .or {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(17,17,37, 0);
}
  
.floor-items .ctt h3 {
    display: -webkit-box;
    height: 46px;
    margin-bottom: 4px;
    padding: 0px 16px;
    line-height: 22px;
    font-size: 12px;
    font-weight: normal;
    color: #444;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.ctt .cost {
    width: 50%;
    font-size: 12px;
    line-height: 30px;
    color: #999;
    text-decoration: line-through;
}
  
.ctt .now-price2 {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #ff0006;
    transition: all .3s;
}

.floor-items .ctt .tip {
    margin-top: -4px;
    margin-left: 14px;
    padding: 3px;
    width: 72px;
    text-align: center;
    color: #ff0006;;
    border: solid 1px #ff0006;;
}

.ctts {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-top: solid 1px #ddd;
}

.coll {
    width: 40%;
    height: 30px;

    border-right: solid 1px #ddd;
    cursor: pointer;
}

.coll img {
    margin-top: 3px;
    margin-left: 10px;
}

.coll span {
    display: inline-block;
    margin-top: -10px;
    margin-left: 4px;
    vertical-align: 7px;
    font-size: 14px;
    color: #999;
}

.cart21 {
    width: 60%;
    height: 30px;
    padding-top: 8px;
    padding-left: 14px;
    cursor: pointer;
}

.cart21:hover {
    background-color: #ff0006;;
}

.cart21:hover i {
    color: #fff;
}

.cart21:hover span {
    font-size: 15px;
    color: #fff;
}

.cart21 i {
    color: #ff0006;;
}

.cart21 span {
    font-size: 15px;
    color: #ff0006;;
}
  
.carto2 {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    height: 28px;
}
  
.carto2 a {
    display: block;
    color: #fff;
    font-size: 14.7px;
    line-height: 28px;
    text-align: center;
}
  
.carto {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
  
.carto a {
    display: block;
    color: #fff;
    font-size: 14.7px;
    line-height: 50px;
    text-align: center;
}




/* ********************************************************  sidebar *********************************************** */
.related {
    width: 210px;
    height: 574px;
    border: solid 1px #ddd;
    border-top: solid 3px #ff0006;;

}

.related .title {
    font-size: 14.7px;
    line-height: 32px;
    background-color: #f9f9f9;
    border-bottom: solid 1px #ddd;
}

.related .title span {
    margin-left: 10px;
    color: #ff0006;;
    font-weight: bold;
}

.related .title b {
    margin-right: 10px;
    font-size: 14px;
    color: #b9b9b9;
    float: right;
}

.related-items li .image {
    margin: 0 auto;
    width:154px;
    height: 142px;
}

.related-items li .image img {
    width: 100%;
}
.related-items li p {
    margin: 0 auto;
    width: 154px;
    display: -webkit-box;
    font-size: 12px;
    font-weight: normal;
    color: #444;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.related-items li .price {
    margin-top: 4px;
    text-align: center;
    color: #ff0006;;
}

/* ********************************************************* case_you_like ******************************************************* */
.case-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
    background-color: #fff;
    overflow: hidden;
}

.case-wrapper li {
    position: relative;
    float: left;
    width: 16.666666%;
    box-sizing: border-box;
    height: 260px;
    background-color: #fff;
    border-right: dashed 1px #f9f9f9;
    border-bottom: solid 1px #eee;
    overflow: hidden;
}
  
.case-wrapper li .image {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
}
  
.case-wrapper li .image img {
    display: block;
    width: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
}
  
.case-wrapper li:hover .image>img {
    display: block;
    margin-top: -2%;
    margin-left: -2%;
    width: 104%;
}
  
.case-wrapper li h3 {
    position: absolute;
    left: 8%;
    bottom: 20%;
    display: -webkit-box;
    width: 82%;
    height: 16%;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow-y: hidden;
}
  
.case-wrapper li span {
    position: absolute;
    left: 100px;
    bottom: 14px;
    font-size: 13%;
    color: #999;
    line-height: 22px;
    text-decoration-line: line-through;
    text-decoration: line-through;
}
  
.case-wrapper .price {
    position: absolute;
    left: 10px;
    bottom: 21px;
    padding-left: 2px;
    color: #ff0006;;
    font-size: 1.7em;
}

.cart {
    position: absolute;
    right: 1%;
    bottom: 7.8%;
    width: 48%;
    height: 6.8%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
}
  
.cart a {
    display: block;
    width: 80%;
    height: 100%;
    text-align: center;
    line-height: 160%;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    background-color: #ff0006;;
    box-shadow: 0 0 3px 0 #ff0006;;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
}

.cart a:link {
    text-decoration: none;
}

.cart:hover a{
    background-color: #fff;
    color: #ff0006;;
}

.cart:hover .icon-carts {
    color: #ff0006;;
}


/* *********************************************************** footer *********************************************************** */

.footer {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    font-size: 12px;
    background-color: #fff;
}
.footer ul {
    list-style: none;
}

.brand-wrapper {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 1px #ddd;
}

.brand-list {
    height: 80px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 60px;
}

.footer-list {
    margin-top: 40px;
    height: 220px;
}

.footer-list .tels {
    position: relative;
}

.footer-list .tels .btn-ctn{
    position: absolute;
    top: 100px;
    left: 0;
    display:block; 
    width:140px; 
    height:30px; 
    line-height:30px; 
    background-color:#ff0006;
    text-align:center; 
    color:#fff; 
    font-size:14px;
}

.footer-list .tels .btn-ctn .iconfont{ 
    display:inline-block; 
    font-size:24px; 
    vertical-align:middle; 
    margin-right:1px;
    color:#fff;
}

.brand-list li {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-list ul {
    margin-left: 64px;
}

.footer-list ul h3 {
    margin-bottom: 16px;
}

.footer-list ul li {
    margin-bottom: 10px;
    font-size: 13px;
}

.footer-bar-wrapper {
    height: 220px;
    padding-bottom: 22px;
    background-color: #222;
}

.footer-items {
    width: 720px;
    margin: 0 auto;
    padding: 46px 0 8px;
    text-align: center;
}

.footer-items li {
    float: left;
    margin-left: 4px;
}

.footer-items li a {
    color: #ccc;
}

.footer-copy {
    padding-top: 18px;
    color: #ccc;
    text-align: center;
}

.footer-copy a {
    color: #ccc;
}

.copy-img {
    margin-top: 36px;
    text-align: center;
}