<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
id="WebApp_ID" version="3.1">
	<display-name>user</display-name>
	
	
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Authorization setting for SSL --> 
	<!-- <login-config>

		<auth-method>CLIENT-CERT</auth-method> 
		
		<realm-name>Client Cert Users-only Area</realm-name> 
	
	</login-config> 

	<security-constraint> 
		
		<web-resource-collection >
			<web-resource-name >SSL</web-resource-name> 
			<url-pattern>/*</url-pattern> 
		</web-resource-collection> 
		
		
		<user-data-constraint> 
			<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint> 
	
	</security-constraint>  -->

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	<!-- 管理员登录拦截器 -->
    <filter>
        <filter-name>loginCheckFilter</filter-name>
        <filter-class>webServices.loginFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/back/login.html</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>loginCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error404.html</location>
	</error-page>
	
	<!-- <filter>
        <filter-name>errorFilter</filter-name>
        <filter-class>webServices.errorFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/error.html</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>errorFilter</filter-name>
        <url-pattern>/error.html</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping> -->
    <!-- <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>webServices.loginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
</web-app>
