h3,h4,h5 {
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    line-height: 26px;
    opacity: 0;
}

h5 {
    color: #000;
}

h4 {
    color: #333;
}

h3 {
    color: #555;
}

/* 
*   提示
*/
b {
    color: #ccc;
}

.app {
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 10px;
}


.wrapper {
    box-sizing: border-box;
    padding: 80px 30px 0;
}

.sider {
    float: left;
}
  
.container {
    position: relative;
    box-sizing: border-box;
    float: right;
    width: 61.80%;
    padding: 30px;
}
  
.cd {
    position: absolute;
    top: 20%;
    right: 10%;
    cursor: pointer;
    border-radius: 50%;
    border: solid 14px #524c4c;
    overflow: hidden;
    cursor: pointer;
}
  
@media (max-width: 680px) {
    .cd {
        display: none;
    }
}  
  
@media (max-width: 900px) {
    .container {
        width: 100%;
    }

    .wrapper {
        padding-top: 144px;
    }

    .sider {
        display: none;
    }
}

.footer {
    box-sizing: border-box;
    width: 100%;
    margin-top: -30px;
    height: 30px;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright span {
    font-size: 13px;
    color: #666;
}





/* *************** status *************** */
.wrapper .status {
    line-height: 100vh;
    text-align: center;
}