<div class="page">
   <div class="page-header">
      <h4>数据备份</h4>
      <div class="frt">
         <button id="outFile" class="apply">导出</button>
      </div>
   </div>
   <div class="database">
      <div class="database-items">
         <input id="file" type="file" name="选择文件">
         <button id="putFile">上传导入</button>
      </div>
      
      <!-- <div class="database-items">
         <button class="date">选择日期</button><select>
            <option value="选择日期"></option>
            <option value="选择日期">选择日期</option>
            <option value="选择日期">选择日期</option>
            <option value="选择日期">选择日期</option>
         </select>
         <button id="outFile">导出</button>
      </div> -->
      
   </div>
</div>
