<div class="page">
   <div class="page-header">
      <h4>申报流程</h4>
      <div class="frt">
         <button class="apply">发起申报</button>
      </div>
   </div>
   <div class="list">
      <div class="expenses">
         <div class="expenses-header">
            <ul class="status-list">
               <!-- <li >未申请<i>1</i></li>
               <li>未付款</li>
               <li>未通过</li> -->
               <li class="cur">已完成</li>
               <li style="float: right"><button id="nextPage">下一页</button></li>
               <li style="float: right"><button id="prePage">上一页</button></li>
            </ul>
         </div>
         <ul class="expenses-body">
            <div class="loading">
               <img src="../assets/img/action/loading.gif">
            </div>
         </ul>
      </div>
   </div>
   <div class="apply-form">
      <form class="form" id="apply">
         <div class="form-header">
            <h3>申报流程</h3>
         </div>
         <div class="form-body">
            <ul class="form-list">
               <li class="form-items">
                  <label><i>*&nbsp;</i>申请编号:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>申请日期:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>报支事项:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>金额:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属人:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属部门:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>收款单位:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>归属类别:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>费用项目:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>项目代号:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>项目名称:</label><input class="section" placeholder="">
               </li>
               <li class="form-items">
                  <label><i>*&nbsp;</i>分类标识:</label>
                  <select class="section">
                     <option value="参加考核">参加考核</option>
                     <option value="记入 2019 但不参加考核">记入 2019 但不参加考核</option>
                     <option value="内部转换">内部转换</option>
                     <option value="分类标识">分类标识</option>
                  </select>
               </li>
            </ul>
         </div>
         <div class="form-footer">
            <button id="put" type="reset" onclick="alert('提交成功')">申请</button>
            <button class="cancel" type="button">取消</button>
         </div>
      </form>
   </div>
</div>