<div class="page">
   <div class="portal">
      <ul>
         <li>
            <a href="/list.html?dep=1">
               营销中心
            </a>
         </li>
         <li>
            <a href="/list.html?dep=2">
               制造中心
            </a>
         </li>
         <li>
            <a href="/list.html?dep=3">
               研发中心
            </a>
         </li>
         <li>
            <a href="/list.html?dep=4">
               运营中心
            </a>
         </li>
      </ul>
   </div>
</div>
