
.core {
   margin: 30px auto 0;
   width: 680px;
   height: 280px;
}

.core-list {
   float: left;
   margin: 20px;
   width: 300px;
   height: 200px;
   font-size: 64px;
   font-weight: bold;
   text-align: center;
   line-height: 200px;
   cursor: pointer;
}

.core-list a {
   color: #fff;
}