body {
    margin: 0;
}

.hub {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .8);
}

.dplnone {
    display: none;
}


.baka {
    position: fixed;
    left: 0;
    top: 121px;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    background-image: url(../img/baka.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
}

.bak {
    position: fixed;
    left: 21%;
    width: 1060px;
    height: 100%;
    background-image: url(../img/bak.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 1600px){
    .bak {
        position: fixed;
        left: 19%;
        width: 1060px;
        height: 100%;
        background-image: url(../img/bak.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }
}

@media (max-width: 1440px){
    .bak {
        position: fixed;
        left: 18%;
        width: 1060px;
        height: 100%;
        background-image: url(../img/bak.png);
        background-repeat: no-repeat;
        background-size: 80%;
    }
}


@media (max-width: 1366px){
    .bak {
        position: fixed;
        left: 16%;
        width: 1060px;
        height: 100%;
        background-image: url(../img/bak.png);
        background-repeat: no-repeat;
        background-size: 80%;
    }
}


@media (max-width: 1280px){
    .bak {
        position: fixed;
        left: 15%;
        width: 1060px;
        height: 100%;
        background-image: url(../img/bak.png);
        background-repeat: no-repeat;
        background-size: 80%;
    }
}


.text {
    position: relative;
    top: -43%;
    margin: 0 auto;
    width: 36%;
    height: 330px;
    background-image: url(../img/text.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
    animation: down 4s;
    animation-fill-mode: forwards;
}

.birth {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 80%;
    background-image: url(../img/birth.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 20;
    animation: myright 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}


.close {
    position: fixed;
    right: 16%;
    top: 3%;
    width: 5%;
    height: 15%;
    background-image: url(../img/X.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}


@keyframes down {
    40% { top: 0; }
    50% { top: -6%}
    60% { top: -2%}
    70% { top: -5%}
    80% { top: -1%}
    90% { top: -2%}
    100% {top: 0%}
 }

@keyframes myright {
    to { opacity: 1;}
 }