.container {
   width: 100%;
   background-color: #f0f0f0;
}


/* ***************** topbar ******************* */
.topbar {
   width: 100%;
   height: 30px;
}

.topbar-wrapper {
   font-size: 12px;
   line-height: 30px;
   color: #666;
}

.topbar-wrapper a {
   margin-left: 4px;
}

.top-nav {
   height: 30px;
   list-style: none;

}

.top-nav li {
   float: left;
   height: 30px;
   margin: 0 10px;
}

.top-nav li + i {
   float: left;
   font-size: 12px;
   color: #ddd;
}

.top-nav .wechat {
   position: relative;
}

.top-nav .wechat i{
   display: inline-block;
   width: 24px;
   height: 30px;
   text-indent: 4px;
   vertical-align: -10px;
   background-image: url(../img/wechat.gif);
   background-position-x: 0px;
   background-position-y: 5px;
   background-repeat: no-repeat;
}

.top-nav .wechat .erma {
   display: none;
   position: absolute;
   top: 27px;
   right: -12px;
   z-index: 100;
   width: 140px;
   height: 140px;
   border: solid 1px #ccc;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}


.top-nav .wechat:hover .erma {
   display: block;
}

.top-nav .tels {
   position: relative;
}

.top-nav .tels i{
   display: inline-block;
   width: 24px;
   height: 30px;
   text-indent: 4px;
   vertical-align: -10px;
   background-image: url(../img/tel.gif);
   background-position-x: 0px;
   background-position-y: 5px;
   background-repeat: no-repeat;
}


.top-nav .tels .erma {
   display: none;
   position: absolute;
   top: 27px;
   right: -12px;
   z-index: 100;
   width: 140px;
   height: 140px;
   border: solid 1px #ccc;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}

.top-nav .tels .erma img {
   display: block;
   width: 100%;
}

.top-nav .tels:hover .erma {
   display: block;
}




.shopcart {
   position: relative;
   margin: 0 auto;
   width: 128px;
   height: 38px;
   line-height: 36px;
   text-align: center;
   background-color: rgb(255, 39, 49);
   border-radius: 1px;
   box-shadow: 0 0 5px 0 #e8e8e8;
   cursor: pointer;
}

.shopcart span {
   font-size: 13px;
   color: #fff
}

.shopcart i {
   font-size: 18px;
   color: #fff;
}

.count {
   display: inline-block;
   width: 16px;
   height: 16px;
   line-height: 13px;
   padding: 2px;
   border-radius: 50%;
   background: rgba(255, 39, 50, 1);
   color: #fff;
   font-size: 12px;
}

/* ************************* window *************************** */
.window img {
   display: block;
}

.window-top-bak {
   width: 100%;
   height: 158px;
   margin-bottom: -150px;
   background-color: #fff;
   border-bottom: solid 2px rgba(248, 24, 40, 1);
}
.window-main {
   box-sizing: border-box;
   width: 1200px;
   height: 668px;
   padding-top: 16px;
}

.main-left {
   width: 230px;
}
.logo {
   margin-top: -40px;
}

.categorys-items {
   position: relative;
   margin-top: 10px;
   width: 230px;
   height: 431px;
   background-color: #333;
}

.categorys-items li {
   padding: 5px 12px;
   padding-top: 10px;
}


.categorys-items li b a {
   margin-left: 6px;
   color: #fff;
   font-size: 14.7px;
   line-height: 16px;
}

.categorys-items li i{
   color: #ccc;
   line-height: 24px;
   font-size: 16px;
}

.categorys-items li span a {
   color: #ccc;
   line-height: 24px;
   font-size: 13px;
}

.categorys-items li span {
   margin-left: 24px;
   margin-right: -14px;
}


.categorys-items li:hover {
   background-color: rgba(17,17,37, .5);
}

.type-top {
   box-sizing: border-box;
   width: 230px;
   height: 51px;
   margin-top: 0;
   font-size: 16px;
   text-align: center;
   line-height: 30px;
   background-color: #f81828;
}

.type-top a{
   color: #fff;
}

.categorys-items .type-top:hover {
   background-color: #f81828;
}

.my-car {
   margin-top: 4px;
   width: 730px;
   height: 380px;
}

.img-items {
   margin-left: -230px;
   width: 960px;
   height: 136px;
   overflow: hidden;
}

.img-items a {
   width: 320px;
   height: 128px;
   overflow: hidden;
}

.main-middle {
   width: 730px;
}


.main-search {
   margin-left: 20px;
   padding-top: 14px;
   padding-left: 20px;
}

.search {
   width: 640px;
   height: 40px;
   background-color: rgba(248, 24, 40, 1);
   border-radius: 2px;
   box-shadow: 0 0 6px 0 #ddd;
}

.search-input {
   box-sizing: border-box;
   width: 600px;
   height: 40px;
   margin-left: 0;
   padding-left: 12px;
   font-size: 13px;
   vertical-align: 14px;
   border: solid 2px rgba(248, 24, 40, 1);
   
   border-radius: 2px;
}

.btn {
   margin-top: -4px;
   margin-left: -2px;
   padding:0;
   width: 36px;
   height: 36px;
   line-height: 33px;
   font-size: 24px;
   text-align: center;
   color: #fff;
   background-color: rgba(248, 24, 40, 1);
   background-image: url(../img/search.gif);
   background-repeat: no-repeat;
   background-position: -8px;
   border: none;
   transition:  .5s;
   border-radius: 2px;
   outline: none;
}

.btn:hover {
   font-size: 25px;
   color: #fff;
}

.keyword-tips {
   margin-top: 10px;
   padding-left: 2px;
   width: 680px;
   height: 46px;
}



.keyword-tips li {
   float: left;
   margin-right: 10px;
   margin-left: 4px;
}

.keyword-tips li a {
   font-size: 12px;
   color: #666;
}

.keyword-tips li a:hover {
   color: rgba(248, 24, 40, 1);
}

.nav-main {
   margin-top: 36px;
   padding-left: 40px;
   height: 40px;
}

.nav-main li {
   float: left;
   margin-right: 40px;
   text-align: center;
}

.nav-main li a{
   font-size: 18px;
   font-weight: bold;
   line-height: 40px;
   color: #666;
}

.nav-main li a:hover {
   color: rgba(248, 24, 40, 1);
}

.nav-main .active a {
   color: rgba(248, 24, 40, 1);
}


.main-right {
   width: 240px;
   background-color: #fff;
   /* border: solid 1px red; */
}

.tel-top {
   position: relative;
   margin-top: 9px;
}

.buy {
   height: 236px;
   border-bottom: solid 1px #ddd;
}

.buy-title {
box-sizing: border-box;
   width: 100%;
   height: 46px;
   padding: 18px 20px;
}

.buy-title .icon-lock {
   width: 27px;
   height: 25px;
   background-image: url(../img/lock.gif);
   background-repeat: no-repeat;
}

.buy-title p {
   text-indent: 6px;
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   color: rgba(248, 24, 40, 1);
}

.buy-content {
box-sizing: border-box;
   margin-top: 0;
   margin-left: 14px;
   padding: 12px;
   padding-right: 0;
   padding-left: 10px;
   width:216px;
   height: 40px;
   background-color: #f9f9f9;
}

.buy-content span {
   font-size: 13px;
   color: #a6a6a6;
}

.buy-content .bak-number {
padding: 2px 5px;
   font-size: 13px;
   background-color: #333;
   color: #fff;
}



.goods {
   margin-top: 14px;
}

.goods .goods-tips {
box-sizing: border-box;
   padding-left: 24px;
   width: 130px;
}

.goods .goods-tips p {
   margin-top: 10px;
   width: 106px;
   height: 36px;
   font-size: 14.7px;
   line-height: 18px;
   overflow: hidden;
}

.goods .goods-tips .now {
   color: rgba(248, 24, 40, 1);
   font-size: 16px;
   font-weight: bold;
   line-height: 48px;
}

.goods .goods-tips .price {
   display: block;
   text-decoration: line-through;
   font-size: 12px;
   line-height: 0px;
   color: #b9b9b9;
}

.goods .goods-img {
   width: 108px;
}

.noice {
   box-sizing: border-box;
   padding-top: 14px;
   padding-right: 14px;
   padding-bottom: 12px;
   padding-left: 24px;
}

.noice-title .icon-noice {
   width: 27px;
   height: 20px;
   margin-top: 3px;
   background-image: url(../img/noice.gif);
   background-size: 80%;
   background-repeat: no-repeat;
}

.noice-title p {
   text-indent: 6px;
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   color: rgba(248, 24, 40, 1);
}

.noice-items {
   margin-top: 18px;
}

.noice-items li {
   margin-bottom: 13px;
   margin-left: -2px;
   font-size: 12px;
}

.noice-items li span {
   color: rgba(248, 24, 40, 1);
}


/* ***************** pick ******************** */


.ayg {
   margin-top: 10px;
   position: relative;
   padding-top: 40px;
   height: 400px;
}

.ayg-choose {
   position: relative;
   z-index: 2;
   margin-left: 90px;
   color: #fff;
   font-size: 18px;
}

.ayg-items {
   float: right;
}

.ayg-items .ayg-items-list {

   float: left;
   margin-right: 30px;
   font-size: 18px;

}

.ayg-items .ayg-items-list a {
   color: #fff;
}


.ayg-items-content {
   position: absolute;
   top: 114px;
   right: 0;
   margin-bottom: 20px;
   width: 100%;
   height: 434px;
   overflow-y: hidden; 
}

.ayg .bak {
   margin-bottom: -40px;
   width: 1200px;
   height: 60px;
   background-image: url(../img/ayg_bak.gif);
   background-repeat: no-repeat;
}
 
.ayg-items-content li {
   position: relative;
   float: left;
   width: 240px;
   height: 292px;
   border-radius: 1px;
   overflow: hidden;
   background-color: #fff;
   box-shadow: 0 1px 10px 0 rgba(1, 17, 37, .2);
}
 
 
.ayg-items-content .image {
   width: 80%;
   height: 160px;
   margin: 0 auto;
   margin-top: 24px;
   overflow: hidden;
   transition: all .5s;
   -o-transition: all .5s;
   -moz-transition: all .5s;
   -ms-transition: all .5s;
   -webkit-transition: all .5s;
}

.ayg-items-content .image img {
   width: 100%;
}

.ayg-items-content .image:hover {
   width: 82%;
   margin-top: 20px;
}
 
.ayg-items-content .tips {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1000;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(17,17,37, 0);
}
 
.ayg-items-content h3 {
   position: absolute;
   bottom: 64px;
   left: 50%;
   display: -webkit-box;
   margin-left: -38%;
   width: 76%;
   height: 42px;
   line-height: 22px;
   font-size: 13px;
   font-weight: normal;
   color: #444;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   text-overflow: ellipsis;
   overflow: hidden;
}
 
.ctt .cost {
   position: absolute;
   bottom: 0;
   left: 110px;
   width: 80%;
   font-size: 16px;
   line-height: 24px;
   color: #999;
   text-decoration: line-through;
}
 
.ctt .now-price2 {
   position: absolute;
   bottom: 34px;
   left: 14px;
   width: 80%;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   line-height: 24px;
   color: #ff0006;
   transition: all .3s;
}
 
.carto2 {
   position: absolute;
   bottom: -40px;
   left: 50%;
   width: 80%;
   height: 34px;
   margin-left: -40%;
   transition: all .5s;
}
 
.carto2 a {
   display: block;
   
   color: #fff;
   font-size: 14.7px;
   line-height: 34px;
   text-align: center;
   background-color: rgba(255, 39, 50, .8);
   border-radius: 50px;
}
 
.ayg-items-content .ctt:hover .carto2 {
   bottom: 21px;
   display: block;
}
 
.ayg-items-content .ctt:hover .now-price2 {
   font-size: 0;
}
 

 
 
.carto {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
 
}

.carto a {
   display: block;
   color: #fff;
   font-size: 14.7px;
   line-height: 50px;
   text-align: center;
}

/* ***************** brand ******************* */

.brand-title {
   width: 260px;
   height: 60px;
   background-image: url(../img/brand.png);
}

.pre-img {
   margin-top: 20px;
   margin-right: 10px;
}


.brand-wrap {
   height: 240px;
 }
 
 .brand-items {
   margin: 10px 0;
 }
 
 
 .brand-items td {
   position: relative;
   margin: 0 -1px -1px 0;
   border: solid 1px #ddd;
   background-color: #fff;
 }
 
 .brand-items td a {
   display: block;
   width: 169px;
   height: 77px;
   border: 1px solid transparent;
 }
 
 .brand-items td a:hover {
   border: solid 1px #ff0006;
 }
 
 .brand-items img {
   vertical-align: middle;
 }
/* ***************** floor ******************* */

.floor {
   margin-top: 50px;
   margin-bottom: 20px;
   height: 500px;
}

.floor-main {
   height: 386px;
   background-color: #fff;
   overflow: hidden;
}

.floor-main .imgs {
   position: absolute;
   bottom: 30px;
   left: 10px;
}

.floor-bak-one {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../../img/floor_1.png);
   background-repeat: no-repeat;
}


.options{
   width: 960px;
   padding-top: 10px;
}

.options-wrapper {
   padding-right: 2px;
   text-align: right;
   height: 30px;
   line-height: 30px;
   position: relative;
}

.options .options-items{
   display: inline-block;
   width: 70px;
   height: 30px;
   text-align: center;
}

.options .options-items input{
   float: left;
   display: block;
   width: 70px;
   height: 30px;
   margin-top: 0;
   opacity: 0;
   cursor: pointer;
}


.options .options-items .options-tips {
   float: left;
   display: block;
   width: 60px;
   height: 30px;
   margin-left: -100%;
   font-size: 14px;
   color: #b9b9b9;
}

.options .options-items .more {
   color: #000;
   text-shadow: 0 0 1px rgba(1, 17, 37, .2);
}

.options .options-items .tab {
display: none;
position: absolute;
width: 100%;;
height: 460px;
   top: 31px;
   left: 0;
z-index: 0;
}

.options .options-items .tab .tab-wrapper {
   position: relative;
}

.options .one input:checked + span + .tab {
display: block;
}

.options .two input:checked + span + .tab {
display: block;
}

.options .three input:checked + span + .tab {
display: block;
}

.options .four input:checked + span + .tab {
display: block;
}

.options .five input:checked + span + .tab {
display: block;
}

.options .six input:checked + span + .tab {
display: block;
}

.options .options-items .tab table {
   width: 100%;
   text-align: center;
   cursor: pointer;
}

.floor-items {
   width: 965px;
   margin-top: 13px;
   margin-left: 0px;
}

.floor-items  li{
   float: left;
   position: relative;
   margin-left: -1px;
   margin-bottom: -1px;
   width: 240px;
   height: 166.5px;
   border: solid 1px #ddd;
}


.floor-items .content {
   box-sizing: border-box;
   position: absolute;
   left: -10px;
   z-index: 10;
   width: 55%;
   padding: 8%;
}

.floor-items .content p {
   display: -webkit-box;
   width: 140%;
   height: 38px;
   margin-left: 10%;
   line-height: 20px;
   font-size: 12px;
   font-weight: normal;
   color: #444;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   text-overflow: ellipsis;
   overflow: hidden;
}

.floor-items .content .now-price {
   margin: 8px;
   font-size: 16px;
   color: rgba(255, 39, 50, 1);
}

.floor-items .content .shopcart {
   width: 110%;
   height: 28px;
   margin-left: 8px;
   font-size: 13px;
   font-weight: bold;
   line-height: 28px;
   border: solid 1px #e8e8e8;
   border-radius: 50px;
   background-color: #fff;
   color: rgba(255, 39, 50, 1);
   transition: all .5s;
   -o-transition: all .5s;
   -moz-transition: all .5s;
   -ms-transition: all .5s;
   -webkit-transition: all .5s;
}

.floor-items .content .shopcart:hover {
   background-color: rgba(255, 39, 50, 1);
   color: #fff;
}

.floor-items .img {
   position: absolute;
   right: 0;
   top: 25%;
   width: 45%;
   overflow: hidden;
   transition: all .3s;
   -o-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -webkit-transition: all .3s;
}

.floor-items li:hover .img {
   right: 4px;
}

.floor-items .img img {
   width: 100%;
}


.floor-bottom {
   margin-top: 20px;
}

.floor-bottom ul li {
   box-sizing: border-box;
   float: left;
   padding: 20px 0;
   width: 120px;
   height: 84px;
   background-color: #fff;
}



/* *********** floor_1 ************ */
.floor .one-border {
   border-top: solid 2px #f9c08d;
}


.options .one input:checked + span {
   color: #f9c08d;
}


.floor .two-border {
   border-top: solid 2px #ff888a;
}

.options .two input:checked + span {
   color: #ff888a;
}


.floor .three-border {
   border-top: solid 2px #95e3fe;
}

.options .three input:checked + span {
   color: #95e3fe;
}


.floor .four-border {
   border-top: solid 2px #efdabf;
}

.options .four input:checked + span {
   color: #efdabf;
}

.floor .five-border {
   border-top: solid 2px rgba(246, 139, 159, 1);
}

.options .five input:checked + span {
   color: rgba(246, 139, 159, 1);
}


.floor .six-border {
   border-top: solid 2px rgba(199, 166, 133, 1);
}

.options .six input:checked + span {
   color: rgba(199, 166, 133, 1);
}

.floor-bak-one {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_1.png);
   background-repeat: no-repeat;
}

.floor-bak-two {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_2.png);
   background-repeat: no-repeat;
}

.floor-bak-three {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_3.png);
   background-repeat: no-repeat;
}

.floor-bak-four {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_4.png);
   background-repeat: no-repeat;
}

.floor-bak-five {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_5.gif);
   background-repeat: no-repeat;
}

.floor-bak-six {
   position: relative;
   z-index: 3;
   width: 240px;
   height: 385px;
   background-image: url(../img/floor_6.gif);
   background-repeat: no-repeat;
}

/* *************************** caseyou *********************************** */
.buy-divider {
   text-align: center;
}

.case-wrapper {
   margin-top: 20px;
   margin-bottom: 20px;
   height: 841px;
   overflow: hidden;
}


.case-wrapper li {
   position: relative;
   float: left;
   width: 16.666666%;
   box-sizing: border-box;
   height: 260px;
   background-color: #fff;
   border-right: dashed 1px #f9f9f9;
   border-bottom: solid 1px #eee;
   overflow: hidden;
}
 
 .case-wrapper li .image {
   margin: 0 auto;
   margin-top: 20px;
   width: 80%;
   overflow: hidden;
 }
 
 .case-wrapper li .image img {
   display: block;
   width: 100%;
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -o-transition: all .5s;
   -ms-tansition: all .5s;
 }
 
 
 .case-wrapper li:hover .image>img {
   display: block;
   margin-top: -2%;
   margin-left: -2%;
   width: 104%;
 }
 
 .case-wrapper li h3 {
   position: absolute;
   left: 8%;
   bottom: 20%;
   display: -webkit-box;
   width: 82%;
   height: 16%;
   font-weight: normal;
   font-size: 13px;
   color: #333;
   line-height: 20px;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   text-overflow: ellipsis;
   overflow-y: hidden;
 }
 
 .case-wrapper li span {
   position: absolute;
   left: 100px;
   bottom: 14px;
   font-size: 13%;
   color: #999;
   line-height: 22px;
   text-decoration-line: line-through;
   text-decoration: line-through;
 }
 
 .case-wrapper .price {
   position: absolute;
   left: 10px;
   bottom: 21px;
   padding-left: 2px;
   color: #ff2832;
   font-size: 16px;
 }

 
 .case-wrapper .cart {
   position: absolute;
   right: 1%;
   bottom: 7.8%;
   width: 48%;
   height: 6.8%;
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -o-transition: all .5s;
   -ms-tansition: all .5s;
 }
 
 .case-wrapper .cart a {
   display: block;
   width: 80%;
   height: 100%;
   text-align: center;
   line-height: 160%;
   color: #fff;
   font-size: 12px;
   border-radius: 50px;
   background-color: #ff2832;
   box-shadow: 0 0 3px 0 #ff2832;
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -o-transition: all .5s;
   -ms-tansition: all .5s;
 }
 
 .case-wrapper .cart a:link {
   text-decoration: none;
 }
 
 .case-wrapper .cart:hover a{
   background-color: #fff;
   color: #ff2832;
 }
 
 
 .case-wrapper .cart:hover .icon-carts {
   color: #ff2832;
 
 }
/* *************************** sidebar *********************************** */


.sidebar {position: fixed; top: 435px; left: 269.5px; opacity: 1; width:64px;height:464px;}
.sidebar h4 {
    height: 26px;
    margin-top: -10px; 
    text-align: center;
    border-right: solid 1px #eee;
    border-left: solid 1px #eee;
    color: #666;
}
.sider-top {width:100%;height:87px;background:url(../img/dhzz.gif) center center no-repeat;position:relative;z-index:2}
.sider-items {margin-top:0px;}
.sider-items a {display:block; padding-top: 4px; height:46px;border-bottom: dotted 1px #ccc;text-align:center;line-height:18px;background-color:#fff;color:#999}
.sider-items li a {
   font-size: 12px;
}
.sider-items li:last-child a {border-bottom:none}
.sider-items a em {
    color: #999;
}
.floatNav-ft {width:100%;height:36px;background:url(../img/db.png) no-repeat}
.floatNav-ft a {display:block;height:36px}
.sider-items .active a {color:#ff2832}

.sider-items .active a em {color: #ff2832}

