




/***** TOP_NAVBAR ******/
.top-navbar {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
  }
  
  .top-navbar-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 1px;
  }
  
  .top-navbar-wrapper li,
  .top-navbar-wrapper li a
   {
    position: relative;
    z-index: 1;
    float: right;
    width: 80px;
    text-align: center;
    font-size: 13px;
    color: #777;
  
    line-height: 30px;
  }
  
  .top-navbar-wrapper .active a,
  .top-navbar-wrapper .active {
    color: #ff0006;
  }
  
  .top-navbar-wrapper li:hover a {
    color: #ff0006;
  }
  
  .top-navbar-wrapper .drop:hover
  {
    height: 28px;
    border: solid 1px #ccc;
    border-bottom: none;
    background-color: #fff;
    color: #777;
  }
  
  .top-navbar-wrapper .drop .drop-list {
    display: none;
    position: absolute;
    top: 27px;
    right: -1px;
    width: 380px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .top-navbar-wrapper .drop:hover .drop-list {
    display: block;
  }
  
  .drop-list {
    padding: 14px 0 14px 14px;
  }
  
  .drop-list .left {
    padding-right: 20px;
    border-right: solid 1px #ddd;
  }
  
  .drop-list dl dt {
    font-weight: bold;
    color: #666;
  }
  
  .drop-list dl dd {
    color: #999;
  }
  
  .top-navbar-wrapper .drop:hover a
  {
    height: 30px;
    border: none;
    background-color: #fff;
    color: #777;
  }
  
  .top-navbar-wrapper .drop .drop-list dl dd a:hover{
    border:none;
    color: #ff0006;;
  }
  
  .drop-list .right {
    padding-left: 10px;
    width: 250px;
  }
  
  .drop-list .right dt {
    text-indent: 14px;
    text-align: left;
  }
  
  .drop-list .right dd {
    float: left;
  }
  
  
  .scroll-navbar {
    position: fixed;
    top: -70px;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px #999;
    transition: top .3s ease-out;
    transition: top .3s ease-out;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    -ms-tansition: top .3s ease-out;
  }
  
  .show{
    top:0;
  }
  
  
  .scroll-navbar .main {
    width: 1200px;
    margin: 0 auto;
  }
  
  .scroll-navbar .type-top {
    margin-top: 10px;
    float: left;
  }
  
  .scroll-navbar .type-top>a {
    display: block;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  
  }
  
  .scroll-navbar .type-top:hover .categorys-items {
    height: 504px;
  }
  
  
  .scroll-navbar .categorys-items {
    height: 0;
    text-align: left;
    background-color: #555;
    box-shadow: 0 0 6px 0 rgba(17,17,37, .1);
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  .top-search {
    float: left;
    margin-top: 7px;
    margin-left: 80px;
  }
  
  .top-login {
    float: left;
    line-height: 60px;
    margin-left: 30px;
  }
  
  .top-login a {
    color: #666;
    font-size: 12px;
  }
  
  .top-login a:hover {
    color: #ff0006;;
  }
  
  .top-right {
    float: right;
    margin-top: -30px;
    margin-right: 6px;
  }
  
  .top-right .shopcart {
    box-shadow: 0 0 2px 0 #e8e8e8 inset;
  }
  
  




.container {
    width: 100%;
    height: 100px;
    padding: 0;
}

.top-wrapper {
    width: 100%;
    height: 30px;
}

.top-wrapper-main {
    font-size: 12px;
    line-height: 30px;
    color: #666;
}

.top-wrapper-main a {
    margin-left: 4px;
    color: #ff0006;;
}

.top_nav {
    height: 30px;
    list-style: none;

}

.top_nav li {
    float: left;
    height: 30px;
    margin: 0 10px;
}

.top_nav li + span {
    float: left;
    font-size: 12px;
    color: #ddd;
}

.top_nav .wechat {
    position: relative;
}

.top_nav .wechat i{
    display: inline-block;
    width: 24px;
    height: 30px;
    text-indent: 4px;
    vertical-align: -10px;
    background-image: url(../img/wechat.gif);
    background-position-x: 0px;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.top_nav .wechat .erma {
    display: none;
    position: absolute;
    top: 27px;
    right: -12px;
    z-index: 100;
    width: 380px;
    height: 190px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
  }

  
  .top_nav .wechat:hover .erma {
    display: block;
  }


.top_nav .tel i{
    display: inline-block;
    width: 24px;
    height: 30px;
    text-indent: 4px;
    vertical-align: -10px;
    background-image: url(../img/tel.gif);
    background-position-x: 0px;
    background-position-y: 5px;
    background-repeat: no-repeat;
}


  .top_nav .tel .erma {
    display: none;
    position: absolute;
    top: 27px;
    right: -12px;
    z-index: 100;
    width: 380px;
    height: 190px;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
  }

  
  .top_nav .tel:hover .erma {
    display: block;
  }



  .scroll-navbar {
    position: fixed;
    top: -80px;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px #999;
    transition: top .3s ease-out;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    -ms-tansition: top .3s ease-out;
  }
  
  .show{
    top:0;
  }
  
  
  .scroll-navbar .main {
    width: 1200px;
    margin: 0 auto;
  }
  
  .scroll-navbar .type-top {
    margin-top: 10px;
    height: 50px;
    float: left;
  }
  
  .scroll-navbar .type-top>a {
    display: block;
    height: 40px;
    font-size: 16px;
    line-height: 52px;
  
  }
  
  .scroll-navbar .type-top:hover .categorys-items {
    height: 600px;
    box-shadow: 0 0 8px 0 #333;
  }
  
  
  .scroll-navbar .categorys-items {
    height: 0;
    text-align: left;
    background-color: #555;
    box-shadow: 0 0 6px 0 rgba(17,17,37, .1);
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  .top-search {
    float: left;
    margin-top: 9px;
    margin-left: 80px;
  }
  
  .top-login {
    float: left;
    line-height: 60px;
    margin-left: 30px;
  }
  
  .top-login a {
    color: #666;
    font-size: 12px;
  }
  
  .top-login a:hover {
    color: #ff0006;;
  }
  
  .top-right {
    float: right;
    margin-top: -30px;
    margin-right: 6px;
  }
  
  .top-right .shopcart {
    margin-top: 40px;
    box-shadow: 0 0 2px 0 #e8e8e8 inset;
  }




  .product-intro{ width:100%; position:relative; z-index:5; float:left;}
  .preview{ float:left; padding-bottom:10px; display:inline; width:407px; position:relative;}
  .gallery_wrap{ width:405px; height:405px; border:1px solid #dcdcdc; border-bottom:0; position:relative;}
  .spec-list{ position:relative; width:100%; height:80px; padding:8px 0; background:#EEE;}
  .spec-list .spec-items{ width:363px; height:64px; padding:0 22px; position:relative; overflow:hidden;}
  .spec-list .spec-prev,.spec-list .spec-next{ width:10px; height:10px; position:absolute; top:45%; display:inline-block; background:url(../img/ecsc_icon.png) no-repeat; z-index:9;}
  .spec-list .spec-prev{ left:8px; background-position:-7px -96px;}
  .spec-list .spec-next{ right:8px; background-position:-23px -96px;}
  .spec-list .prevStop,.spec-list .nextStop{ display:block !important;}
  .spec-list .spec-items li{ margin:0 5px; float:left;}
  .spec-list .spec-items li a{ float:left; border:1px solid #fff;}
  .spec-list .spec-items li a:hover,.spec-list .spec-items li a.img-hover{ border-color: #ff0006;}
  .short-share{ width:407px; height:40px; line-height:40px;}
  .short-share .short-share-r{ float:left; padding-right:90px;}
  .short-share .short-share-r #bdshare a, .short-share .short-share-r #bdshare span.bds_more{ position:relative; top:5px;}
  .short-share .collecting{ float:left; min-width:65px;}
  .short-share-r span,.collecting span{ float:left; display:block; *line-height:42px;}
  .choose-btn-coll{ float:left; padding-left:20px; position:relative; line-height:42px; color:#666;}
  .choose-btn-coll b{ display:inline-block; *display:inline; *zoom:1; height:15px; width:15px; background:url(../img/ecsc_icon.png) -4px -114px no-repeat; position:absolute; top:12px; left:0;}
  .choose-btn-coll.selected b{ background-position:-21px -114px;}
  .short-share .collecting em{ height:42px;width:auto; display:block; line-height:41px\0;*line-height:40px;}
  #bdshare .bds_qzone{}
  
  .m-item-inner{ width:480px; float:left; padding-left:45px;}
  .m-item-inner .itemInfo{ position:relative; width:100%;}
  .m-item-inner .name{ padding-bottom:20px;font-family:"microsoft yahei";}
  .m-item-inner .name h1{ font-size:16px; color:#666; font-weight:bold;}
  .m-item-inner .name h2{ font-size:14px; color:#ff0006; padding-top:8px;}
  .m-item-inner .name .p-ad{ font-size:14px; color:#ff0006; line-height:20px; line-height:25px;}
  .m-item-inner .summary{}
  .m-item-inner .summary-list{ background:#EEE; text-align:center;font-family:"microsoft yahei";margin-bottom:20px; overflow:hidden;}
  .m-item-inner .summary-list .tr{ overflow:hidden; text-align:center;}
  .m-item-inner .summary-list .summary-time{ background:#ff0006;}
  .m-item-inner .summary-list .th,.m-item-inner .summary-list .td{ float:left; height:36px; line-height:36px; color:#727171; font-size:12px;}
  .m-item-inner .summary-list .td{ color:#666; height:40px; line-height:40px;}
  .m-item-inner .summary-list .p-label{ margin-left:52px;}
  .m-item-inner .summary-list .pro-time{ float:right; margin-right:10px;}
  .m-item-inner .summary-list .pro-time .label{ float:left; line-height:24px; margin-top:8px;}
  .m-item-inner .summary-list .pro-time .time{ float:left;}
  .m-item-inner .summary-list .pro-time .time span {float: left;display: inline-block;height: 24px;line-height: 24px;background: #ff0006;color: #fff;padding: 0 6px;margin: 8px 4px 0 5px;}
  .m-item-inner .summary-list .pro-time .time i{ float:left; line-height:24px; margin-top:7px;}
  .m-item-inner .summary-list .m-price{ width:200px;}
  .m-item-inner .summary-list .s-price{ width:120px;}
  .m-item-inner .summary-list .p-eva{ width:80px;}
  .m-item-inner .summary-list .p-sales{ width:80px;}
  .m-item-inner .summary-list .summary-price{ color:#ff0006; font-size:20px;}
  .m-item-inner .summary-list .summary-original-price{ text-decoration: line-through; }
  .m-item-inner .change-left{ float:left; padding:14px 119px 14px 50px; border-right:1px dashed #c5c5c5;}
  .m-item-inner .change-left .summary-price{ color:#e9781c; line-height:25px;}
  .summary-change{ color:#333; margin-left:5px;}
  .summary-check{ float: none;vertical-align: middle;_vertical-align: -1px;padding: 0;}
  .change-right{ float:left;}
  .change-right .summary-comment,.change-right .summary-cart{ width:50px; height:70px; float:left; position:relative;}
  .change-right .summary-comment{ margin-left:40px;}
  .change-right .summary-comment span,.change-right .summary-cart span{ padding-top:35px; display:block;}
  .change-right .summary-cart{ margin-left:20px;}
  .change-right .summary-comment i,.change-right .summary-cart i{ display:inline-block;width: 14px;height: 14px;position: absolute;top: 10px;}
  .change-right .summary-comment i{ background-position: -176px -262px;left: 16px;}
  .change-right .summary-cart i{ background-position: -197px -262px;left: 16px;}
  
































.shopcart {
    position: relative;
    margin: 0 auto;
    width: 128px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    background-color: rgb(255, 39, 49);
    border-radius: 1px;
    box-shadow: 0 0 5px 0 #e8e8e8;
    cursor: pointer;
}
  
.shopcart span {
    font-size: 13px;
    color: #fff
}
  
.shopcart i {
    font-size: 18px;
    color: #fff;
}
  
.count {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 13px;
    padding: 2px;
    border-radius: 50%;
    background: #ff0006;
    color: #fff;
    font-size: 12px;
}


.top-wrapper-bak {
    width: 100%;
    height: 193px;
    background-color: #fff;
    border-bottom: solid 2px #ff0006;
}


.window-main {
    padding-top: 16px;
}

.main-left {
    width: 230px;
    margin-top: -50px;
}

.logo {
    text-align: center;
}



.categorys-items {
    position: absolute;
    z-index: 10;
    margin-top: 10px;
    width: 230px;
    height: 48px;
    background-color: #303030;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-tansition: all .3s ease-out;
    overflow: hidden;
}

.categorys-items:hover {
    height: 565px;
}


.categorys-items li {
    padding: 5px 12px;
    padding-top: 10px;
}
  
.categorys-items li b a {
    margin-left: 6px;
    color: #fff;
    font-size: 14.7px;
    line-height: 16px;
}
  
.categorys-items li i{
    color: #ccc;
    line-height: 24px;
    font-size: 16px;
}

.categorys-items li span a {
    color: #ccc;
    line-height: 24px;
    font-size: 13px;
}
  
.categorys-items li span {
    margin-left: 24px;
    margin-right: -14px;
}
  
  
.categorys-items li:hover {
    background-color: rgba(17,17,37, .6);
}
  
.type-top {
    width: 230px;
    height: 49px;
    background-color: #ff0006;;
}
  
.type-top {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
  
.type-top a{
    color: #fff;
}
  
.categorys-items .type-top:hover {
    background-color: #ff0006;;
}


.my-car {
    margin-top: 4px;
    width: 730px;
    height: 380px;
}

.img-items {
    width: 730px;
    height: 128px;
}

.img-items a {
    width: 365px;
    height: 128px;
}









.main-middle {
    width: 730px;
    /* border: solid 1px red; */
}


.main {
    float: left;
    margin-left: 40px;
    padding-top: 34px;
    padding-left: 40px;
  }
  
  .search {
    width: 580px;
    height: 44px;
    background-color: #ff0006;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #ddd;
  }
  
  .search-input {
    margin-left: 1px;
    line-height: 1;
    vertical-align: -3px;
    width: 420px;
    height: 42px;
    padding-left: 12px;
    border: solid 2px #ff0006;
    font-size: 14.7px;
    border-radius: 4px;
  }
  
  .btn {
    margin-top: 1px;
    padding:0;
    width: 152px;
    height: 42px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    background-color: #ff0006;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    transition:  .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  .btn:hover {
    font-size: 25px;
    color: #fff;
  }
  
  .keyword-tips {
    margin-top: 16px;
    padding-left: 2px;
    width: 590px;
    height: 46px;
  }
  
  .keyword-tips li {
    float: left;
    width: 60px;
  }
  
  .keyword-tips li a {
    font-size: 13px;
    color: #777;
  }
  
  .keyword-tips li a:hover {
    color: #ff0006;
  }


  .shopcart {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 178px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e8e8e8;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 #e8e8e8;
    cursor: pointer;
  }
  
  .shopcart span {
    font-size: 13px;
    color: #ff0006;
  }
  
  .shopcart i {
    font-size: 18px;
    color: #ff0006;
  }
  






.nav-main {
    margin-top: 136px;
    padding-left: 260px;
    height: 40px;
  
  }
  
  .nav-main li {
    float: left;
    margin-right: 40px;
    text-align: center;
  }
  
  .nav-main li a{
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color: #444;
  }
  
  .nav-main li a:hover {
    color: #ff0006;
  }
  
  .nav-main .active a {
    color: #ff0006;
  }





.main-right {
    width: 240px;
    background-color: #fff;
    /* border: solid 1px red; */
}

.tel {
    position: relative;
    margin-top: 9px;
}

.buy {
    height: 236px;
    border-bottom: solid 1px #ddd;
}

.buy-title {
    width: 100%;
    height: 46px;
    padding: 18px 20px;
}

.buy-title .icon-lock {
    width: 27px;
    height: 25px;
    background-image: url(../img/lock.gif);
    background-repeat: no-repeat;
}

.buy-title p {
    text-indent: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #ff0006;
}

.buy-content {
    margin-top: 0;
    margin-left: 14px;
    padding: 12px;
    padding-right: 0;
    padding-left: 10px;
    width:216px;
    height: 40px;
    background-color: #f9f9f9;
}

.buy-content span {
    font-size: 13px;
    color: #a6a6a6;
}

.buy-content .bak-number {
    padding: 2px 6px;
    font-size: 13px;
    background-color: #333;
    color: #fff;
}

.goods {
    margin-top: 14px;
}

.goods .goods-tips {
    padding-left: 24px;
    width: 130px;
}

.goods .goods-tips p {
    margin-top: 10px;
    width: 106px;
    height: 36px;
    font-size: 14.7px;
    line-height: 18px;
    overflow: hidden;
}

.goods .goods-tips .now {
    color: #ff0006;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
}

.goods .goods-tips .price {
    display: block;
    text-decoration: line-through;
    line-height: 0px;
    color: #b9b9b9;
}

.goods .goods-img {
    width: 108px;
}


.noice {
    padding: 14px;
    padding-bottom: 12px;
    padding-left: 24px;
}


.noice-title .icon-noice {
    width: 27px;
    height: 25px;
    background-image: url(../img/noice.gif);
    background-repeat: no-repeat;
}


.noice-title p {
    text-indent: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #ff0006;
}

.noice-items {
    margin-top: 18px;
}

.noice-items li {
    margin-bottom: 13px;
    margin-left: -2px;
    font-size: 12px;

}

.noice-items li span {
    color: #ff0006;
}


  
.ctt .cost {
    position: absolute;
    bottom: 0;
    left: 110px;
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    text-decoration: line-through;
}
  
.ctt .now-price2 {
    position: absolute;
    bottom: 34px;
    left: 14px;
    width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #ff0006;;
    transition: all .3s;
}
  
.carto2 {
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 80%;
    height: 34px;
    margin-left: -40%;
    transition: all .5s;
}
  
.carto2 a {
    display: block;
    
    color: #fff;
    font-size: 14.7px;
    line-height: 34px;
    text-align: center;
    background-color: #ff0006;
    border-radius: 50px;
}
  
.ayg-items-content .ctt:hover .carto2 {
    bottom: 21px;
    display: block;
}
  
.ayg-items-content .ctt:hover .now-price2 {
    font-size: 0;
}
  

  
  
.carto {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  
}

.carto a {
    display: block;
    color: #fff;
    font-size: 14.7px;
    line-height: 50px;
    text-align: center;
}


.brand-title {
    width: 260px;
    height: 60px;
    background-image: url(../img/brand.png);
}

.pre-img {
    margin-top: 20px;
    margin-right: 10px;
}


.brand-wrap tbody {
    background-color: #fff;
    box-shadow: 0 0 16px 0 #ccc;
}
  
.brand-items {
    margin: 10px 4px;
}
  
  
.brand-items td {
    position: relative;
    margin: 0 -1px -1px 0;
    border: solid 1px #ddd;
  
}
  
.brand-items td a {
    display: block;
    width: 118px;
    height: 118px;
    border: 1px solid transparent;
}
  
.brand-items td a:hover {
    border: solid 1px #ff0006;;
}
  
.brand-items img {
    vertical-align: middle;
}
  

.floor {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 500px;
    
}


.floor-main {
    height: 386px;
    background-color: #fff;
    overflow: hidden;
}

.floor-bak-one {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_1.gif);
    background-repeat: no-repeat;
}

.floor-bak-two {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_2.gif);
    background-repeat: no-repeat;
}

.floor-bak-three {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_3.gif);
    background-repeat: no-repeat;
}

.floor-bak-four {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_4.gif);
    background-repeat: no-repeat;
}

.floor-bak-five {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_5.gif);
    background-repeat: no-repeat;
}

.floor-bak-six {
    position: relative;
    z-index: 3;
    width: 240px;
    height: 385px;
    background-image: url(../img/floor_6.gif);
    background-repeat: no-repeat;
}


.options{
    width: 960px;
    padding-top: 10px;
}

.options-wrapper {
    padding-right: 2px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.options .options-items{
	display: inline-block;
    width: 70px;
    height: 30px;
	text-align: center;

}

.options .options-items input{
    float: left;
    display: block;
    width: 70px;
    height: 30px;
    margin-top: 0;
	opacity: 0;
    -moz-opacity: 0;
    cursor: pointer;
}


.options .options-items .options-tips {
    float: left;
	display: block;
	width: 60px;
    height: 30px;
    margin-left: -100%;
    font-size: 14.7px;
}




.options .options-items .tab {
	display: none;
	position: absolute;
	width: 100%;;
	height: 460px;
    top: 31px;
    left: 0;
	z-index: 0;
}

.options .options-items .tab .tab-wrapper {
    position: relative;
}

.options .options-items input:checked + span + .tab {
	display: block;
}



.options .options-items .tab table {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.floor-items {
    width: 965px;
    margin-top: 13px;
    margin-left: 0px;
}

.floor-items  li{
    float: left;
    position: relative;
    margin-left: -1px;
    margin-bottom: -1px;
    width: 241.5px;
    height: 166.5px;
    border: solid 1px #ddd;
}


.floor-items .content {
    position: absolute;
    left: -10px;
    z-index: 10;
    width: 55%;
    padding: 8%;
}

.floor-items .content p {
    display: -webkit-box;
    width: 140%;
    height: 38px;
    margin-left: 10%;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #444;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.floor-items .content .now-price {
    margin: 8px;
    font-size: 16px;
    color: #ff0006;
}

.floor-items .content .shopcart {
    width: 110%;
    height: 28px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    background-color: #fff;
    color: #ff0006;
    transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
}

.floor-items .content .shopcart:hover {
    background-color: #ff0006;
    color: #fff;
}

.floor-items .img {
    position: absolute;
    right: 0;
    top: 25%;
    width: 45%;
    overflow: hidden;
    transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
}

.floor-items .img:hover {
    right: 4px;
}

.floor-items .img img {
    width: 100%;
}


.floor-bottom {
    margin-top: 20px;
}

.floor-bottom ul li {
    float: left;
    padding: 20px 0;
    width: 120px;
    height: 84px;
    background-color: #fff;
}

.buy-divider {
    text-align: center;
}


.case-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
    background-color: #fff;
    overflow: hidden;
}


.case-wrapper li {
    position: relative;
    float: left;
    width: 16.666666%;
    box-sizing: border-box;
    height: 260px;
    background-color: #fff;
    border-right: dashed 1px #f9f9f9;
    border-bottom: solid 1px #eee;
    overflow: hidden;
}
  
  .case-wrapper li .image {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
  }
  
  .case-wrapper li .image img {
    display: block;
    width: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  
  .case-wrapper li:hover .image>img {
    display: block;
    margin-top: -2%;
    margin-left: -2%;
    width: 104%;
  }
  
  .case-wrapper li h3 {
    position: absolute;
    left: 8%;
    bottom: 20%;
    display: -webkit-box;
    width: 82%;
    height: 16%;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow-y: hidden;
  }
  
  .case-wrapper li span {
    position: absolute;
    left: 100px;
    bottom: 14px;
    font-size: 13%;
    color: #999;
    line-height: 22px;
    text-decoration-line: line-through;
    text-decoration: line-through;
  }
  
  .case-wrapper .price {
    position: absolute;
    left: 10px;
    bottom: 21px;
    padding-left: 2px;
    color: #ff0006;;
    font-size: 1.7em;
  }
  

  .cart {
    position: absolute;
    right: 1%;
    bottom: 7.8%;
    width: 48%;
    height: 6.8%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  .cart a {
    display: block;
    width: 80%;
    height: 100%;
    text-align: center;
    line-height: 160%;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    background-color: #ff0006;;
    box-shadow: 0 0 3px 0 #ff0006;;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-tansition: all .5s;
  }
  
  .cart a:link {
    text-decoration: none;
  }
  
  .cart:hover a{
    background-color: #fff;
    color: #ff0006;;
  }
  
  
  .cart:hover .icon-carts {
    color: #ff0006;;
  
  }









.goods-wrapper {
    height: 600px;
    margin-top: 30px;
}


.related {
    width: 210px;
    height: 574px;
    border: solid 1px #ddd;
}

.related .title {
    font-size: 14.7px;
    line-height: 32px;
    background-color: #f9f9f9;
    border-bottom: solid 1px #ddd;
}

.related .title span {
    margin-left: 10px;
    color: #999;
}

.related .title b {
    margin-right: 10px;
    font-size: 14px;
    color: #b9b9b9;
    float: right;
}

.related-items li {
    /* margin-top: -10px; */
}


.related-items li .image {
    margin: 0 auto;
    width:154px;
    height: 142px;
    overflow: hidden;
}

.related-items li .image img {
    width: 100%;
}
.related-items li p {
    margin: 0 auto;
    width: 154px;
    display: -webkit-box;
    font-size: 12px;
    font-weight: normal;
    color: #444;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.related-items li .price {
    margin-top: 4px;
    text-align: center;
    color: #ff0006;;
}

.goods-detail nav {
    width: 100%;
    margin-bottom: 20px;
}

.goods-detail nav span {
    margin-right: 6px;
}

.goods-detail nav span img {
    vertical-align: -3px;
}

.img-wrapper {
    width: 430px;
}

.img-wrapper .img {
    width: 400px;
    height: 400px;
    border: solid  1px #e8e8e8;
}

.img-wrapper .img img {
    width: 100%;
}

.img-wrapper .img-items  {
    margin-top: 20px;
}

.img-wrapper .img-items li {
    float: left;
    margin: 0 5px;
    width: 58px;
    height: 58px;
    border: solid 2px #fff;
    overflow: hidden;
    cursor: pointer;
}

.img-wrapper .img-items li img {
    width: 100%;
}

.img-wrapper .img-items .active {
    border: solid 2px #ddd;
}


.img-wrapper .img-items .pre {
    width: 23px;
    padding-top: 14px;
    /* border: none; */
    cursor: pointer;
}

.img-wrapper .img-items .pre img {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}

.img-wrapper .img-items .next {
    width: 23px;
    padding-top: 14px;
    vertical-align: middle;
    /* border: none; */
    cursor: pointer;
}

.detail-wrapper article {
    width: 530px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    color: #666;
    background-color: #f9f9f9;
}

.detail-wrapper article b {
    margin-left: -10px;
}

.detail-wrapper article .row {
    margin-left: 0;
}

.detail-wrapper article .sp span {
    margin-left: 20px;
}

.detail-wrapper article .now-price {
    color: #ff0006;;
    font-size: 20px;
}

.detail-wrapper article .pre-price {
    margin-left: 10px;
    vertical-align: 1px;
    text-decoration: line-through;
}
.detail-wrapper article .tips {
    vertical-align: 3px;
    margin-left: 10px;
    color: #999;
}


.detail-wrapper b {
    display: inline-block;
    width: 48px;
    margin-right: 10px;
    color: #999;
}

.detail-wrapper em {
    border: solid 1px #ff0006;;
    padding: 1px 2px;
    border-radius: 1px;
    color: #ff0006;;
}



.detail-wrapper .row {
    width:normal;
    height: 40px;
    margin-left: 20px;
}

.detail-wrapper>.row span {
    margin-right: 10px;
    padding: 4px 10px;
    border: solid 1px #ddd;
}

.detail-wrapper>.row .active {
    border: solid 1px #ff0006;;
}

.addcart {
    width: 140px;
    margin-left: 20px;
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #ff0006;;


}

.no-goods {
    margin-left: 20px;
    line-height: 48px;
    font-size: 14px;
}

.shared-goods .spec-list .spec-items li a{ border-color:#dcdcdc;}
.shared-goods .spec-list .spec-items li:hover a,.shared-goods .spec-list .spec-items li a.img-hover{ border-color:#ff0006;}
.shared-goods .m-item-inner .name h1{ font-size:20px; font-weight:400; line-height:25px;}
.shared-goods .m-item-inner .name{ padding-bottom:10px;}
.shared-goods .summary-promotion,.summary-promotion .dd{ padding:0; width:auto;}

.shared-goods .m-item-inner .summary-list{ margin-top:10px;}
.shared-goods .m-item-inner .summary-list .s-price{ width:140px;}
.shared-goods .m-item-inner .summary-list .th,.group-goods .m-item-inner .summary-list .td{ padding:7px 0; font-size:12px;}
.shared-goods .m-item-inner .summary-list .summary-time .summary-price{ padding-left:30px; color:#fff; font-size:20px;}
.shared-goods .m-item-inner .summary-list .time{ float:right; color:#fff;line-height: 50px; padding-right:35px;}
.shared-goods .m-item-inner .summary-list .time span { float:left; display:inline-block;height:24px;line-height:24px;background:#fff;color:#ff0006;padding:0 6px;margin:0 4px 0 5px;}
.shared-goods .m-item-inner .summary-list .time i{ float:left; line-height:20px;}
.shared-goods .choose .li{ padding-left:0px; width:100%}
.shared-goods .choose .dt{ margin-left:0;}
.shared-goods .choose .choose-btns{ width:auto;}
.shared-goods .choose .btn-append{ padding:0 25px;}
.shared-goods .choose .btn-end{ background:#b0b0b0;}

.group-goods .m-item-inner{ width:500px; padding-left:30px;}
.group-goods .goods-detail-title{ position:absolute; top:0;}
.group-goods .shared-goods .m-item-inner .summary-list .time,.preSale-goods .m-item-inner .summary-list .time{ margin-top:13px;}
.group-goods .shared-goods .m-item-inner .summary-list .time i,.preSale-goods .m-item-inner .summary-list .time i{ line-height:24px;}

.shared-goods .ecsc-layout-210{ float:right;}
.shared-goods .ecsc-goods-main{ float:left;}
.other-group h1{ font-size:16px; color:#333; height:40px; line-height:40px;font-family:"microsoft yahei"; font-weight: normal;}
.other-group .plist-wrap{ margin-bottom:40px;}
.other-group .p-list-wrap ul{ width:955px;}
.other-group .p-list-wrap ul li{ margin:0 11px 0 0;}
.other-group .item{ padding:15px; width:148px;}
.other-group .item .p-name{ width:100%; padding-top:5px;}
.other-group .item .p-price{ padding-top:10px; font-size:14px; color:#ff0006;}
.other-group .item .p-num{ float:right; padding-top:10px; color:#9fa0a0;}
.goods-detail-title .tabs{ float:left; border-left:1px solid #dcdcdc;font-family:"microsoft yahei";}
.goods-detail-title .tabs li{ float:left; height:31px; line-height:31px; *line-height:29px; font-size:14px; padding:0 35px; border:1px solid #dcdcdc; border-bottom:0; border-left:0; cursor:pointer;}
.goods-detail-title .tabs li.current{ background:#ff0006; border-color:#ff0006; color:#fff; margin-left:-1px;}
.goods-detail-title .tabs li.first{ margin-left:-1px;}


.other-group .biz-title{ position:relative; background:#bca78d; color:#fff; font-size:14px; height:30px; line-height:30px; padding-left:30px;}
.other-group .biz-subtitle{ position:absolute; top:0; right:0;}
.other-group .biz-subtitle .biz-header-title{ float:right; padding-right:30px;}
.other-group .biz-subtitle .biz-header-title-two{ width:70px; text-align:right;}
.other-group .biz-subtitle .biz-header-title-three{ width:100px; text-align:right;}
.other-group .item-list{ margin:10px 0 50px;}
.other-group .item-list a{ position:relative; display:block; height:30px; line-height:30px; font-size:14px; color:#727171; margin-top:6px;}
.other-group .item-list a:hover{ background:#eeeeee;}
.other-group .item-list span{display:inline-block; font-size:14px;padding-right:30px; float:left;text-align:right;}
.other-group .item-list .biz-title{ display:inline-block; width:460px; padding:0 0 0 27px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor: pointer; background:none; color:#727171; text-align:left;}
.goods-detail-title .tabs li.last a{ border-right:0;}

.other-group .item-list .price{ width:100px; color:#ff0006; font-size:16px;}
.other-group .item-list .value-cn{ width:97px;}
.other-group .item-list .biz-rebate{ width:78px; color:#ff0006; font-size:16px;}
.other-group .item-list .sale{ width:60px;}

.ecsc-single-desc{ width:945px; float:left;font-family:"microsoft yahei"; position:relative; padding-top:43px;}
.ecsc-goods-item .panel{ padding-top:8px; float:left; width:945px;}
.group-goods .ecsc-goods-item .panel{ padding-top:0;}
.ecsc-goods-item .panel .panel-mt{ font-size:16px; color:#727171; height:36px; line-height:36px; padding-bottom:5px; float:left; width:100%; position:relative;}
.ecsc-goods-item .panel .panel-mc{ float:left; width:100%;}
.ecsc-goods-item .panel .borderBottom1{ border-color:#c9c9c9;}
.ecsc-goods-item .panel .panel-mt .btn-comment{ float:right; margin-top:6px; font-size:12px; *position:absolute; *right:0; *top:0;}
.ecsc-goods-item .item{ line-height:25px; color:#333;}
.ecsc-goods-item .panel .ratelist-item{ padding:20px 0 10px;}

.ecsc-goods-item .panel .review-content-wrapper{ width:700px; margin:0;}
.ecsc-goods-item .panel .ratelist-history{ float:left; width:120px; margin-left:40px;}
.ecsc-goods-item .panel .user-info-block{ float:right; margin:0;}
.comment-text{ width:100%; overflow:hidden; padding:5px 0; color:#333;}
.comment-text .label{ float:left; width:60px; text-align:right; color:#727171;}
.comment-text .content{ float:left; padding-left:10px;}
.comment-text .content ul{ float:left; padding-top:5px;}
.comment-text .content li{ float:left; margin-right:10px;}



.ecsc-goods-main{ width:945px; float:right;}
.ecsc-goods-item{ padding-bottom:50px; margin-bottom:30px; background:url(../img/ecsc_goods_bg.png) bottom no-repeat; float:left; width:945px;}
.goods-detail-title{ width:945px; height:32px; position:relative; border-bottom:1px solid #ff0006; margin-bottom:10px; background:#fff; z-index:999;}
.goods-detail-title h2{ float:left; width:130px; height:32px; line-height:32px;background:#ff0006; font-size:14px; color:#fff; text-align:center;}
.goods-detail-title .btn-comment{ float:right; /*margin-top:2px;*/}
.goods-para{ margin-top:10px; overflow:hidden;}
.goods-para dt{ color:#777; font-size:14px; padding-bottom:5px; font-family: '\5fae\8f6f\96c5\9ed1';}
.goods-para dd{ float:left;}
.goods-para dd span{ display:block; line-height:24px; color:#555;width:236px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.goods-para .column{ width:236px; height:23px;}
.goods-detail-banner{ width:945px; height:auto; float:left; margin-top:25px; overflow:hidden;}
.goods-detail-banner img{ max-width:945px;}
.goods-para .column a{ color:#005aa0}
.goods-para .column a:hover{ text-decoration:underline}
.goods-detail-mt{ z-index:9999;}

.overview-detail{ padding:30px 0; overflow:hidden;}
.rate{ width:82px; height:82px; border:2px solid #ff0006; border-radius:50px; float:left; margin:0px 35px 0 30px; text-align:center;}
.rate strong{ font-size:30px; color:#ff0006; padding:23px 0 3px 3px; width:100%; display:block; height:24px; line-height:24px;}
.rate strong span{ font-size:12px; font-weight:normal;}
.rate .hp{ font-family:"microsoft yahei";}
.percent { float: left;width: 186px;height: 74px;padding: 8px 0;}
.percent dl { padding: 3px 0;overflow: hidden;zoom: 1;}
.percent dt { float: left;width: 70px;}
.percent span { color: #9C9A9C;}
.percent dd { float: left;width: 100px;height: 10px;margin-top: 6px;overflow: hidden;background: #cccccc;}
.percent dd div {overflow: hidden;height: 10px;width: 0;background-color: #ff0006;}
.actor-new{ float:right; width:490px; overflow:hidden;}
.actor-new dt{ font-size:14px; color:#333;font-family:"microsoft yahei"; line-height:25px;}
.actor-new dd{ overflow:hidden;}
.conmm-tags { float: left;height: 21px;line-height: 21px;padding: 0 7px;margin-right: 5px;background: #fce8cc;}
.conmm-tags span {color: #777;}
.actor-new .conmm-tags {margin-top: 7px;}

.comments-list{ width:100%; overflow:hidden;}
.m-tab-trigger{ height:25px; border-bottom:1px solid #ff0006;}
.m-tab-trigger li{ float:left; padding:0 20px; margin-bottom:5px; border-right:1px solid #c9c9c9;}
.m-tab-trigger li.last{ border-right:0;}
.m-tab-trigger li.first{ padding-left:10px;}
.m-tab-trigger li a{ font-size:14px;font-family:"microsoft yahei"; }
.m-tab-trigger li.on a{ color:#ff0006;}

.ratelist-item{ border-bottom: 1px solid #dcdcdc;padding: 30px 0px 10px;color: #222;font-size: 12px; overflow:hidden;}
.ratelist-item .user-info-block{float: left;margin-right: 50px;width: 85px;text-align: center;}
.ratelist-item .avatar-wrapper{ width:85px; height:85px;}
.ratelist-item .name-wrapper{ font-size:14px; line-height:25px;font-family:"microsoft yahei"; }
.review-content-wrapper{ overflow:hidden; width:570px; margin-right:50px; float:left;}
.ratelist-item .info{ margin-bottom: 10px;color: #999; height:18px;line-height: 18px;}
.ratelist-item .info .rate-status { float: left;font-style: normal; height:18px;}
.common-rating{ display:inline-block; width:70px; height:14px; background:url(../img/ecsc_rating_hui.png) repeat-x;}
.common-rating .rate-stars{ display:inline-block; height:14px; line-height:12px; background:url(../img/ecsc_rating_huan.png) repeat-x;}
.ratelist-item .common-rating{ margin:2px 0;}
.ratelist-item .hqrate-badge{ color:#999; font-weight:normal; margin-left:10px;vertical-align: middle; line-height:24px;}
.ratelist-item  dl{ overflow:hidden; margin-top:10px;}
.ratelist-item .hf{ margin-top:10px;}
.ratelist-item .conmm-tags{ background:#fff; border:1px solid #dfc39e; margin-right:10px;}
.comment-operate{ float:right; width:100%; text-align:right; margin-top:10px;}
.comment-operate .reply,.comment-operate .nice{ position:relative; padding-left:20px; color:#666;font-family:"microsoft yahei"; margin-left:30px; cursor:pointer;}
.comment-operate i{ display:inline-block; width:14px; height:14px; position:absolute; top:2px;}
.comment-operate .reply i{ background-position: -176px -262px; left:0px;}
.comment-operate .nice i{ background-position:-197px -262px; left:0;} 
.reply-textarea{ float:right; width:100%;}
.reply-textarea .inner{ border:1px solid #dcdcdc;}
.reply-textarea .inner textarea{ width:555px; padding:5px; border:0; outline:0; height:45px;}
.reply-textarea .reply-arrow{ width: 100%;height: 12px;position: relative;bottom: -1px;}
.reply-textarea .reply-arrow .layer{ display:inline-block; position:absolute; width:14px; height:14px; background:#FFF url(../img/ecsc_icon.png) -220px -263px no-repeat; right:81px;}
.btnbox{ text-align:right; margin:10px 0 0px; position:relative;}
.btnbox .reply-submit{ cursor:pointer; border:0; height:30px; line-height:30px; padding:0 18px; color:#fff; background:#aeaeae; outline:0;}
.btnbox span{ position:absolute; top:0px; left:0px; color:#ec5051}
.ratelist-history{ float:left; width:190px; color:#999; margin-top:28px;}
.ratelist-history .history-title, .ratelist-history .history-add-time{ display:inline-block;}
.ratelist-history .history-title{ width:100%;}
.ratelist-history .history-add-time{ padding-top:10px;}
.pages26{ overflow:hidden;}
.pages26 .pages{ margin:20px 0 0 0; float:right; text-align:right;}
.pages26 .pages .pages-it{ width:auto;}
.pages26 .pages ul{ *float:right;}
.pages26 .pages li{ width:26px; height:26px; line-height:26px;font-size:12px; float:left;}
.pages26 .pages li a{ width:24px;height:24px; line-height:24px;color:#666; border:1px solid #fff; float:left;}
.pages26 .pages li.current a,.pages26 .pages li a:hover{ border: 1px solid #ff0006;}
.pages26 .pages li.previous,.pages26 .pages li.nextious{ height:26px;}
.pages26 .pages li.previous a,.pages26 .pages li.nextious a{ *line-height:26px;}
.pages26 .pages li.nextious{ margin-right:0; margin-left:5px;}
.pages26 .pages .previous i,.pages26 .pages .nextious i{ display:none;}
.shaidan{ margin-top:10px;}
.shaidan .ratelist-item{ padding-top:20px;}
.p-show-img{ margin:15px 0 10px;}
.p-show-img ul{ float:left;}
.p-show-img ul li{ float:left; margin-right: 8px;}
.p-show-img .show-number { display: inline-block;margin: 50px 0 0 10px;color: #999;}
.p-show-img .view-show{ display: inline-block;margin: 50px 0 0 10px;color: #3a78bf;}
.p-photos{ padding-top:15px;float:left;}
.p-photos .p-photos-viewer{ padding:0 30px; float:left;}
.p-photos .p-photos-wrap{ position:relative;}
.p-photos .p-photos-wrap .bd li{ float:left; width:292px;}
.p-photos .p-photos-wrap .hd{ margin-top:12px;}
.p-photos .p-photos-wrap .hd ul{ float:left; width:300px;}
.p-photos .p-photos-wrap .hd li{ float:left; width:65px; height:65px; margin-right:8px; border:1px solid #fff; cursor:pointer; overflow:hidden;}
.p-photos .p-photos-wrap .hd li.on{ border-color:#ff0006;}
.photo_prev,.photo_next{ position:absolute; width:16px; height:25px; background:url(../img/ecsc_icon.png) no-repeat; top:132px;}
.photo_prev{ background-position:-242px -174px; left:-30px;}
.photo_next{ background-position:-265px -174px; right:-30px;}
.p-photos .show-number{ float:left; margin:350px 0 0 -20px; color: #999;}
.p-photos .view-hide{ float:left; margin:350px 0 0 10px;color: #3a78bf;}

.tiezi{ margin-top:10px; background:none; margin-bottom:0; padding-bottom:20px;}
.tiezi .goods-detail-title .tabs{ border:0;}
.tiezi .goods-detail-title .tabs li{ border:0; line-height:normal; padding:0; height:32px;}
.tiezi .goods-detail-title .tabs li a{ color:#333; padding:1px 35px; display:block; border-right:1px solid #c9c9c9; margin:5px 0;}
.tiezi .goods-detail-title .tabs li a:hover{ color:#ff0006;}
.tiezi .goods-detail-title .tabs .current a{ color:#fff; border-right:0;}
.tiezi .goods-detail-title .tabs .current a:hover{ color:#fff;}
.tiezi .goods-detail-title .tabs .first{ margin:0;}

.tiezi .table{ font-size:14px; overflow:hidden; margin-top:20px;}
.tiezi .thead{ float:left;}
.tiezi .tbody{ float:left; margin-top: 10px; padding-bottom: 10px; border-bottom:1px solid #dcdcdc;}
.tiezi .th{ border-bottom:1px solid #dcdcdc; padding-bottom:10px;}
.tiezi .th,.tiezi .td{ float:left; line-height:40px;}
.tiezi .td{ font-size:12px;}
.tiezi .td .s1{ padding-left:28px;}
.tiezi .td .s1 a,.Discuss .table .s1 a{ width:auto; max-width: 500px;height: 40px;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tiezi .td .s1 img{ margin-top:-33px; *margin-top:0px;}
.tie_icon{ width:20px; height:20px; display:block; position:absolute; left:0; top:10px; background:url(../img/ecsc_icon_two.png) no-repeat;}
.tie_icon.shai{ background-position:-130px 0px;}
.tie_icon.tao{ background-position:-130px -19px;}
.tie_icon.quan{ background-position:-130px -39px;}
.tie_icon.wen{ background-position:-130px -59px;}

.tiezi .tr{ float:left;}
.tiezi .td img{float: none;display: inline-block;vertical-align: middle;}
.tiezi .td1{ width:605px; position:relative;}
.tiezi .td2{ width:105px;}
.tiezi .td3{ width:115px;}
.tiezi .td4{ width:120px;}
.tiezi .tfoot{ float:left; width:100%; height:30px; line-height:30px; font-size:12px; margin-top:10px;}
.tiezi .tfoot span{ color:#999; margin-right:10px;}
.tiezi .tfoot a{ color:#3a78bf;}
.tiezi .tfoot a:hover{ color:#ff0006;}



























/* ************************* FOOTER ************************* */

.footer {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    font-size: 12px;
    background-color: #fff;
}
.footer ul {
    list-style: none;
}

.brand-wrapper {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 1px #ddd;
}

.brand-list {
    height: 80px;
    margin-bottom: 30px;
    padding-top: 30px;

    padding-left: 60px;


}

.footer-list {
    margin-top: 40px;
    height: 220px;
}

.footer-list .tels {
    position: relative;
}

.footer-list .tels .btn-ctn{
    position: absolute;
    top: 100px;
    left: 0;
    display:block; 
    width:140px; 
    height:30px; 
    line-height:30px; 
    background-color:#ff0006;
    text-align:center; 
    color:#fff; 
    font-size:14px;
}

.footer-list .tels .btn-ctn .iconfont{ 
    display:inline-block; 
    font-size:24px; 
    vertical-align:middle; 
    margin-right:1px;
    color:#fff;
}


.brand-list li {
    float: left;
    width: 180px;
    text-align: center;
}


.footer-list ul {
    margin-left: 64px;
}

.footer-list ul h3 {
    margin-bottom: 16px;
}

.footer-list ul li {
    margin-bottom: 10px;
    font-size: 13px;
}


.footer-bar-wrapper {
    height: 220px;
    padding-bottom: 22px;
    background-color: #222;
}

.footer-items {
    width: 720px;
    margin: 0 auto;
    padding: 46px 0 8px;
    text-align: center;
}

.footer-items li {
    float: left;
    margin-left: 4px;
}

.footer-items li a {
    color: #ccc;
}

.footer-copy {
    padding-top: 18px;
    color: #ccc;
    text-align: center;
}

.footer-copy a {
    color: #ccc;
}

.copy-img {
    margin-top: 36px;
    text-align: center;
}