/****** CSSRESET******/
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 14.7px;
   font: inherit;
   vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: Microsoft Yahei,SimSun,Helvetica;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


h1 { font-size: 24px; font-weight: bold;}

h2 { font-size: 20px; font-weight: bold;}

h3 { font-size: 16px; font-weight: bold;}

h4 { font-size: 14px; font-weight: bold;}

h5 { font-size: 13px; font-weight: bold;}

h6 { font-size: 12px; font-weight: bold;}

p { font-size: 10px; }

input { outline: none; }

.flt { float: left;}
.frt { float: right;}

.clearfix { clear: both; zoom: 1;}

body {
  overflow-x: hidden;
}



/* *************************************** */
.wrapper {
  display: block;
  margin-left: -10px;
  position: relative;
  width: 1920px;
}



@media (max-width:1600px) {
  .wrapper {
    margin-left: -170px;
    position: relative;
    width: 1920px;
  }
}

@media (max-width:1440px) {
  .wrapper {
    margin-left: -260px;
    position: relative;
    width: 1920px;
  }
}

@media (max-width:1366px) {
  .wrapper {
    margin-left: -293px;
    position: relative;
    width: 1920px;
  }
}

@media (max-width:1360px) {
  .wrapper {
    margin-left: -296px;
    position: relative;
    width: 1920px;
  }
}

@media (max-width:1280px) {
  .wrapper {
    margin-left: -330px;
    position: relative;
    width: 1920px;
  }
}

@media (max-width:1200px) {
  .wrapper {
    margin-left: -350px;
    position: relative;
    width: 1920px;
  }
}

.wrapper {
  height: 12024px;
  overflow: hidden;
}

.wrapper .back {
  /* position: relative;
  z-index: -10; */
  width: 1910px;
  height: 12024px;
  overflow: hidden;
}

.back .img1 {
  display: block;
  width: 1910px;
  height: 3342px;
}

.back .img2 {
  display: block;
  width: 1910px;
  height: 2125px;
}

.back .img3 {
  display: block;
  width: 1910px;
  height: 2133px;
}

.back .img4 {
  display: block;
  width: 1910px;
  height: 2052px;
}

.back .img5 {
  display: block;
  width: 1910px;
  height: 2358px;
}


.floor-active {
  position: absolute;
  top: 20%;
  left: 23%;
  width: 1050px;
  height: 810px;
}


.floor-active .active-top {
  width: 1050px;
  height: 20%;
  margin-top: 230px;
}

.active-content {
  width: 100%;
  padding-top: 220px;
}

.active-btn {
  margin: 0 auto;

  width: 360px;
  height: 64px;

}

.active-btn .left {
  width: 45%;
  height: 100%;
  margin-right: 8%;
}

.active-btn .right {
  width: 45%;
  height: 100%;
}

.active-left {
  margin-left: -30px;
}

.active-right {
  margin-top: 10px;
  margin-right: -10px;
}


.floor2-one {
  position: absolute;
  top: 16%;
  left: 23%;
  width: 900px;
  height: 810px;
}

.floor2-two {
  position: absolute;
  top: 33.5%;
  left: 23%;
  width: 900px;
  height: 810px;
}

.floor2-three {
  position: absolute;
  top: 51%;
  left: 23%;
  width: 900px;
  height: 810px;
}

.floor2-four {
  position: absolute;
  top: 69%;
  left: 23%;
  width: 900px;
  height: 810px;
}

.floor2-five {
  position: absolute;
  top: 86%;
  left: 23%;
  width: 900px;
  height: 810px;
}

.floor2-six {
  position: absolute;
  top: 63.5%;
  left: 23%;
  width: 1050px;
  height: 460px;
}

.floor2-seven {
  position: absolute;
  top: 73%;
  left: 23%;
  width: 1050px;
  height: 460px;
}

.floor2-eight {
  position: absolute;
  top: 79%;
  left: 23%;
  width: 1050px;
  height: 460px;
}

.floor2-nine {
  position: absolute;
  top: 85.3%;
  left: 23%;
  width: 1050px;
  height: 460px;
}

.floor2-nine .hot-list-items li {
  position: relative;
  float: left;
  width: 25%;
  margin: 0 2.3%;
  margin-bottom: 2%;
  height: 70%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  
  border: solid 2px rgba(165, 0, 6, 1);
  box-shadow: 0 0 10px 2px rgba(155,115,115, .2);
}

.floor2-eight .hot-list-items li {
  position: relative;
  float: left;
  width: 25%;
  margin: 0 2.3%;
  margin-bottom: 2%;
  height: 70%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  border: solid 2px rgba(165, 0, 6, 1);
  box-shadow: 0 0 10px 2px rgba(155,115,115, .2);
}



.floor2-seven .hot-list-items li {
  position: relative;
  float: left;
  width: 25%;
  margin: 0 2.3%;
  margin-bottom: 2%;
  height: 70%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  border: solid 2px rgba(165, 0, 6, 1);
  box-shadow: 0 0 10px 2px rgba(155,115,115, .2);
}

.floor2-six .hot-list-items {
  width: 960px;
  margin-left: -46px;
}

.floor2-six .hot-list-items li {
  position: relative;
  float: left;
  width: 25%;
  margin: 0 .8%;
  margin-bottom: 2%;
  height: 70%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  border: solid 2px rgba(165, 0, 6, 1);
  box-shadow: 0 0 10px 2px rgba(155,115,115, .2);
}



.floor2-five .hot-list-items {
  width: 960px;
  margin-left: 60px;
}

.floor2-five .hot-list-items li {
    width: 20%;
    margin: 0 2.2%;
    margin-top: 6%;
}


.floor2-four .hot-list-items {
  width: 960px;
  margin-left: 60px;
}

.floor2-four .hot-list-items li {
  width: 20%;
  margin: 0 2.2%;
  margin-top: 6%;
}


.floor2-one .hot-list-items {
  width: 960px;
  margin-left: 51px;
}

.floor2-one .hot-list-items li {
  width: 20%;
  margin: 0 2.2%;
  margin-top: 6%;
}


.floor2-two .hot-list-items {
  width: 960px;
  margin-left: 52px;
}

.floor2-two .hot-list-items li {
  width: 20%;
  margin: 0 2.2%;
  margin-top: 6%;
}


.floor2-three .hot-list-items {
  width: 960px;
  margin-left: 54px;
}



.floor2-three .hot-list-items li {
    width: 20%;
    margin: 0 2.2%;
    margin-top: 6%;
}


.hot-list-items {
  position: relative;
  margin-top: -10px;
  width: 100%;
  height: 100%;
}

.hot-list-items li {
  position: relative;
  float: left;
  width: 20%;
  margin: 0 2.3%;
  margin-bottom: 2%;
  height: 30%;
  overflow: hidden;
  background-color: #fff;
  border: solid 2px #ff2832;
  box-shadow: 0 0 10px 2px rgba(155,115,115, .2);
}

.hot-list-items li .image {
  margin: 0 auto;
  margin-top: 60px;
  width: 84%;
  height: 64%;
  overflow: hidden;
}

.hot-list-items li .image img {
  display: block;
  width: 100%;
 /* transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;*/
}

/*
.hot-list-items li:hover .image>img {
  display: block;
  margin-top: -5%;
  margin-left: -5%;
  width: 110%;
}*/

.hot-list-items li h3 {
  position: absolute;
  left: 8%;
  top: 4%;
  display: -webkit-box;
  width: 84%;
  height: 17%;
  font-size: 14.7px;
  color: #333;
  line-height: 20px;
  border-bottom: dashed 2px #ff2832;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

.hot-list-items li span {
  position: absolute;
  left: 100px;
  bottom: 14px;
  font-size: 13%;
  color: #999;
  line-height: 22px;
  text-decoration-line: line-through;
  text-decoration: line-through;
}

.hot-list-items .price {
  position: absolute;
  left: 8px;
  bottom: 14px;
  padding-left: 2px;
  color: #ff2832;
  font-size: 1.4em;
}

.hot-list-items .price b {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}

.hot-list-items li:hover{
  box-shadow: 0 0 10px 2px rgba(155,115,115, .4);
}

.hot-list-items .items-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
 
  background-color: #fff;
  height: 50px;
  width: 100%;
}

.cart {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 40%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.cart .icon-carts {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 34px;
  font-size: 18px;
  background-color: #ff2832;
  border: solid 2px #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #f0f0f0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.cart .tuan {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ff2832;
  line-height: 30px;
  font-size: 0px;
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 #ff2832;
  background-image: url(../img/tuan.png);
  background-position: 1px;
  background-repeat: no-repeat;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-tansition: all .5s;
}

.cart a:link {
  text-decoration: none;
}

.cart .tuan:hover {
  background-image: url(../img/tuan.png);
  background-position: 1px;
  background-repeat: no-repeat;
}

.cart .icon-carts:hover {
  background-color: #fff;
  border: solid 2px #ff2832;
  color: #ff2832;
}


.btn-more {
  position: absolute;
  left: 30%;
  bottom: 10px;
  width: 362px;
  height: 56px;
}

.retop{
  position: absolute;
  bottom: 50px;
  left: 42.6%;
  z-index: 1000;
  width: 300px;
  height: 210px;
  background-image: url(../img/return.png);
  background-repeat: no-repeat;
}




/************************** FONT_FACE ******************************/

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1486452679920'); /* IE9*/
  src: url('../font/iconfont.eot?t=1486452679920#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1486452679920') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1486452679920') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1486452679920#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-sign:before { content: "\e601"; }

.icon-food:before { content: "\e616"; }

.icon-heal:before { content: "\e617"; }

.icon-shoes:before { content: "\e618"; }

.icon-jia:before { content: "\e64b"; }

.icon-liebiao:before { content: "\e655"; }

.icon-baby:before { content: "\e61a"; }

.icon-read:before { content: "\e60e"; }

.icon-edit1:before { content: "\e64e"; }

.icon-home:before { content: "\e660"; }

.icon-package:before { content: "\e64d"; }

.icon-plus:before { content: "\e637"; }

.icon-gou:before { content: "\e666"; }

.icon-car:before { content: "\e651"; }

.icon-xia:before { content: "\e6cd"; }

.icon-home-store:before { content: "\e63f"; }

.icon-info-sign:before { content: "\e78a"; }

.icon-remove-alt:before { content: "\e7de"; }

.icon-clothes:before { content: "\e61c"; }

.icon-password:before { content: "\e644"; }

.icon-cate:before { content: "\e696"; }

.icon-carts:before { content: "\e61b"; }

.icon-reduce:before { content: "\e63b"; }

.icon-share:before { content: "\e656"; }

.icon-store:before { content: "\e612"; }

.icon-mobile-phone-alt:before { content: "\e63a"; }

.icon-tel:before { content: "\e65c"; }

.icon-jiubei:before { content: "\e652"; }

.icon-share-alt:before { content: "\e6a1"; }

.icon-mobile-phone:before { content: "\e648"; }

.icon-zan-alt:before { content: "\e631"; }

.icon-shuiguo:before { content: "\e674"; }

.icon-ok:before { content: "\e60f"; }

.icon-left-alt:before { content: "\e6a4"; }

.icon-zan:before { content: "\e668"; }

.icon-switch:before { content: "\e679"; }

.icon-makeup:before { content: "\e61d"; }

.icon-jinkou:before { content: "\e75e"; }

.icon-comment:before { content: "\e642"; }

.icon-rotate:before { content: "\e627"; }

.icon-order:before { content: "\e611"; }

.icon-remove:before { content: "\e604"; }

.icon-email:before { content: "\e605"; }

.icon-jucha2:before { content: "\e672"; }

.icon-grin:before { content: "\e638"; }

.icon-columns:before { content: "\e619"; }

.icon-bed:before { content: "\e61e"; }

.icon-eye-open:before { content: "\e613"; }

.icon-ele:before { content: "\e61f"; }

.icon-identity:before { content: "\e68a"; }

.icon-cart-alt:before { content: "\e603"; }

.icon-kefu:before { content: "\e639"; }

.icon-security:before { content: "\e607"; }

.icon-light:before { content: "\e623"; }

.icon-article:before { content: "\e658"; }

.icon-zheng:before { content: "\e628"; }

.icon-map-marker:before { content: "\e610"; }

.icon-edit-alt:before { content: "\e69b"; }

.icon-truck-alt:before { content: "\e654"; }

.icon-computer:before { content: "\e620"; }

.icon-coll:before { content: "\e63e"; }

.icon-weizhi:before { content: "\e65e"; }

.icon-icon02:before { content: "\e659"; }

.icon-liangyoufushi1:before { content: "\e8cd"; }

.icon-see:before { content: "\e608"; }

.icon-time:before { content: "\e678"; }

.icon-password-alt:before { content: "\e66b"; }

.icon-book:before { content: "\e689"; }

.icon-picture:before { content: "\e6c1"; }

.icon-crown:before { content: "\e721"; }

.icon-settled:before { content: "\e614"; }

.icon-money:before { content: "\e65d"; }

.icon-tangdou:before { content: "\e6de"; }

.icon-close:before { content: "\e64c"; }

.icon-drug:before { content: "\e629"; }

.icon-examine:before { content: "\e6dc"; }

.icon-remaichanpin:before { content: "\e6ef"; }

.icon-shangpin:before { content: "\e9ab"; }

.icon-browse:before { content: "\e615"; }

.icon-care:before { content: "\e686"; }

.icon-outdoors:before { content: "\e6b8"; }

.icon-cha:before { content: "\e66c"; }

.icon-returntop:before { content: "\e65a"; }

.icon-books:before { content: "\e621"; }

.icon-cart:before { content: "\e6cc"; }

.icon-truck:before { content: "\e6fe"; }

.icon-complete:before { content: "\e602"; }

.icon-tubiaozhizuomoban:before { content: "\e657"; }

.icon-search:before { content: "\e662"; }

.icon-rotate-alt:before { content: "\e6bf"; }

.icon-edit:before { content: "\e673"; }

.icon-confirm:before { content: "\e67a"; }

.icon-success:before { content: "\e653"; }

.icon-digital:before { content: "\e6fb"; }

.icon-name:before { content: "\e6a0"; }

.icon-thumb:before { content: "\e649"; }

.icon-email-alt:before { content: "\e600"; }

.icon-file:before { content: "\e60d"; }

.icon-alipay:before { content: "\e72f"; }

.icon-csu:before { content: "\e69f"; }

.icon-qi:before { content: "\e626"; }

.icon-watch:before { content: "\e622"; }

.icon-map-marker-alt:before { content: "\e606"; }

.icon-left:before { content: "\e609"; }

.icon-down:before { content: "\e60a"; }

.icon-up:before { content: "\e60b"; }

.icon-right:before { content: "\e60c"; }

.icon-trophy:before { content: "\e625"; }

.icon-switch-list:before { content: "\e624"; }

.icon-switch-grid:before { content: "\e62a"; }

.icon-store-alt:before { content: "\e63c"; }

.icon-qq:before { content: "\e62c"; }

.icon-weibo:before { content: "\e62d"; }

.icon-weibos:before { content: "\e62e"; }

.icon-qqs:before { content: "\e62f"; }

.icon-wechat:before { content: "\e630"; }

.icon-Pay:before { content: "\e632"; }

.icon-Pays:before { content: "\e633"; }

.icon-wechats:before { content: "\e634"; }

.icon-friends:before { content: "\e635"; }

.icon-qq-space:before { content: "\e636"; }

.icon-hint:before { content: "\e63d"; }

.icon-arrow-down:before { content: "\e640"; }

.icon-arrow-up:before { content: "\e641"; }

.icon-collection:before { content: "\e643"; }

.icon-collection-alt:before { content: "\e645"; }

.icon-zan-alts:before { content: "\e646"; }

.icon-qr-code:before { content: "\e647"; }

.icon-bind:before { content: "\e65b"; }

.icon-arrow-right-alt:before { content: "\e62b"; }

.icon-add-quer:before { content: "\e64a"; }

.icon-up1:before { content: "\e64f"; }

.icon-down1:before { content: "\e650"; }

.icon-up-alt:before { content: "\e9ac"; }

.icon-right-alt:before { content: "\e9ad"; }

.icon-down-alt:before { content: "\e9ae"; }

.icon-arrow-average:before { content: "\e65f"; }