

/* ***************** global ******************* */
body {
   background-color: #f3f3f5;
   overflow: auto;
}

.container {
	height: 100vh;
	width: 100%;
	min-width: 1280px;
   background-color: #fff;
}

.label {
	display: inline-block;
	width: 60px;	
}

.input-default {
	padding: 8px 20px;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
}

.input-default:focus {
	border: solid 1px #f81828;
}

.alert {
   position: fixed;
   left: 30vw;
   z-index: 20000;
   width: 40vw;
   height: 80vh;
   margin-top: 10vh;
   background-color: #fff;
	vertical-align: middle;
	border-radius: 5px;
}

.alert-header {
	box-sizing: border-box;
	width: 100%;
	padding: 30px 0 30px;
	border-bottom: solid 1px #f9f9f9;
}

.alert-header h3 {
   text-align: center;
}

.alert-body {
	box-sizing: border-box;
	padding: 30px;
}

.alert-body h4{
   font-size: 16px;
   line-height: 30px;
   font-weight: normal;
}

.alert-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 30px 0 30px;
   text-align: center;
}

.select {
	margin-left: 30px;
	width: 100px;
	color: #777;
	line-height: 20px;
	border: solid 1px #d9d9d9;
}

.select>option {
	color: #777;
	line-height: 20px;
}

/* h4 {
	display: inline;
	padding-left: 4px;
	font-size: 16px;
	font-weight: normal;
	color: #666;
} */

h3 {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	color: #666;
}

button {
	width: 102px;
	height: 32px;
	font-size: 13px;
	color: #fff;
	background-color: #00c4de;
	cursor: pointer;
}



.btn-default {
	padding: 4px 10px;
	font-size: 13px;
	color: #666;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.btn-default:hover {
	color: #fff;
	background-color: #f81828;
	border: solid 1px #f81828;
}

.btn-small {
	width: 60px;
	padding: 4px 5px;
	font-size: 13px;
	color: #666;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.btn-small:hover {
	color: #fff;
	background-color: #f81828;
	border: solid 1px #f81828;
}






















.table {
	margin-top: 30px;
	width: 960px;
	border-left: solid 1px #e8e8e8;
	border-top: solid 1px #e8e8e8;
}

.table span {
	box-sizing: border-box;
	border-right: solid 1px #e8e8e8;
    
    
}

.table-header {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	text-align: center;
	border-bottom: solid 1px #e8e8e8;
}

.table-body {

}

.table-body .items {
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	text-align: center;
	border-bottom: solid 1px #e8e8e8;
}






.form-container {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000;
   display: none;
   width: 100vw;
   height: 100vh;
   background-color: rgba(1, 13, 37, .15);
}


.form {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000;
   width: 620px;
   height: 100vh;
   background-color: #fff;
}

.form-header {
   height: 80px;
   line-height: 80px
}

.form-body {
   padding-right: 20px;
   text-align: right;
}

.form-body .form-items {
   height: 40px;
}


.form-body .form-items label {
   display: inline-block;
   width: 80px;
   margin-right: 20px;
   text-align: right;
   font-size: 13px;
   color: #666;
}

.form-body .form-items label i {
   color: #f81828;
}

.form-body .form-items .section {
   box-sizing: border-box;
   width: 446px;
   height: 30px;
   padding: 0 30px;
   color: brown;
   border: solid 1px #e8e8e8;
   transition: all .2s;
   
}

.form-body .form-items .section:hover {
   border: solid 1px #999;
}

.form-footer {
   padding-top: 20px;
   text-align: center;
}

.form-footer button {
   width: 80px;
   height: 32px;
}

.form-footer .put {
   margin-right: 20px;
   color: #fff;
   background-color: #00c4de;
}

.form-footer .cancel {
   width: 80px;
   height: 32px;
   color: #666;
   background-color: #fff;
   border: solid 1px #ccc;
}
